<div class="main-content">
    <div class="container-fluid">
        <div class="col">
            <div class="card">
                <div class="card-header card-header-info">
                    <h4 class="card-title">Visualizar Proyecto</h4>
                    <p class="card-category">Modulo de Registro</p>
                </div>
                <div class="card-body">
                    <fieldset class="col px-3">
                        <mat-horizontal-stepper *ngIf="!showSpiner" #stepper>
                            <ng-template matStepperIcon="call">
                                <mat-icon>record_voice_over</mat-icon>
                            </ng-template>
                            <ng-template matStepperIcon="registry">
                                <mat-icon>app_registration</mat-icon>
                            </ng-template>
                            <mat-step label="Selección de convocatoria" state="call" [stepControl]="callId">
                                <app-project-requirement-view [project]="project"></app-project-requirement-view>
                            </mat-step>
                            <mat-step label="Proyecto registrado" state="registry">
                                <mat-horizontal-stepper *ngIf="!showSpiner" #stepper>
                                    <ng-template matStepperIcon="data">
                                        <mat-icon>all_inbox</mat-icon>
                                    </ng-template>
                                    <ng-template matStepperIcon="problem">
                                        <mat-icon>disc_full</mat-icon>
                                    </ng-template>
                                    <ng-template matStepperIcon="goal">
                                        <mat-icon>golf_course</mat-icon>
                                    </ng-template>
                                    <ng-template matStepperIcon="methodology">
                                        <mat-icon>timeline</mat-icon>
                                    </ng-template>
                                    <ng-template matStepperIcon="viability">
                                        <mat-icon>flaky</mat-icon>
                                    </ng-template>
                                    <ng-template matStepperIcon="bibliography">
                                        <mat-icon>bookmarks</mat-icon>
                                    </ng-template>
                                    <mat-step label="Datos Generales" state="data">
                                        <app-general-data-view [project]="project"></app-general-data-view>
                                    </mat-step>
                                    <mat-step label="Diagnóstico y Problema" state="problem">
                                        <app-diagnosis-and-problem-view [project]="project"></app-diagnosis-and-problem-view>
                                    </mat-step>
                                    <mat-step label="Objetivos" state="goal">
                                        <app-goal-view [project]="project"></app-goal-view>
                                    </mat-step>
                                    <mat-step label="Metodología para la investigación" state="methodology">
                                        <ckeditor data="{{project.researchMethodology}}" [editor]="editor" (ready)="onReady($event)"></ckeditor>
                                    </mat-step>
                                    <mat-step label="Viabilidad y plan de sostenibilidad" state="viability">
                                        <app-viability-view [project]="project"></app-viability-view>
                                    </mat-step>
                                    <mat-step label="Bibliografía" state="bibliography">
                                        <table class="table table-striped" [dataSource]="project.bibliographyList" matSort mat-table>
                                            <ng-container matColumnDef="title">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Título</th>
                                                <td mat-cell *matCellDef="let bibliography">{{bibliography.title}}</td>
                                            </ng-container>
                                            <ng-container matColumnDef="author">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Autores</th>
                                                <td mat-cell *matCellDef="let bibliography">{{bibliography.author}}</td>
                                            </ng-container>
                                            <ng-container matColumnDef="year">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Año</th>
                                                <td mat-cell *matCellDef="let bibliography">{{bibliography.year}}</td>
                                            </ng-container>
                                            <tr mat-header-row *matHeaderRowDef="bibliographyColumns"></tr>
                                            <tr mat-row *matRowDef="let row; columns: bibliographyColumns;"></tr>
                                        </table>
                                    </mat-step>
                                </mat-horizontal-stepper>
                            </mat-step>
                        </mat-horizontal-stepper>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="delete-view loading" *ngIf="showSpiner">
    <div class="spinner">
        <mat-spinner color="primary"></mat-spinner>
        <mat-label>cargando ...</mat-label>
    </div>
</div>