<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header card-header-info">
            <h4 class="card-title">Visualizar Publicación</h4>
            <p class="card-category">Módulo de Registro</p>
          </div>
          <div class="card-body">
            <fieldset class="col-12 col-md-12 px-3">
              <legend class="text-success">Datos de la Publicación:</legend>
              <div class="row">
                <div class="col">
                  <mat-form-field class="example-full-width">
                    <mat-label>Código de la Publicación</mat-label>
                    <input matInput name="name" readonly [(value)]="publications.id">
                  </mat-form-field>
                </div>
              </div>
               <div class="row">
                  <div class="col">
                    <mat-form-field class="example-full-width">
                      <mat-label>Código IES</mat-label>
                      <input matInput name="callArea" readonly [(value)]="publications.codIES">
                    </mat-form-field>
                  </div>
              </div>
              <div class="row">
                  <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Tipo de la Publicación</mat-label>
                        <input matInput name="callArea" readonly [(value)]="publications.type">
                      </mat-form-field>
                  </div>
                  <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Tipo de Artículo</mat-label>
                        <input matInput name="callArea" readonly [(value)]="publications.articleType">
                      </mat-form-field>
                  </div>
                <div class="col">
                  <mat-form-field class="example-full-width">
                    <mat-label>Codigo de Publicación</mat-label>
                    <input matInput name="callArea" readonly [(value)]="publications.codPUB">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                  <div class="col">
                    <mat-form-field class="example-full-width">
                      <mat-label>Título de la Publicación</mat-label>
                      <input matInput name="callArea" readonly  [(value)]="publications.title">
                    </mat-form-field>
                  </div>
              </div>
              <div class="row">
                  <div class="col">
                    <mat-form-field class="example-full-width">
                      <mat-label>Base de Datos Indexada</mat-label>
                      <input matInput name="callArea" readonly  [(value)]="publications.indexBase">
                    </mat-form-field>
                  </div>
              </div>
              <div class="row">
                  <div class="col">
                    <mat-form-field class="example-full-width">
                      <mat-label>Identificador de Publicación (ISSN)</mat-label>
                      <input matInput name="callArea" readonly  [(value)]="publications.codeISS">
                    </mat-form-field>
                  </div>
              </div>
              <div class="row">
                  <div class="col">
                    <mat-form-field class="example-full-width">
                      <mat-label>Nombre de la Revista</mat-label>
                      <input matInput name="callArea" readonly  [(value)]="publications.magazineName">
                    </mat-form-field>
                  </div>
              </div>
              <div class="row">
                  <div class="col">
                    <mat-form-field class="example-full-width">
                      <mat-label>Cuartil</mat-label>
                      <input matInput name="callArea" readonly  [(value)]="publications.quartile">
                    </mat-form-field>
                  </div>
              </div>
              <div class="row">
                  <div class="col">
                    <mat-form-field class="example-full-width">
                      <mat-label>Número de la Revista</mat-label>
                      <input matInput name="callArea" readonly  [(value)]="publications.magazineNumber">
                    </mat-form-field>
                  </div>
              </div>
              <div class="row">
                  <div class="col">
                    <mat-form-field class="example-full-width">
                      <mat-label>SJR</mat-label>
                      <input matInput name="callArea" readonly  [(value)]="publications.sjr">
                    </mat-form-field>
                  </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field class="example-full-width">
                    <mat-label>Fecha de la Publicación</mat-label>
                    <input matInput name="callArea" readonly  [(value)]="publications.publicationDate">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                  <div class="col">
                    <mat-form-field class="example-full-width">
                      <mat-label>Detalle de la Publicación</mat-label>
                      <input matInput name="callArea" readonly  [(value)]="publications.detailField">
                    </mat-form-field>
                  </div>
              </div>
              <div class="row">
                  <div class="col">
                    <mat-form-field class="example-full-width">
                      <mat-label>Estado de la Publicación</mat-label>
                      <input matInput name="callArea" readonly  [(value)]="publications.condition">
                    </mat-form-field>
                  </div>
              </div>
              <div class="row">
                  <div class="col">
                    <mat-form-field class="example-full-width">
                      <mat-label>Link de la Publicación</mat-label>
                      <input matInput name="callArea" readonly  [(value)]="publications.publicationLink">
                    </mat-form-field>
                  </div>
              </div>
              <div class="row">
                  <div class="col">
                    <mat-form-field class="example-full-width">
                      <mat-label>Link de la Revista</mat-label>
                      <input matInput name="callArea" readonly  [(value)]="publications.magazineLink">
                    </mat-form-field>
                  </div>
              </div>
              <div class="row">
                  <div class="col">
                    <mat-form-field class="example-full-width">
                      <mat-label>Fiiliación de la Publicación</mat-label>
                      <div *ngIf="publications.filiation">
                        <input matInput name="callArea" readonly>Si
                      </div>
                      <div *ngIf="!publications.filiation">
                        <input matInput name="callArea" readonly>No
                      </div>
                    </mat-form-field>
                  </div>
              </div>
              <div class="row">
                  <div class="col">
                    <mat-form-field class="example-full-width">
                      <mat-label>Participación</mat-label>
                      <input matInput name="callArea" readonly [(value)]="publications.competitor">
                    </mat-form-field>
                  </div>
              </div>
              <div class="row">
                  <div class="col">
                    <mat-form-field class="example-full-width">
                      <mat-label>Observaciones</mat-label>
                      <input matInput name="callArea" readonly [(value)]="publications.observation">
                    </mat-form-field>
                  </div>
              </div>
              <div class="row">
                  <div class="col">
                    <mat-form-field class="example-full-width">
                      <mat-label>Duración</mat-label>
                      <input matInput name="callArea" readonly [(value)]="publications.duration">
                    </mat-form-field>
                  </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field class="example-full-width">
                    <mat-label>Aprobación</mat-label>
                    <input matInput name="callArea" readonly [(value)]="publications.aprobation">
                  </mat-form-field>
                </div>
            </div>
            <div class="row">
              <div class="col">
                <mat-form-field class="example-full-width">
                  <mat-label>Observaciones</mat-label>
                  <input matInput name="callArea" readonly [(value)]="publications.observations">
                </mat-form-field>
              </div>
          </div> 
            </fieldset>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="delete-view loading" *ngIf="showSpiner">
  <div class="spinner">
    <mat-spinner color="primary"></mat-spinner>
    <mat-label>cargando ...</mat-label>
  </div>
</div>
