<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header card-header-success">
            <div class="row">
              <div class="col-md-8">
                <h4 class="card-title">Tabla de Notificación</h4>
                <p class="card-category">Módulo de Administración</p>
              </div>
              <div class="col-md-4">
                <mat-card>
                  <div class="example-button-row">
                    <div class="d-inline-block search-special">
                      <input aria-label="search" [(ngModel)]="search" placeholder="Buscar en la Tabla..." type="text">
                      <button aria-label="filter" class="btn btn-just-icon btn-round" (click)="filterDataTable()" color="primary" mat-icon-button matTooltip="Buscar Notificación"
                        type="submit">
                        <mat-icon>search</mat-icon>
                      </button>
                    </div>
                    <div class="d-inline-block create-update">
                      <button aria-label="add" class="btn btn-just-icon btn-round" color="primary" mat-icon-button matTooltip="Agregar Notificación"
                        [routerLink]="['../notification/form']" type="submit">
                        <mat-icon>add</mat-icon>
                      </button>
                    </div>
                  </div>
                </mat-card>
              </div>
            </div>
          </div>
          <div class="card-body col">
            <fieldset class="col-12 col-md-12 px-3">
              <div class="table-responsive" *ngIf="notificationList?.length!=0 else elseBlock">
                <table class="table" [dataSource]="dataSource" matSort mat-table>
                  <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Título</th>
                    <td mat-cell *matCellDef="let notification">{{notification.title}}</td>
                  </ng-container>
                  <ng-container matColumnDef="username">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Usuario</th>
                    <td mat-cell *matCellDef="let notification">{{notification.username}}</td>
                  </ng-container>
                  <ng-container matColumnDef="recentState">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Visto</th>
                    <td mat-cell *matCellDef="let notification">
                      <div class="form-check">
                        <label class="form-check-label">
                          <input [checked]="notification.recentState" class="form-check-input" onclick="return false;" type="checkbox">
                          <span class="form-check-sign">
                            <span class="check"></span>
                          </span>
                        </label>
                      </div>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
                    <td mat-cell *matCellDef="let notification">{{notification.date}}</td>
                  </ng-container>
                  <ng-container matColumnDef="hour">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Hora</th>
                    <td mat-cell *matCellDef="let notification">{{notification.hour}}</td>
                  </ng-container>
                  <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Acciones</th>
                    <td mat-cell *matCellDef="let notification">
                      <div class="example-button-row">
                        <button aria-label="view" class="btn btn-just-icon btn-outline-info btn-round" matTooltip="Visualizar Notificación"
                          [routerLink]="['../notificationView',notification.id]">
                          <mat-icon>visibility</mat-icon>
                        </button>
                        <button aria-label="update" class="btn btn-just-icon btn-outline-warning btn-round" matTooltip="Actualizar Notificación"
                          [routerLink]="['../notification/form',notification.id]">
                          <mat-icon>brush</mat-icon>
                        </button>
                        <button aria-label="delete" class="btn btn-just-icon btn-outline-danger btn-round" (click)="delete(notification)" matTooltip="Eliminar Notificación">
                          <mat-icon>delete</mat-icon>
                        </button>
                      </div>
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
              </div>
              <ng-template class="alert alert-dark" #elseBlock>
                No existen registros en la base de datos
              </ng-template>
            </fieldset>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="delete-view loading" *ngIf="showSpiner">
  <div class="spinner">
    <mat-spinner color="primary"></mat-spinner>
    <mat-label>cargando ...</mat-label>
  </div>
</div>