<form [formGroup]="form">
    <div class="table-responsive" *ngIf="annexList?.length!=0 else elseBlock">
        <table class="table" [dataSource]="dataSource" matSort mat-table>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Annexo</th>
                <td mat-cell *matCellDef="let annex">{{annex.name}}</td>
            </ng-container>
            <ng-container matColumnDef="file">
                <th mat-header-cell *matHeaderCellDef>Archivo</th>
                <td mat-cell *matCellDef="let annex">
                    <div class="fileInput">
                        <label for="anexFile{{annex.id}}">{{files["annexFile"+annex.id]}}</label>
                        <input accept="application/pdf, .doc,.docx,.xml,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                            (change)="setFile($event,annex)" class="file-input" id="anexFile{{annex.id}}" name="anexFile{{annex.id}}" placeholder="Seleccionar..." type="file">
                        <button aria-label="Seleccionar archivo">
                            <mat-icon>attach_file</mat-icon>
                        </button>
                    </div>
                    <mat-error *ngIf="fullForm.get('annexFile' + annex.id).invalid">
                        <div>
                            El documento para {{annex.name}} es requerido
                        </div>
                    </mat-error>
                </td>
            </ng-container>
            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef>Descripción</th>
                <td mat-cell *matCellDef="let annex">
                    <mat-form-field appearance="outline" class="example-full-width">
                        <textarea formControlName="annexFileDescription{{annex.id}}" matInput name="description"></textarea>
                    </mat-form-field>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <ng-template class="alert alert-dark" #elseBlock>
        No existen registros en la base de datos
    </ng-template>
</form>
<div class="delete-view loading" *ngIf="showSpiner">
    <div class="spinner">
        <mat-spinner color="primary"></mat-spinner>
        <mat-label>cargando ...</mat-label>
    </div>
</div>