<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header card-header-info">
            <h4 class="card-title">Registro de los entregables</h4>
            <p class="card-category">Módulo de Registro</p>
          </div>
          <div class="card-body">
            <fieldset class="col-12 col-md-12 px-3">
              <legend class="text-success">Datos de las Actividades:</legend>
              <div class="row">
                <div class="col">
                  <mat-form-field class="example-full-width">
                    <mat-label>Nombre Proyecto</mat-label>
                    <input matInput name="name" readonly [(value)]="project.nameSpanish">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field class="example-full-width">
                    <mat-label>Nombre</mat-label>
                    <input matInput name="name" readonly [(value)]="goalActivity.name">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field class="example-full-width">
                    <mat-label>Presupuesto actual</mat-label>
                    <input matInput name="currentBudget" readonly [(value)]="goalActivity.currentBudget">
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="example-full-width">
                    <mat-label>Presupuesto de inversión</mat-label>
                    <input matInput name="investmentBudget" readonly [(value)]="goalActivity.investmentBudget">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field class="example-full-width">
                    <mat-label>Nombre entreable</mat-label>
                    <input matInput name="deliverable" readonly [(value)]="goalActivity.deliverable">
                  </mat-form-field>
                </div>
              </div>
            </fieldset>
            <form [formGroup]="form">
              <fieldset class="col-12 col-md-12 px-3">
                <legend class="text-success">Datos del Entregable:</legend>
                <div class="row">
                  <div class="col">
                    <mat-form-field class="example-full-width">
                      <mat-label>Descripcion</mat-label>
                      <input formControlName="description" matInput name="description" type="text">
                    </mat-form-field>
                  </div>
                  <div class="col">
                    <mat-form-field>
                      <mat-label>Archivo</mat-label>
                      <ngx-mat-file-input formControlName="file"
                        accept="application/pdf, .doc,.docx,.xml,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document">
                      </ngx-mat-file-input>
                    </mat-form-field>
                  </div>
                </div>
              </fieldset>
              <div class="clearfix">
                <button class="btn btn-danger pull-right" (click)='save()' [disabled]="!form.valid" mat-raised-button
                  type="submit">Registrar Entregables</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="delete-view loading" *ngIf="showSpiner">
  <div class="spinner">
    <mat-spinner color="primary"></mat-spinner>
    <mat-label>cargando ...</mat-label>
  </div>
</div>
