@mixin media-breakpoint-down-or($breakpoint, $name) {
  #{unquote($name)} {
    @content;
  }

  @include media-breakpoint-down($breakpoint) {
    @content;
  }
}

@mixin media-breakpoint-up-or($breakpoint, $name) {
  #{unquote($name)} {
    @content;
  }

  @include media-breakpoint-up($breakpoint) {
    @content;
  }
}
@function breakpoint-previous($name, $breakpoints: $grid-breakpoints, $breakpoint-names: map-keys($breakpoints)) {
  $n: index($breakpoint-names, $name);
  @return if($n > 1, nth($breakpoint-names, $n - 1), null);
}
