$ct-scales: (
    (1),
    (15/16),
    (8/9),
    (5/6),
    (4/5),
    (3/4),
    (2/3),
    (5/8),
    (1/1.618),
    (3/5),
    (9/16),
    (8/15),
    (1/2),
    (2/5),
    (3/8),
    (1/3),
    (1/4)
) !default;
$ct-scales-names: (
    ct-square,
    ct-minor-second,
    ct-major-second,
    ct-minor-third,
    ct-major-third,
    ct-perfect-fourth,
    ct-perfect-fifth,
    ct-minor-sixth,
    ct-golden-section,
    ct-major-sixth,
    ct-minor-seventh,
    ct-major-seventh,
    ct-octave,
    ct-major-tenth,
    ct-major-eleventh,
    ct-major-twelfth,
    ct-double-octave
) !default;

$ct-class-chart: ct-chart !default;
$ct-class-chart-line: ct-chart-line !default;
$ct-class-chart-bar: ct-chart-bar !default;
$ct-class-horizontal-bars: ct-horizontal-bars !default;
$ct-class-chart-pie: ct-chart-pie !default;
$ct-class-chart-donut: ct-chart-donut !default;
$ct-class-label: ct-label !default;
$ct-class-series: ct-series !default;
$ct-class-line: ct-line !default;
$ct-class-point: ct-point !default;
$ct-class-area: ct-area !default;
$ct-class-bar: ct-bar !default;
$ct-class-slice-pie: ct-slice-pie !default;
$ct-class-slice-donut: ct-slice-donut !default;
$ct-class-grid: ct-grid !default;
$ct-class-slice-donut-solid: ct-slice-donut-solid !default;
$ct-class-grid-background: ct-grid-background !default;
$ct-class-vertical: ct-vertical !default;
$ct-class-horizontal: ct-horizontal !default;
$ct-class-start: ct-start !default;
$ct-class-end: ct-end !default;

// Container ratio
$ct-container-ratio: (1/1.618) !default;

// Text styles for labels
$ct-text-color: rgba(0, 0, 0, 0.4) !default;
$ct-text-size: 1.3rem !default;
$ct-text-align: flex-start !default;
$ct-text-justify: flex-start !default;
$ct-text-line-height: 1;

// Grid styles
$ct-grid-color: rgba(0, 0, 0, 0.2) !default;
$ct-grid-dasharray: 2px !default;
$ct-grid-width: 1px !default;
$ct-grid-background-fill: none !default;

// Line chart properties
$ct-line-width: 4px !default;
$ct-line-dasharray: false !default;
$ct-point-size: 10px !default;

$ct-point-shape: round !default;
$ct-area-opacity: 0.1 !default;

$ct-bar-width: 10px !default;
$ct-donut-width: 60px !default;

$ct-include-classes: true !default;

$ct-include-colored-series: $ct-include-classes !default;

$ct-include-alternative-responsive-containers: $ct-include-classes !default;

$ct-series-names: (a, b, c, d, e, f, g, h, i, j, k, l, m, n, o) !default;
$ct-series-colors: (
    $brand-info,
    $brand-danger,
    $brand-warning,
    $brand-primary,
    $brand-success,
    $font-background-light-grey,
    $gray-color,
    $social-google,
    $social-tumblr,
    $social-youtube,
    $social-twitter,
    $social-pinterest,
    $social-behance,
    #6188e2,
    #a748ca
) !default;
