<div class="row">
    <div class="col">
        <mat-form-field class="example-full-width">
            <mat-label>Viabilidad Técnica</mat-label>
            <textarea matInput name="technicalViability" readonly [(value)]="project.technicalViability"></textarea>
        </mat-form-field>
    </div>
</div>
<div class="row">
    <div class="col">
        <mat-form-field class="example-full-width">
            <mat-label>Equipamiento tecnológico disponible</mat-label>
            <textarea matInput name="technologicalEquipment" readonly [(value)]="project.technologicalEquipment"></textarea>
        </mat-form-field>
    </div>
</div>
<div class="row">
    <div class="col">
        <mat-form-field class="example-full-width">
            <mat-label>¿Qué perdería el país si el proyecto no se ejecuta en este periodo?</mat-label>
            <textarea matInput name="reasonProjectExecution" readonly [(value)]="project.reasonProjectExecution"></textarea>
        </mat-form-field>
    </div>
</div>
<br>
<h3>Resultados o impactos esperados del proyecto</h3>
<div class="row">
    <div class="col">
        <mat-form-field class="example-full-width">
            <mat-label>Impacto social</mat-label>
            <textarea matInput name="impactSocialResult" readonly [(value)]="project.impactSocialResult"></textarea>
        </mat-form-field>
    </div>
    <div class="col">
        <mat-form-field class="example-full-width">
            <mat-label>Impacto científico</mat-label>
            <textarea matInput name="impactScientificResult" readonly [(value)]="project.impactScientificResult"></textarea>
        </mat-form-field>
    </div>
</div>
<div class="row">
    <div class="col">
        <mat-form-field class="example-full-width">
            <mat-label>Impacto económico</mat-label>
            <textarea matInput name="impactEconomicResult" readonly [(value)]="project.impactEconomicResult"></textarea>
        </mat-form-field>
    </div>
    <div class="col">
        <mat-form-field class="example-full-width">
            <mat-label>Impacto político</mat-label>
            <textarea matInput name="impactPoliticalResult" readonly [(value)]="project.impactPoliticalResult"></textarea>
        </mat-form-field>
    </div>
</div>
<div class="row">
    <div class="col">
        <mat-form-field class="example-full-width">
            <mat-label>Otro impacto</mat-label>
            <textarea matInput name="impactOtherResult" readonly [(value)]="project.impactOtherResult"></textarea>
        </mat-form-field>
    </div>
</div>
<br>
<div class="row">
    <div class="col">
        <mat-form-field class="example-full-width">
            <mat-label>Análisis de impacto ambiental</mat-label>
            <textarea matInput name="environmentalImpactAnalysis" readonly [(value)]="project.environmentalImpactAnalysis"></textarea>
        </mat-form-field>
    </div>
</div>
<div class="row">
    <div class="col">
        <mat-form-field class="example-full-width">
            <mat-label>Sostenibilidad social: equidad, género, participación ciudadana</mat-label>
            <textarea matInput name="socialSustainability" readonly [(value)]="project.socialSustainability"></textarea>
        </mat-form-field>
    </div>
</div>
<div class="row">
    <div class="col">
        <mat-form-field class="example-full-width">
            <mat-label>Difusión y transferencia tecnológica</mat-label>
            <textarea matInput name="technologyTransfer" readonly [(value)]="project.technologyTransfer"></textarea>
        </mat-form-field>
    </div>
</div>
<div class="row">
    <div class="col">
        <mat-form-field class="example-full-width">
            <mat-label>Artículos científicos</mat-label>
            <textarea matInput name="scientificArticle" readonly [(value)]="project.scientificArticle"></textarea>
        </mat-form-field>
    </div>
</div>
<div class="row">
    <div class="col">
        <mat-form-field class="example-full-width">
            <mat-label>Prototipos</mat-label>
            <textarea matInput name="prototype" readonly [(value)]="project.prototype"></textarea>
        </mat-form-field>
    </div>
</div>
<div class="row">
    <div class="col">
        <mat-form-field class="example-full-width">
            <mat-label>Registro de propiedad intelectual</mat-label>
            <textarea matInput name="intellectualProperty" readonly [(value)]="project.intellectualProperty"></textarea>
        </mat-form-field>
    </div>
</div>
<div class="row">
    <div class="col">
        <mat-form-field class="example-full-width">
            <mat-label>Empresas Spin Offs</mat-label>
            <textarea matInput name="spinOffs" readonly [(value)]="project.spinOffs"></textarea>
        </mat-form-field>
    </div>
</div>
<div class="row">
    <div class="col">
        <mat-form-field class="example-full-width">
            <mat-label>Otros: Difisión</mat-label>
            <textarea matInput name="diffusion" readonly [(value)]="project.diffusion"></textarea>
        </mat-form-field>
    </div>
</div>