<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header" [class]="form.get('id').value ? 'card-header-warning' :'card-header-success'">
            <h4 class="card-title">{{title}}</h4>
            <p class="card-category">Módulo de Administración</p>
          </div>
          <div class="card-body">
            <form [formGroup]="form">
              <fieldset class="col-12 col-md-12 px-3">
                <legend class="text-success">Datos Noticia:</legend>
                <div class="row">
                  <div class="col">
                    <mat-form-field class="example-full-width">
                      <mat-label>Título</mat-label>
                      <input formControlName="title" matInput name="title" type="text">
                      <mat-error *ngIf="newsTitle.invalid && (newsTitle.dirty || newsTitle.touched)">
                        El título de la Noticia es requerido
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col">
                    <mat-form-field class="example-full-width">
                      <mat-label>Subtítulo</mat-label>
                      <input formControlName="subtitle" matInput name="subtitle" type="text">
                      <mat-error *ngIf="subtitle.invalid && (subtitle.dirty || subtitle.touched)">
                        El subtítulo de la Noticia es requerido
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <mat-form-field appearance="fill" class="example-full-width">
                      <mat-label>Periodo de la Noticia</mat-label>
                      <mat-date-range-input [rangePicker]="picker">
                        <input formControlName="startDate" matInput matStartDate name="startDate" placeholder="Fecha de inicio" readonly>
                        <input formControlName="endDate" matEndDate matInput name="endDate" placeholder="Fecha de fin" readonly>
                      </mat-date-range-input>
                      <mat-error *ngIf="startDate.invalid && (startDate.dirty || startDate.touched)">
                        La fecha de inicio es requerida
                      </mat-error>
                      <mat-error *ngIf="endDate.invalid && (endDate.dirty || endDate.touched)">
                        La fecha de fin es requerida
                      </mat-error>
                      <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
                      <mat-date-range-picker color="accent" #picker startView="year"></mat-date-range-picker>
                    </mat-form-field>
                  </div>
                  <div class="col">
                    <mat-form-field class="example-full-width">
                      <mat-label>Cuerpo de la Noticia</mat-label>
                      <textarea formControlName="body" matInput name="body"></textarea>
                      <mat-error *ngIf="body.invalid && (body.dirty || body.touched)">
                        El cuerpo de la Noticia es requerido
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <div class="custom-file inputContainer float-right" *ngIf="form.value.id">
                      <mat-label>Imagen actual</mat-label>
                      <div class="box">
                        <img class="rounded show" src="{{urlEndpoint}}/{{form.value.id}}" />
                        <label>{{form.value.title}}</label>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="custom-file inputContainer float-left">
                      <mat-label>Imagen Noticia</mat-label>
                      <input accept="image/*" (change)="selectImage($event)" class="inputImage" type="file">
                      <div class="box">
                        <ng-container *ngIf="isImageSaved;">
                          <img class="rounded" [src]="imageUrl" />
                        </ng-container>
                        <label>{{fileName}}</label>
                      </div>
                      <a class="btn btn-danger" (click)="removeImage()" *ngIf="isImageSaved">Remove</a>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <section class="example-section" *ngIf="form.value.id && !isImageSaved">
                      <mat-checkbox class="example-margin" formControlName="update">Actualizar con imagen creada por el sistema</mat-checkbox>
                    </section>
                  </div>
                </div>
              </fieldset>
              <div class="clearfix">
                <button class="btn btn-danger pull-right" (click)='save()' [disabled]="!form.valid" mat-raised-button type="submit">{{title}}</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="delete-view loading" *ngIf="showSpiner">
  <div class="spinner">
    <mat-spinner color="primary"></mat-spinner>
    <mat-label>cargando ...</mat-label>
  </div>
</div>