.box {
    background-color: #f2f2f2;
    border: dashed 0.1em #d3d3d3;
    border-radius: 1em;
    height: auto;
    margin: auto;
    width: auto;
}
.inputContainer {
    height: 100%;
    margin: auto;
    width: 100%;
    max-width: 22em;
}
.inputImage {
    height: 100%;
    opacity: 0;
    position: absolute;
    width: 100%;
}
img {
    cursor: pointer;
    display: block;
    height: 100%;
    margin-left: 1em;
    margin-top: 1em;
    margin-right: 2em;
    max-width: 20em;
    width: 90%;
}
label {
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
}
