<mat-horizontal-stepper #stepper>
    <ng-template matStepperIcon="bibliography">
        <mat-icon>bookmarks</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="add">
        <mat-icon>bookmark_add</mat-icon>
    </ng-template>
    <mat-step label="Bibliografía" state="bibliography">
        <table class="table table-striped" [dataSource]="dataSource" matSort mat-table>
            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Título</th>
                <td mat-cell *matCellDef="let bibliography">{{bibliography.title}}</td>
            </ng-container>
            <ng-container matColumnDef="year">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Año</th>
                <td mat-cell *matCellDef="let bibliography">{{bibliography.year}}</td>
            </ng-container>
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</th>
                <td mat-cell *matCellDef="let bibliography">
                    <div class="example-button-row">
                        <button aria-label="delete" (click)="delete(bibliography)" color="warn" mat-mini-fab matTooltip="Eliminar referencia bibliográfica">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-step>
    <mat-step label="Registrar referencia bibliográfica" state="add">
        <form [formGroup]="form">
            <fieldset>
                <legend class="text-success">Datos de referencia bibliográfica:</legend>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="example-full-width">
                            <mat-label>Título</mat-label>
                            <input formControlName="title" matInput name="title" type="text">
                            <mat-error *ngIf="title.invalid && (title.dirty || title.touched)">
                                El título de la referencia bibliográfica es requerido
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="example-full-width">
                            <mat-label>Autores</mat-label>
                            <input formControlName="author" matInput name="author" type="text">
                            <mat-error *ngIf="author.invalid && (author.dirty || author.touched)">
                                Los autores de la referencia bibliográfica son requeridos
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-2">
                        <mat-form-field class="example-full-width">
                            <mat-label>Año</mat-label>
                            <input formControlName="year" (keypress)="onlyNumber($event)" matInput name="year" type="number">
                            <mat-error *ngIf="year.invalid && (year.dirty || year.touched)">
                                El año de la referencia bibliográfica es requerido
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-check">
                            <section class="example-section">
                                <mat-checkbox (change)="check($event.checked)" formControlName="website" name="website">Sitio web</mat-checkbox>
                            </section>
                        </div>
                    </div>
                </div>
                <div *ngIf="website.value == false else elseBlock">
                    <div class="row">
                        <div class="col">
                            <mat-form-field class="example-full-width">
                                <mat-label>Editorial</mat-label>
                                <input formControlName="editorial" matInput name="editorial" type="text">
                                <mat-error *ngIf="editorial.invalid && (editorial.dirty || editorial.touched)">
                                    La editorial de la referencia bibliográfica es requerida
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field class="example-full-width">
                                <mat-label>Ciudad</mat-label>
                                <input formControlName="city" matInput name="city" type="text">
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field class="example-full-width">
                                <mat-label>País</mat-label>
                                <input formControlName="country" matInput name="country" type="text">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <ng-template #elseBlock>
                    <div class="row">
                        <div class="col">
                            <mat-form-field class="example-full-width">
                                <mat-label>Nombre de la página</mat-label>
                                <input formControlName="pageName" matInput name="pageName" type="text">
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field class="example-full-width">
                                <mat-label>Url</mat-label>
                                <input formControlName="url" matInput name="url" type="text">
                                <mat-error *ngIf="url.invalid && (url.dirty || url.touched)">
                                    <div *ngIf="url.errors.url">
                                        {{url.errors.url.message}}
                                    </div>
                                    <div *ngIf="url.errors.required">
                                        La url de la referencia bibliográfica es requerida
                                    </div>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </ng-template>
            </fieldset>
            <div class="clearfix">
                <button class="btn btn-danger pull-right" (click)='save(stepper)' [disabled]="!form.valid" mat-raised-button type="submit">Agregar referencia bibliográfica</button>
            </div>
        </form>
    </mat-step>
</mat-horizontal-stepper>