@use '~@angular/material' as mat;
@import "~@angular/material/theming";
@include mat.core();

$create: mat.define-palette(mat.$green-palette, 800);
$delete: mat.define-palette(mat.$red-palette, 500);
$search: mat.define-palette(mat.$indigo-palette, 900);
$special: mat.define-palette(mat.$blue-palette, 500);
$special1: mat.define-palette(mat.$purple-palette, 300);
$special2: mat.define-palette(mat.$deep-orange-palette, 300);
$update: mat.define-palette(mat.$yellow-palette, 700);
$view: mat.define-palette(mat.$light-blue-palette, 200);

$create-update: mat.define-light-theme($create, $update);

$delete-view: mat.define-light-theme($delete, $view);

$search-special: mat.define-light-theme($search, $special);

$specials: mat.define-light-theme($special1, $special2);
