<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">{{getTitle}}</h4>
                        <p class="card-category">Módulo de Registro</p>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="getForm">
                            <fieldset class="col-12 col-md-12 px-3">
                                <legend class="text-success">Datos de la Institución Externa:</legend>
                                <div class="row">
                                    <div class="col-md-12">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Nombre de Institución</mat-label>
                                            <input formControlName="name" matInput name="name" type="text">
                                            <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">
                                                El nombre de la Institución Externa es requerido
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Representante Legal (Nombres y Apellidos)</mat-label>
                                            <input formControlName="legalRepresentative" matInput name="legalRepresentative" type="text">
                                            <mat-error *ngIf="legalRepresentative.invalid && (legalRepresentative.dirty || legalRepresentative.touched)">
                                                Representante legal para la Institución Externa no válido
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Cédula de Identidad</mat-label>
                                            <input formControlName="legalRepresentativeId" matInput name="legalRepresentativeId" type="text">
                                            <mat-error *ngIf="legalRepresentativeId.invalid && (legalRepresentativeId.dirty || legalRepresentativeId.touched)">
                                                Identificación del representante legal no válida
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Teléfono</mat-label>
                                            <input formControlName="phone" matInput name="phone" type="tel">
                                            <mat-error *ngIf="phone.invalid && (phone.dirty || phone.touched)">
                                                {{phone.errors.phone.message}}
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Fax</mat-label>
                                            <input formControlName="fax" matInput name="fax" type="text">
                                            <mat-error *ngIf="fax.invalid && (fax.dirty || fax.touched)">
                                                {{fax.errors.fax.message}}
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Correo electrónico</mat-label>
                                            <input formControlName="email" matInput name="email" type="email">
                                            <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">
                                                <div *ngIf="email.errors.cemail">
                                                    {{email.errors.cemail.message}}
                                                </div>
                                                <div *ngIf="email.errors.email">
                                                    Correo electrónico no válido
                                                </div>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Dirección (Calle principal, numeración, calle secundaria, Ciudad)</mat-label>
                                            <input formControlName="address" matInput name="address" type="text">
                                            <mat-error *ngIf="address.invalid && (address.dirty || address.touched)">
                                                <div *ngIf="address.errors.address">
                                                    {{address.errors.address.message}}
                                                </div>
                                                <div *ngIf="address.errors.required">
                                                    Dirección de la Institución Externa requerida
                                                </div>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Página web Institucional</mat-label>
                                            <input formControlName="url" matInput name="url" type="url">
                                            <mat-error *ngIf="url.invalid && (url.dirty || url.touched)">
                                                {{url.errors.url.message}}
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Órgano Ejecutor</mat-label>
                                            <input formControlName="executingAgency" matInput name="executingAgency" type="text">
                                            <mat-error *ngIf="executingAgency.invalid && (executingAgency.dirty || executingAgency.touched)">
                                                Órgano ejecutor de la Institución Externa no válido
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="clearfix">
                                <button class="btn btn-danger pull-right" (click)='save()' [disabled]="!getForm.valid" mat-raised-button type="submit">{{getTitle}}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>