<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header card-header-success">
                        <div class="row">
                            <div class="col-md-8">
                                <h4 class="card-title">Tabla de Noticias</h4>
                                <p class="card-category">Módulo de Administración</p>
                            </div>
                            <div class="col-md-4">
                                <mat-card>
                                    <div class="example-button-row">
                                        <div class="d-inline-block search-special">
                                            <input aria-label="search" [(ngModel)]="search" placeholder="Buscar en la Tabla..." type="text">
                                            <button aria-label="filter" class="btn btn-just-icon btn-round" (click)="filterDataTable()" color="primary" mat-icon-button
                                                matTooltip="Buscar Noticia" type="submit">
                                                <mat-icon>search</mat-icon>
                                            </button>
                                        </div>
                                        <div class="d-inline-block create-update">
                                            <button aria-label="add" class="btn btn-just-icon btn-round" color="primary" mat-icon-button matTooltip="Agregar Noticia"
                                                [routerLink]="['../news/form']" type="submit">
                                                <mat-icon>add</mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                </mat-card>
                            </div>
                        </div>
                    </div>
                    <div class="card-body col">
                        <div class="table-responsive" *ngIf="newsList?.length!=0 else elseBlock">
                            <table class="table" [dataSource]="dataSource" matSort mat-table>
                                <ng-container matColumnDef="title">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Título</th>
                                    <td mat-cell *matCellDef="let news">{{news.title}}</td>
                                </ng-container>
                                <ng-container matColumnDef="subtitle">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Subtítulo</th>
                                    <td mat-cell *matCellDef="let news">{{news.subtitle}}</td>
                                </ng-container>
                                <ng-container matColumnDef="startDate">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Inicio</th>
                                    <td mat-cell *matCellDef="let news">{{news.startDate}}</td>
                                </ng-container>
                                <ng-container matColumnDef="endDate">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Fin</th>
                                    <td mat-cell *matCellDef="let news">{{news.endDate}}</td>
                                </ng-container>
                                <ng-container matColumnDef="actions">
                                    <th mat-header-cell *matHeaderCellDef>Acciones</th>
                                    <td mat-cell *matCellDef="let news">
                                        <div class="example-button-row">
                                            <button aria-label="view" class="btn btn-just-icon btn-outline-info btn-round" matTooltip="Visualizar Noticia"
                                                [routerLink]="['../newsView',news.id]">
                                                <mat-icon>visibility</mat-icon>
                                            </button>
                                            <button aria-label="update" class="btn btn-just-icon btn-outline-warning btn-round" matTooltip="Actualizar Noticia"
                                                [routerLink]="['../news/form',news.id]">
                                                <mat-icon>brush</mat-icon>
                                            </button>
                                            <button aria-label="delete" class="btn btn-just-icon btn-outline-danger btn-round" (click)="delete(news)" matTooltip="Eliminar Noticia">
                                                <mat-icon>delete</mat-icon>
                                            </button>
                                        </div>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                        </div>
                        <ng-template class="alert alert-dark" #elseBlock>
                            No existen registros en la base de datos
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="delete-view loading" *ngIf="showSpiner">
    <div class="spinner">
        <mat-spinner color="primary"></mat-spinner>
        <mat-label>cargando ...</mat-label>
    </div>
</div>