<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Visualizar Usuario</h4>
            <p class="card-category">Módulo de seguridad</p>
          </div>
          <div class="card-body">
            <form>
              <fieldset class="col-12 col-md-12 px-3">
                <legend class="text-success">Datos de Usuario:</legend>
                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <mat-label>Username</mat-label>
                      <input matInput name="username" [(ngModel)]="getUserGeneral.username" readonly>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <mat-label>Nombres</mat-label>
                      <input matInput name="name" [(ngModel)]="getUserGeneral.name" readonly>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <mat-list class="example-full-width">
                      <mat-label>Roles Asignados</mat-label>
                      <mat-list-item *ngFor="let role of getRoleList">
                        <mat-icon mat-list-icon>remove</mat-icon>
                        <mat-label>{{role.name}}</mat-label>
                        <mat-divider></mat-divider>
                      </mat-list-item>
                    </mat-list>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <mat-label>Email</mat-label>
                      <input matInput name="email" [(ngModel)]="getUserGeneral.email" readonly>
                    </mat-form-field>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
