<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header card-header-success">
              <div class="row">
                <div class="col-md-8">
                  <h4 class="card-title">Tabla de Libro</h4>
                  <p class="card-category">Módulo de Planificación</p>
                </div>
                <div class="col-md-4">
                  <mat-card>
                    <div class="example-button-row">
                      <div class="d-inline-block search-special">
                        <input aria-label="search" [(ngModel)]="search" placeholder="Buscar en la Tabla..." type="text">
                        <button aria-label="filter" class="btn btn-just-icon btn-round" (click)="filterDataTable()"
                          color="primary" mat-icon-button matTooltip="Buscar Libro" type="submit">
                          <mat-icon>search</mat-icon>
                        </button>
                      </div>
                      <!-- <div class="d-inline-block create-update">
                        <button aria-label="create" class="btn btn-just-icon btn-round" color="primary" mat-icon-button
                          matTooltip="Crear Libro" [routerLink]="['../books/form']" type="submit">
                          <mat-icon>add</mat-icon>
                        </button>
                      </div> -->
                    </div>
                  </mat-card>
                </div>
              </div>
            </div>
            <div class="card-body col">
              <div class="table-responsive" *ngIf="booksList?.length!=0 else elseBlock">
                <table class="table" [dataSource]="dataSource" matSort mat-table>
                  <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Código del libro</th>
                    <td mat-cell *matCellDef="let books">{{books.id}}</td>
                  </ng-container>
                  <ng-container matColumnDef="planning">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Código de la Planificación</th>
                    <td mat-cell *matCellDef="let books">{{books.planning.id}}</td>
                  </ng-container>
                  <ng-container matColumnDef="codIES">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Código IES</th>
                    <td mat-cell *matCellDef="let books">{{books.codIES}}</td>
                  </ng-container>
                  <ng-container matColumnDef="publicationType">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo de la Publicación</th>
                    <td mat-cell *matCellDef="let books">{{books.publicationType}}</td>
                  </ng-container>
                  <ng-container matColumnDef="codPUB">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Código de la Publicación</th>
                    <td mat-cell *matCellDef="let books">{{books.codPUB}}</td>
                  </ng-container>
                  <ng-container matColumnDef="bookTitle">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre del Libro</th>
                    <td mat-cell *matCellDef="let books">{{books.bookTitle}}</td>
                  </ng-container>
                  <ng-container matColumnDef="codISB">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Identificador del Libro (ISBN)</th>
                    <td mat-cell *matCellDef="let books">{{books.codISB}}</td>
                  </ng-container>
                  <ng-container matColumnDef="publicationDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de la Publicación</th>
                    <td mat-cell *matCellDef="let books">{{books.publicationDate}}</td>
                  </ng-container>
                  <ng-container matColumnDef="detailField">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Detalle de la Publicación</th>
                    <td mat-cell *matCellDef="let books">{{books.detailField}}</td>
                  </ng-container>
                  <ng-container matColumnDef="peerReviewed">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Revisión por Pares</th>
                    <td mat-cell *matCellDef="let books">{{books.peerReviewed}}</td>
                  </ng-container>
                  <ng-container matColumnDef="filiation">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Filiación de la publicación</th>
                    <td mat-cell *matCellDef="let books">
                      <div *ngIf="books.filiation">
                        Si
                      </div>
                      <div *ngIf="!books.filiation">
                        No
                      </div>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="competitor">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Participación</th>
                    <td mat-cell *matCellDef="let books">{{books.competitor}}</td>
                  </ng-container>
                  <ng-container matColumnDef="duration">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Duración</th>
                    <td mat-cell *matCellDef="let books">{{books.duration}}</td>
                  </ng-container>
                  <ng-container matColumnDef="complete">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Completado</th>
                    <td mat-cell *matCellDef="let books">
                      <div *ngIf="books.complete">
                        Si
                      </div>
                      <div *ngIf="!books.complete">
                        No
                      </div>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="aprobation">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Aprobación</th>
                    <td mat-cell *matCellDef="let books">{{books.aprobation}}</td>
                  </ng-container>
                  <ng-container matColumnDef="observations">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Observaciones</th>
                    <td mat-cell *matCellDef="let books">{{books.observations}}</td>
                  </ng-container>
                  <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Acciones</th>
                    <td mat-cell *matCellDef="let books">
                      <div class="example-button-row">
                        <button aria-label="view" class="btn btn-just-icon btn-outline-info btn-round"
                          matTooltip="Visualizar Libro" [routerLink]="['../booksView',books.id]">
                          <mat-icon>visibility</mat-icon>
                        </button>
                        <div *ngIf="books.planning.aprobation">
                        <button aria-label="update" class="btn btn-just-icon btn-outline-warning btn-round"
                          matTooltip="Modificar Libro" [routerLink]="['../books/form',books.id]">
                          <mat-icon>brush</mat-icon>
                        </button>
                        </div>
                        <!-- <button aria-label="delete" class="btn btn-just-icon btn-outline-danger btn-round"
                          (click)="delete(books)" matTooltip="Eliminar Libro">
                          <mat-icon>delete</mat-icon>
                        </button> -->
                      </div>
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
              </div>
              <ng-template class="alert alert-dark" #elseBlock>
                No existen registros en la base de datos
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="delete-view loading" *ngIf="showSpiner">
    <div class="spinner">
      <mat-spinner color="primary"></mat-spinner>
      <mat-label>cargando ...</mat-label>
    </div>
  </div>
  