<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <div class="row">
                            <div class="col-md-8">
                                <h4 class="card-title ">Universidad</h4>
                                <p class="card-category">Módulo de Registro</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <fieldset class="col-12 col-md-12 px-3">
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-card>
                                        <mat-card-content>
                                            <p>Departamento</p>
                                            <img mat-card-image src="/assets/img/departamento.jpg" />
                                        </mat-card-content>
                                        <mat-card-actions>
                                            <button class="btn btn-danger" mat-button [routerLink]="['collegeDepartment']">
                                                <mat-icon aria-hidden="false" class="btn-danger">check</mat-icon>
                                                Seleccionar
                                            </button>
                                        </mat-card-actions>
                                    </mat-card>
                                </div>
                                <div class="col-md-4">
                                    <mat-card>
                                        <mat-card-content>
                                            <p>Carrera</p>
                                            <img mat-card-image src="/assets/img/carrera.jpeg" />
                                        </mat-card-content>
                                        <mat-card-actions>
                                            <button class="btn btn-danger" mat-button [routerLink]="['collegeCareer']">
                                                <mat-icon aria-hidden="false" class="btn-danger">check</mat-icon>
                                                Seleccionar
                                            </button>
                                        </mat-card-actions>
                                    </mat-card>
                                </div>
                                <div class="col-md-4">
                                    <mat-card>
                                        <mat-card-content>
                                            <p>Programa Postgrado</p>
                                            <img mat-card-image src="/assets/img/postgrado.jpg" />
                                        </mat-card-content>
                                        <mat-card-actions>
                                            <button class="btn btn-danger" mat-button [routerLink]="['postgraduateProgram']">
                                                <mat-icon aria-hidden="false" class="btn-danger">check</mat-icon>
                                                Seleccionar
                                            </button>
                                        </mat-card-actions>
                                    </mat-card>
                                </div>
                            </div>
                            <div class="row justify-content-md-center">
                                <div class="col-md-4">
                                    <mat-card>
                                        <mat-card-content>
                                            <p>Programa Universitario</p>
                                            <img mat-card-image src="/assets/img/programa.png" />
                                        </mat-card-content>
                                        <mat-card-actions>
                                            <button class="btn btn-danger" mat-button [routerLink]="['program']">
                                                <mat-icon aria-hidden="false" class="btn-danger">check</mat-icon>
                                                Seleccionar
                                            </button>
                                        </mat-card-actions>
                                    </mat-card>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>