<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Visualizar Institución Involucrada</h4>
                        <p class="card-category">Módulo de Registro</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <fieldset class="col-12 col-md-12 px-3">
                                <legend class="text-success">Datos de la Institución Involucrada:</legend>
                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Nombre</mat-label>
                                            <input matInput name="name" [(ngModel)]="getInstitutionInvolved.name" readonly type="text">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Dirección</mat-label>
                                            <input matInput name="address" [(ngModel)]="getInstitutionInvolved.address" readonly type="text">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Correo</mat-label>
                                            <input matInput name="email" [(ngModel)]="getInstitutionInvolved.email" readonly type="text">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Teléfono</mat-label>
                                            <input matInput name="phone" [(ngModel)]="getInstitutionInvolved.phone" readonly type="text">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Fax</mat-label>
                                            <input matInput name="fax" [(ngModel)]="getInstitutionInvolved.fax" readonly type="text">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <a [href]="[getInstitutionInvolved.url]" *ngIf="getInstitutionInvolved.url!=null">{{[getInstitutionInvolved.name]}}</a>
                                            <mat-label>URL</mat-label>
                                            <input matInput name="url" [(ngModel)]="getInstitutionInvolved.url" readonly type="url">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Identificación del Representante Legal</mat-label>
                                            <input matInput name="legalRepresentativeId" [(ngModel)]="getInstitutionInvolved.legalRepresentativeId" readonly type="text">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Representante Legal</mat-label>
                                            <input matInput name="legalRepresentative" [(ngModel)]="getInstitutionInvolved.legalRepresentative" readonly type="text">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Órgano Ejecutor</mat-label>
                                            <input matInput name="executingAgency" [(ngModel)]="getInstitutionInvolved.executingAgency" readonly type="text">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>