<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header card-header-warning">
            <h4 class="card-title">Registro de las facturas</h4>
            <p class="card-category">Módulo de Registro</p>
          </div>
          <div class="card-body">
            <fieldset class="col-12 col-md-12 px-3">
              <legend class="text-success">Datos del Recurso:</legend>
              <div class="row">
                <div class="col">
                  <mat-form-field class="example-full-width">
                    <mat-label>Nombre Proyecto</mat-label>
                    <input matInput name="name" readonly [(value)]="project.nameSpanish">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field class="example-full-width">
                    <mat-label>Nombre Objetivo</mat-label>
                    <input matInput name="name" readonly [(value)]="activityResource.goalActivity.name">
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="example-full-width">
                    <mat-label>Nombre del Recurso</mat-label>
                    <input matInput name="name" readonly [(value)]="activityResource.resource.name">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field class="example-full-width">
                    <mat-label>Presupuesto actual estimado</mat-label>
                    <input matInput name="currentBudgetActivityResource" readonly
                      [(value)]="activityResource.currentBudget">
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="example-full-width">
                    <mat-label>Presupuesto de inversión estimado</mat-label>
                    <input matInput name="investmentBudgetActivityResource" readonly
                      [(value)]="activityResource.investmentBudget">
                  </mat-form-field>
                </div>
              </div>
            </fieldset>
            <form [formGroup]="form">
              <fieldset class="col-12 col-md-12 px-3">
                <legend class="text-success">Datos de la factura:</legend>
                <div class="row">
                  <div class="col">
                    <mat-form-field class="example-full-width">
                      <mat-label>Presupuesto actual</mat-label>
                      <input formControlName="currentBudget" matInput name="currentBudget" type="number">
                      <mat-error *ngIf="currentBudget.invalid && (currentBudget.dirty || currentBudget.touched)">
                        El presupuesto actual es requerido
                      </mat-error>
                      <span matPrefix>$&nbsp;</span>
                    </mat-form-field>
                  </div>
                  <div class="col">
                    <mat-form-field class="example-full-width">
                      <mat-label>Presupuesto de inversión</mat-label>
                      <input formControlName="investmentBudget" matInput name="investmentBudget" type="number">
                      <mat-error
                        *ngIf="investmentBudget.invalid && (investmentBudget.dirty || investmentBudget.touched)">
                        El presupuesto de inversión es requerido
                      </mat-error>
                      <span matPrefix>$&nbsp;</span>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <mat-form-field class="example-full-width">
                      <mat-label>Descripcion</mat-label>
                      <input formControlName="description" matInput name="description" type="text">
                    </mat-form-field>
                  </div>
                  <div class="col">
                    <mat-form-field>
                      <mat-label>Archivo</mat-label>
                      <ngx-mat-file-input formControlName="file"
                        accept="application/pdf, .doc,.docx,.xml,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document">
                      </ngx-mat-file-input>
                    </mat-form-field>
                  </div>
                </div>
              </fieldset>
              <div class="clearfix">
                <button class="btn btn-danger pull-right" (click)='save()' [disabled]="!form.valid" mat-raised-button
                  type="submit">Registrar Factura</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="delete-view loading" *ngIf="showSpiner">
  <div class="spinner">
    <mat-spinner color="primary"></mat-spinner>
    <mat-label>cargando ...</mat-label>
  </div>
</div>
