.example-button-row a,
.example-button-row button {
  margin-right: 8px;
}
.example-form {
  max-width: 500px;
  min-width: 150px;
  width: 100%;
}
.example-full-width {
  width: 100%;
}
input {
  border-color: transparent !important;
  box-shadow: none !important;
  outline: none !important;
  outline-style: none !important;
}
.table td th {
  text-align: center;
}
