<div class="card">
  <div class="card-header card-header-danger">
    <blockquote class="blockquote text-center">
      <h2>Noticias</h2>
    </blockquote>
  </div>
  <div class="card-body">
    <div *ngIf="getNewsList?.length==0">
      <br>
      <mat-card>No existen Noticias para este día</mat-card>
    </div>
    <ngx-slick-carousel class="carousel" [config]="getConfig" #slickModal="slick-carousel">
      <div class="slide" *ngFor="let news of getNewsList" ngxSlickItem>
        <br>
        <mat-card-header>
          <mat-card-title>{{news.title}}</mat-card-title>
          <mat-card-subtitle>{{news.subtitle}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>{{news.body}}</p>
          <img [alt]="news.fileName" src="{{getUrlEndpoint}}/{{news.id}}" [title]="news.title">
        </mat-card-content>
      </div>
    </ngx-slick-carousel>
  </div>
</div>
