img {
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    max-height: 20em;
    max-width: 100%;
    width: auto;
}
mat-card-title,
mat-card-subtitle {
    color: black;
    padding-left: -2em;
}
p {
    padding-left: 2em;
}
