<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-success">
              <div class="row">
                <div class="col-md-8">
                  <h4 class="card-title">Planificación</h4>
                  <p class="card-category">Evaluaciones</p>
                </div>
            </div>
        </div>
                <div class="card-body">
                    <fieldset class="col-12 col-md-12 px-3">
                      <div class="justify-content-md-center row">
                        <div class="col-md-4">
                          <mat-card>
                            <mat-card-content>
                              <p>Planificación</p>
                              <img mat-card-image src="/assets/img/planificacion/evalplanificacion.jpg" width="100" height="270"/>
                            </mat-card-content>
                            <mat-card-actions>
                               <button class="btn btn-danger" mat-button [routerLink]="['eplanning']">
                                <mat-icon aria-hidden="false" class="btn-danger">check</mat-icon>
                                Seleccionar
                              </button> 
                            </mat-card-actions>
                          </mat-card>
                        </div> 
                       <div class="col-md-4">
                          <mat-card>
                            <mat-card-content>
                              <p>Libros</p>
                              <img mat-card-image src="/assets/img/planificacion/evalibros.jpg" width="100" height="270"/>
                            </mat-card-content>
                            <mat-card-actions>
                              <button class="btn btn-danger" mat-button [routerLink]="['ebooks']">
                                <mat-icon aria-hidden="false" class="btn-danger">check</mat-icon>
                                Seleccionar
                              </button>
                            </mat-card-actions>
                          </mat-card>
                        </div>
                        <div class="col-md-4">
                          <mat-card>
                            <mat-card-content>
                              <p>Congresos</p>
                              <img mat-card-image src="/assets/img/planificacion/evalcongreso.jpeg" width="100" height="270"/>
                            </mat-card-content>
                            <mat-card-actions>
                              <button class="btn btn-danger" mat-button [routerLink]="['econgress']">
                                <mat-icon aria-hidden="false" class="btn-danger">check</mat-icon>
                                Seleccionar
                              </button>
                            </mat-card-actions>
                          </mat-card>
                        </div>
                      </div>
                    </fieldset>
                      <fieldset class="col-12 col-md-12 px-3">
                      <div class="justify-content-md-center row">
                        <div class="col-md-4">
                          <mat-card>
                            <mat-card-content>
                              <p>Capítulo de libro</p>
                              <img mat-card-image src="/assets/img/planificacion/evalcaplibro.jpg" width="100" height="270"/>
                            </mat-card-content>
                            <mat-card-actions>
                              <button class="btn btn-danger" mat-button [routerLink]="['ebookChapters']">
                                <mat-icon aria-hidden="false" class="btn-danger">check</mat-icon>
                                Seleccionar
                              </button>
                            </mat-card-actions>
                          </mat-card>
                        </div>
                        <div class="col-md-4">
                          <mat-card>
                            <mat-card-content>
                              <p>Publicaciones</p>
                              <img mat-card-image src="/assets/img/planificacion/evalpublicaciones.jpg" width="100" height="270"/>
                            </mat-card-content>
                            <mat-card-actions>
                              <button class="btn btn-danger" mat-button [routerLink]="['epublications']">
                                <mat-icon aria-hidden="false" class="btn-danger">check</mat-icon>
                                Seleccionar
                              </button>
                            </mat-card-actions>
                          </mat-card>
                        </div>
                        <div class="col-md-4">
                          <mat-card>
                            <mat-card-content>
                              <p>Otras Actividades</p>
                              <img mat-card-image src="/assets/img/planificacion/evalotrasact.jpg" width="100" height="270"/>
                            </mat-card-content>
                            <mat-card-actions>
                              <button class="btn btn-danger" mat-button [routerLink]="['eotherActivities']">
                                <mat-icon aria-hidden="false" class="btn-danger">check</mat-icon>
                                Seleccionar
                              </button>
                            </mat-card-actions>
                          </mat-card>
                        </div> 
                      </div>
                    </fieldset> 
                  </div>
              </div>
            </div>
        </div>
    </div> 
  </div> 


