<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <div class="row">
              <div class="col-md-8">
                <h4 class="card-title ">Área de Conocimiento</h4>
                <p class="card-category">Módulo de Registro</p>
              </div>
            </div>
          </div>
          <div class="card-body">
            <fieldset class="col-12 col-md-12 px-3">
              <div class="row">
                <div class="col-md-4">
                  <mat-card>
                    <mat-card-content>
                      <p>Campo Amplio</p>
                      <img mat-card-image src="/assets/img/campoAmplio.png" />
                    </mat-card-content>
                    <mat-card-actions>
                      <button class="btn btn-danger" mat-button [routerLink]="['ampleAreaKnowledge']">
                        <mat-icon aria-hidden="false" class="btn-danger">check</mat-icon>
                        Seleccionar
                      </button>
                    </mat-card-actions>
                  </mat-card>
                </div>
                <div class="col-md-4">
                  <mat-card>
                    <mat-card-content>
                      <p>Campo Detallado</p>
                      <img mat-card-image src="/assets/img/campoDetallado.jpg" />
                    </mat-card-content>
                    <mat-card-actions>
                      <button class="btn btn-danger" mat-button [routerLink]="['detailedAreaKnowledge']">
                        <mat-icon aria-hidden="false" class="btn-danger">check</mat-icon>
                        Seleccionar
                      </button>
                    </mat-card-actions>
                  </mat-card>
                </div>
                <div class="col-md-4">
                  <mat-card>
                    <mat-card-content>
                      <p>Area de Conocimiento Específico</p>
                      <img mat-card-image src="/assets/img/conocimientoEspecifico.jpg" />
                    </mat-card-content>
                    <mat-card-actions>
                      <button class="btn btn-danger" mat-button [routerLink]="['specificAreaKnowledge']">
                        <mat-icon aria-hidden="false" class="btn-danger">check</mat-icon>
                        Seleccionar
                      </button>
                    </mat-card-actions>
                  </mat-card>
                </div>
              </div>
              <br />
              <div class="justify-content-md-center row ">
                <div class="col-md-4">
                  <mat-card>
                    <mat-card-content>
                      <p>ESPE</p>
                      <img mat-card-image src="/assets/img/espe.jpg" />
                    </mat-card-content>
                    <mat-card-actions>
                      <button class="btn btn-danger" mat-button [routerLink]="['espeAreaKnowledge']">
                        <mat-icon aria-hidden="false" class="btn-danger">check</mat-icon>
                        Seleccionar
                      </button>
                    </mat-card-actions>
                  </mat-card>
                </div>
                <div class="col-md-4">
                  <mat-card>
                    <mat-card-content>
                      <p>Área de Conocimiento Unesco</p>
                      <img mat-card-image src="/assets/img/unesco.jpg" />
                    </mat-card-content>
                    <mat-card-actions>
                      <button class="btn btn-danger" mat-button [routerLink]="['unescoAreaKnowledge']">
                        <mat-icon aria-hidden="false" class="btn-danger">check</mat-icon>
                        Seleccionar
                      </button>
                    </mat-card-actions>
                  </mat-card>
                </div>
                <div class="col-md-4">
                  <mat-card>
                    <mat-card-content>
                      <p>Subárea de Conocimiento Unesco</p>
                      <img mat-card-image src="/assets/img/unesco2.png" />
                    </mat-card-content>
                    <mat-card-actions>
                      <button class="btn btn-danger" mat-button [routerLink]="['subUnescoAreaKnowledge']">
                        <mat-icon aria-hidden="false" class="btn-danger">check</mat-icon>
                        Seleccionar
                      </button>
                    </mat-card-actions>
                  </mat-card>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
