<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header card-header-info">
            <h4 class="card-title">Visualizar Libro</h4>
            <p class="card-category">Módulo de Registro</p>
          </div>
          <div class="card-body">
            <fieldset class="col-12 col-md-12 px-3">
              <legend class="text-success">Datos del libro:</legend>
              <div class="row">
                <div class="col">
                  <mat-form-field class="example-full-width">
                    <mat-label>Codigo del libro</mat-label>
                    <input matInput name="name" readonly [(value)]="book.codies">
                  </mat-form-field>
                </div>

              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field class="example-full-width">
                    <mat-label>Codigo de Publicación</mat-label>
                    <input matInput name="callArea" readonly publicationCode [(value)]="book.publicationCode">
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="example-full-width">
                    <mat-label>Tipo de Publicación</mat-label>
                    <input matInput name="callArea" readonly [(value)]="book.publicationType">
                  </mat-form-field>
                  
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field class="example-full-width">
                    <mat-label>Fecha de Publicación</mat-label>
                    <input matInput name="callArea" readonly publicationCode [(value)]="book.publicationDate">
                  </mat-form-field>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="delete-view loading" *ngIf="showSpiner">
  <div class="spinner">
    <mat-spinner color="primary"></mat-spinner>
    <mat-label>cargando ...</mat-label>
  </div>
</div>
