<legend class="text-success">Datos generales:</legend>
<br>
<div class="row">
    <div class="col">
        <mat-form-field class="example-full-width">
            <mat-label>Título del Proyecto en Español</mat-label>
            <input matInput name="nameSpanish" readonly [(value)]="project.nameSpanish">
        </mat-form-field>
    </div>
</div>
<div class="row">
    <div class="col">
        <mat-form-field class="example-full-width">
            <mat-label>Título del Proyecto en Inglés</mat-label>
            <input matInput name="nameEnglish" readonly [(value)]="project.nameEnglish">
        </mat-form-field>
    </div>
</div>
<div class="row">
    <div class="col">
        <mat-form-field class="example-full-width">
            <mat-label>Nombre del Departamento/Centro</mat-label>
            <input matInput name="collegeDepartment" readonly [(value)]="project.collegeDepartment.name">
        </mat-form-field>
    </div>
    <div class="col">
        <mat-form-field class="example-full-width">
            <mat-label>Carrera</mat-label>
            <input matInput name="collegeCareer" readonly [(value)]="project.collegeCareer.name">
        </mat-form-field>
    </div>
    <div class="col">
        <mat-form-field class="example-full-width">
            <mat-label>Programa de Postgrado</mat-label>
            <input matInput name="postgraduateProgram" readonly [(value)]="project.postgraduateProgram.name">
        </mat-form-field>
    </div>
</div>
<div class="row">
    <div class="col">
        <mat-form-field class="example-full-width">
            <mat-label>Nombre del Programa (Dominios Académicos)</mat-label>
            <input matInput name="program" readonly [(value)]="project.program.name">
        </mat-form-field>
    </div>
    <div class="col">
        <mat-form-field class="example-full-width">
            <mat-label>Línea de Investigación</mat-label>
            <input matInput name="lineResearch" readonly [(value)]="project.lineResearch.name">
        </mat-form-field>
    </div>
    <div class="col">
        <mat-form-field class="example-full-width">
            <mat-label>Grupo de Investigación Asociado</mat-label>
            <input matInput name="researchGroup" readonly [(value)]="project.researchGroup.name">
        </mat-form-field>
    </div>
</div>
<div class="row">
    <div class="col">
        <mat-form-field class="example-full-width">
            <mat-label>Tipo de Investigación</mat-label>
            <input matInput name="researchType" readonly [(value)]="project.researchType.name">
        </mat-form-field>
    </div>
    <div class="col">
        <mat-form-field class="example-full-width">
            <mat-label>Disciplina Científica</mat-label>
            <input matInput name="scientificDiscipline" readonly [(value)]="project.scientificDiscipline.name">
        </mat-form-field>
    </div>
    <div class="col">
        <mat-form-field class="example-full-width">
            <mat-label>Objetivo Socio Económico</mat-label>
            <input matInput name="economicPartnerGoal" readonly [(value)]="project.economicPartnerGoal.name">
        </mat-form-field>
    </div>
</div>
<br>
<legend class="text-success">Cobertura y localización:</legend>
<br>
<div *ngIf="project.coverageList?.length!=0 else elseCover">
    <mat-grid-list cols="6" rowHeight="2:0.5">
        <mat-grid-tile [colspan]="coverage.colspan | number:'1.0-0'" *ngFor="let coverage of project.coverageList" [style.background]="'#f3efea'">
            {{coverage.coverageType.name}}: {{coverage.name}}
        </mat-grid-tile>
    </mat-grid-list>
</div>
<ng-template class="alert alert-dark" #elseCover>
    No se ha registrado cobertura y localización del proyecto
</ng-template>
<br><br>
<legend class="text-success">Objetivos del plan de desarrollo nacional toda una vida:</legend>
<br>
<div class="row">
    <div class="col">
        <mat-form-field class="example-full-width">
            <mat-label>Objetivo</mat-label>
            <input matInput name="goalPlan" readonly [(value)]="project.policyPlanList['1'].goalPlan.name">
        </mat-form-field>
    </div>
</div>
<div class="row">
    <div class="col">
        <mat-list>
            <mat-label>Políticas</mat-label>
            <mat-list-item *ngFor="let policyPlan of project.policyPlanList; last as last">
                <mat-icon mat-list-icon>remove</mat-icon>
                <mat-list-item>{{policyPlan.name}}</mat-list-item>
                <mat-divider *ngIf="!last"></mat-divider>
            </mat-list-item>
        </mat-list>
    </div>
</div>
<br>
<legend class="text-success">Área de conocimiento:</legend>
<br>
<div class="row">
    <div class="col">
        <mat-form-field class="example-full-width">
            <mat-label>Área de Conocimiento ESPE</mat-label>
            <input matInput name="espeAreaKnowledge" readonly [(value)]="project.espeAreaKnowledge.name">
        </mat-form-field>
    </div>
    <div class="col">
        <mat-form-field class="example-full-width">
            <mat-label>Área de Conocimiento Unesco</mat-label>
            <input matInput name="unescoAreaKnowledge" readonly [(value)]="project.subUnescoAreaKnowledge.unescoAreaKnowledge.name">
        </mat-form-field>
    </div>
    <div class="col">
        <mat-form-field class="example-full-width">
            <mat-label>Sub Área de Conocimiento Unesco</mat-label>
            <input matInput name="subUnescoAreaKnowledge" readonly [(value)]="project.subUnescoAreaKnowledge.name">
        </mat-form-field>
    </div>
</div>
<div class="row">
    <div class="col">
        <mat-form-field class="example-full-width">
            <mat-label>Campo Amplio</mat-label>
            <input matInput name="ampleAreaKnowledge" readonly [(value)]="project.ampleAreaKnowledge.name">
        </mat-form-field>
    </div>
    <div class="col">
        <mat-form-field class="example-full-width">
            <mat-label>Campo Específico</mat-label>
            <input matInput name="specificAreaKnowledge" readonly [(value)]="project.specificAreaKnowledge.name">
        </mat-form-field>
    </div>
    <div class="col">
        <mat-form-field class="example-full-width">
            <mat-label>Campo Detallado</mat-label>
            <input matInput name="detailedAreaKnowledge" readonly [(value)]="project.detailedAreaKnowledge.name">
        </mat-form-field>
    </div>
</div>
<br>
<legend class="text-success">Instituciones involucradas en el proyecto:</legend>
<br>
<div class="row">
    <div class="col">
        <div *ngIf="project.institutionInvolvedList?.length!=0 else elseInst">
            <div *ngFor="let institutionInvolved of project.institutionInvolvedList">
                <div class="row">
                    <div class="col">
                        <mat-form-field appearance="outline" class="example-full-width institutionName">
                            <mat-label>Nombre de institución co-ejecutora</mat-label>
                            <input matInput name="institutionInvolved" readonly [(value)]="institutionInvolved.name">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="example-full-width">
                            <mat-label>Representante legal</mat-label>
                            <input matInput name="legalRepresentative" readonly [(value)]="institutionInvolved.legalRepresentative">
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field class="example-full-width">
                            <mat-label>Cédula de identidad</mat-label>
                            <input matInput name="legalRepresentativeId" readonly [(value)]="institutionInvolved.legalRepresentativeId">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="example-full-width">
                            <mat-label>Teléfono</mat-label>
                            <input matInput name="phone" readonly [(value)]="institutionInvolved.phone">
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field class="example-full-width">
                            <mat-label>Fax</mat-label>
                            <input matInput name="fax" readonly [(value)]="institutionInvolved.fax">
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field class="example-full-width">
                            <mat-label>Correo Electrónico</mat-label>
                            <input matInput name="email" readonly [(value)]="institutionInvolved.email">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="example-full-width">
                            <mat-label>Dirección</mat-label>
                            <input matInput name="address" readonly [(value)]="institutionInvolved.address">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="example-full-width">
                            <mat-label>Página web institucional</mat-label>
                            <input matInput name="url" readonly [(value)]="institutionInvolved.url">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="example-full-width">
                            <mat-label>Órgano ejecutor</mat-label>
                            <input matInput name="executingAgency" readonly [(value)]="institutionInvolved.executingAgency">
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
        <ng-template class="alert alert-dark" #elseInst>
            No se ha registrado un responsable del proyecto
        </ng-template>
    </div>
</div>
<br>
<legend class="text-success">Monto(Presupuesto de Riesgos)</legend>
<div class="row">
    <div class="col">
        <mat-form-field class="example-full-width">
            <mat-label>Presupuesto Inversión Aporte ESPE</mat-label>
            <input matInput name="espeInvestmentRiskBudget" readonly [(value)]="project.espeInvestmentRiskBudget">
        </mat-form-field>
    </div>
    <div class="col">
        <mat-form-field class="example-full-width">
            <mat-label>Presupuesto Corriente Aporte ESPE</mat-label>
            <input matInput name="espeCurrentRiskBudget" readonly [(value)]="project.espeCurrentRiskBudget">
        </mat-form-field>
    </div>
</div>
<div class="row">
    <div class="col">
        <mat-form-field class="example-full-width">
            <mat-label>Presupuesto Inversión Aporte Entidad Auspiciantes/Beneficiaria</mat-label>
            <input matInput name="sponsorInvestmentRiskBudget" readonly [(value)]="project.sponsorInvestmentRiskBudget">
        </mat-form-field>
    </div>
    <div class="col">
        <mat-form-field class="example-full-width">
            <mat-label>Presupuesto Corriente Aporte Entidad Auspiciantes/Beneficiaria</mat-label>
            <input matInput name="sponsorCurrentRiskBudget" readonly [(value)]="project.sponsorCurrentRiskBudget">
        </mat-form-field>
    </div>
</div>
<br>
<legend class="text-success">Plazo de ejecución</legend>
<div class="row">
    <div class="col">
        <mat-form-field appearance="fill" class="example-full-width">
            <mat-label>Plazo de ejecución</mat-label>
            <mat-date-range-input [disabled]="true" [rangePicker]="picker">
                <input matInput matStartDate name="startDate" placeholder="Fecha de inicio" readonly [(value)]="project.startDate">
                <input matEndDate matInput name="endDate" placeholder="Fecha de finalización" readonly [(value)]="project.endDate">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker color="accent" #picker></mat-date-range-picker>
        </mat-form-field>
    </div>
</div>
<div class="row">
    <div class="col">
        <mat-form-field class="example-full-width">
            <mat-label>Duración en meses</mat-label>
            <input matInput name="durationMonth" readonly [(value)]="project.durationMonth">
        </mat-form-field>
    </div>
    <div class="col">
        <mat-form-field class="example-full-width">
            <mat-label>Estado</mat-label>
            <input matInput name="projectStatus" readonly [(value)]="project.projectStatus.name">
        </mat-form-field>
    </div>
</div>
<br>
<legend class="text-success">Personal responsable del proyecto</legend>
<div class="table-responsive" *ngIf="dataSource.data?.length!=0 else elseResponsible">
    <table class="table table-striped" [dataSource]="dataSource" matSort mat-table>
        <ng-container matColumnDef="function">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Función</th>
            <td mat-cell *matCellDef="let responsible">{{responsible.projectResponsibleType.name}}</td>
        </ng-container>
        <ng-container matColumnDef="numberIdentification">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Cédula de identidad</th>
            <td mat-cell *matCellDef="let responsible">{{responsible.numberIdentification}}</td>
        </ng-container>
        <ng-container matColumnDef="completeName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre Completo</th>
            <td mat-cell *matCellDef="let responsible">{{responsible.name}} {{responsible.lastname}}</td>
        </ng-container>
        <ng-container matColumnDef="department/institution">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Departamento/Institución a la que pertenece</th>
            <td mat-cell *matCellDef="let responsible">
                <div *ngIf="responsible.externalResponsible else elseExternal">
                    {{responsible.externalInstitution}}
                </div>
                <ng-template class="alert alert-dark" #elseExternal>
                    {{responsible.collegeDepartment.name}}
                </ng-template>
            </td>
        </ng-container>
        <ng-container matColumnDef="telephone">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Teléfono</th>
            <td mat-cell *matCellDef="let responsible">{{responsible.telephone}}</td>
        </ng-container>
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Correo electrónico</th>
            <td mat-cell *matCellDef="let responsible">{{responsible.email}}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
</div>
<br><br>
<mat-accordion class="example-headers-align">
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-description>
                Visualizar conocimiento ancestral
                <mat-icon>cottage</mat-icon>
            </mat-panel-description>
            <mat-panel-title>
                Consideraciones de género y conocimiento ancestral
            </mat-panel-title>
        </mat-expansion-panel-header>
        <ckeditor data="{{project.ancestralKnowledge}}" [editor]="editor" (ready)="onReady($event)"></ckeditor>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-description>
                Visualizar consecuencias no intencionales
                <mat-icon>healing</mat-icon>
            </mat-panel-description>
            <mat-panel-title>
                Consecuencias no intencionales
            </mat-panel-title>
        </mat-expansion-panel-header>
        <ckeditor data="{{project.unintentionalConsequences}}" [editor]="editor" (ready)="onReady($event)"></ckeditor>
    </mat-expansion-panel>
</mat-accordion>
<ng-template class="alert alert-dark" #elseResponsible>
    No se ha registrado ningún responsable del proyecto
</ng-template>
<div class="delete-view loading" *ngIf="showSpiner">
    <div class="spinner">
        <mat-spinner color="primary"></mat-spinner>
        <mat-label>cargando ...</mat-label>
    </div>
</div>