.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-expansion-panel-header-description,
.example-headers-align .mat-expansion-panel-header-title {
  flex-basis: 0;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 6em;
}

:host ::ng-deep .ck-editor__editable_inline {
  max-height: 40em;
  min-height: 40em;
}

.institutionName {
  text-align: center;
}

.mat-list .mat-list-item {
  height: initial !important;
  text-align: justify;
}
