<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-success">
            <div class="row">
              <div class="col-md-8">
                <h4 class="card-title ">Tabla de los Usuarios</h4>
                <p class="card-category">Módulo de Seguridad</p>
              </div>
              <div class="col-md-4">
                <mat-card>
                  <div class="example-button-row">
                    <div class="d-inline-block search-special">
                      <input aria-label="Search" [(ngModel)]="setSearch" placeholder="Buscar en la Tabla..."
                        type="text">
                      <button aria-label="filter" class="btn btn-round btn-just-icon" (click)="filterDataTable()"
                        color="primary" mat-icon-button matTooltip="Buscar Usuario" type="submit">
                        <mat-icon>search</mat-icon>
                      </button>
                    </div>
                    <div class="d-inline-block create-update">
                      <button aria-label="create" class="btn btn-round btn-just-icon right" color="primary"
                        [routerLink]="['../user/form']" mat-icon-button matTooltip="Crear Usuario" type="submit">
                        <mat-icon>create</mat-icon>
                      </button>
                    </div>
                  </div>
                </mat-card>
              </div>
            </div>
          </div>
          <div class="card-body">
            <fieldset class="col-12 col-md-12 px-3">
              <div class="table-responsive" *ngIf="getUserList?.length!=0 else elseBlock">
                <table class="table" [dataSource]="getDataSource" matSort mat-table>
                  <ng-container matColumnDef="username">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Username</th>
                    <td mat-cell *matCellDef="let element">{{element.username}}</td>
                  </ng-container>
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre </th>
                    <td mat-cell *matCellDef="let element">{{element.name}} {{element.lastName}} </td>
                  </ng-container>
                  <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
                    <td mat-cell *matCellDef="let element">{{element.email}}</td>
                  </ng-container>
                  <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Acciones</th>
                    <td mat-cell *matCellDef="let element">
                      <div class="d-inline-block delete-view">
                        <button aria-label="view" color="accent" mat-icon-button matTooltip="Visualizar Usuario"
                          [routerLink]="['../userView',element.username]">
                          <mat-icon>visibility</mat-icon>
                        </button>
                      </div>
                      <div class="d-inline-block create-update">
                        <button aria-label="update" color="accent" mat-icon-button matTooltip="Modificar Usuario"
                          [routerLink]="['../user/form',element.id]">
                          <mat-icon>brush</mat-icon>
                        </button>
                      </div>
                      <div class="d-inline-block delete-view">
                        <button aria-label="delete" color="primary" (click)="delete(element)" mat-icon-button
                          matTooltip="Eliminar Usuario">
                          <mat-icon>delete</mat-icon>
                        </button>
                      </div>
                      <div class="d-inline-block specials">
                        <button aria-label="roles" color="primary" mat-icon-button matTooltip="Asignar Roles"
                          [routerLink]="['../roles',element.id]">
                          <mat-icon>directions_walk</mat-icon>
                        </button>
                        <button aria-label="resetPwd" (click)="resetPassword(element)" color="accent" mat-icon-button
                          matTooltip="Resetear Contraseña">
                          <mat-icon>lock_open</mat-icon>
                        </button>
                      </div>
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="getDisplayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: getDisplayedColumns;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
              </div>
              <ng-template class="alert alert-dark" #elseBlock>
                No existen registros en la base de datos
              </ng-template>
            </fieldset>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
