<mat-horizontal-stepper #stepper>
    <ng-template matStepperIcon="group">
        <mat-icon>groups</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="add">
        <mat-icon>person_add_alt_1</mat-icon>
    </ng-template>
    <mat-step label="Responsables del proyecto" state="group">
        <div class="table-responsive" *ngIf="dataSource.data?.length!=0 else elseBlock">
            <table class="table table-striped" [dataSource]="dataSource" matSort mat-table>
                <ng-container matColumnDef="function">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Función</th>
                    <td mat-cell *matCellDef="let responsible">{{responsible.projectResponsibleTypeName}}</td>
                </ng-container>
                <ng-container matColumnDef="numberIdentification">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Cédula de identidad</th>
                    <td mat-cell *matCellDef="let responsible">{{responsible.numberIdentification}}</td>
                </ng-container>
                <ng-container matColumnDef="completeName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre Completo</th>
                    <td mat-cell *matCellDef="let responsible">{{responsible.name}} {{responsible.lastname}}</td>
                </ng-container>
                <ng-container matColumnDef="externalResponsible">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Responsable Externo</th>
                    <td mat-cell *matCellDef="let responsible">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" [checked]="responsible.externalResponsible" onclick="return false;" type="checkbox">
                                <span class="form-check-sign">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Acciones</th>
                    <td mat-cell *matCellDef="let responsible">
                        <div class="example-button-row">
                            <button aria-label="delete" (click)="delete(responsible)" color="warn" mat-mini-fab matTooltip="Eliminar Responsable">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
        </div>
        <ng-template class="alert alert-dark" #elseBlock>
            No se ha registrado un responsable del proyecto
        </ng-template>
    </mat-step>
    <mat-step label="Registrar Responsable del Proyecto" state="add">
        <form [formGroup]="form">
            <fieldset>
                <legend class="text-success">Datos del Responsable del Proyecto:</legend>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="example-full-width">
                            <mat-label>Cédula de identidad</mat-label>
                            <input formControlName="numberIdentification" matInput name="numberIdentification" type="text">
                            <mat-error *ngIf="numberIdentification.invalid && (numberIdentification.dirty || numberIdentification.touched)">
                                La cédula de identidad del responsable del proyecto es requerida
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="example-full-width">
                            <mat-label>Nombre/s</mat-label>
                            <input formControlName="name" matInput name="name" type="text">
                            <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">
                                El/Los nombre/s del responsable del proyecto es requerido
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field class="example-full-width">
                            <mat-label>Apellido/s</mat-label>
                            <input formControlName="lastname" matInput name="lastname" type="text">
                            <mat-error *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)">
                                El/Los apellido/s del responsable del proyecto es requerido
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="example-full-width">
                            <mat-label>Función del Responsable</mat-label>
                            <mat-select formControlName="projectResponsibleTypeId">
                                <mat-option *ngFor="let projectResponsibleType of projectResponsibleTypeList" [value]="projectResponsibleType.id">
                                    {{projectResponsibleType.name}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="projectResponsibleTypeId.invalid && (projectResponsibleTypeId.dirty || projectResponsibleTypeId.touched)">
                                Se debe seleccionar la función del responsable
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="example-full-width">
                            <mat-label>Teléfono</mat-label>
                            <input formControlName="telephone" matInput name="telephone" type="text">
                            <mat-error *ngIf="telephone.invalid && (telephone.dirty || telephone.touched)">
                                <div *ngIf="telephone.errors.phone">
                                    {{telephone.errors.phone.message}}
                                </div>
                                <div *ngIf="telephone.errors.required">
                                    El teléfono del responsable del proyecto es requerido
                                </div>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field class="example-full-width">
                            <mat-label>Correo</mat-label>
                            <input formControlName="email" matInput name="email" type="email">
                            <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">
                                <div *ngIf="email.errors.cemail">
                                    {{email.errors.cemail.message}}
                                </div>
                                <div *ngIf="email.errors.email">
                                    Email no válido
                                </div>
                                <div *ngIf="email.errors.required">
                                    El correo del responsable del proyecto es requerido
                                </div>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-check">
                            <section class="example-section">
                                <mat-checkbox (change)="checkExternal($event.checked)" formControlName="externalResponsible" name="externalResponsible">
                                    Responsable externo</mat-checkbox>
                            </section>
                        </div>
                    </div>
                </div>
                <div *ngIf="!externalResponsible.value else external">
                    <h5>Responsable Interno de la Universidad de las Fuerzas Armadas</h5>
                    <div class="row">
                        <div class="col">
                            <mat-form-field class="example-full-width">
                                <mat-label>Departamento Universitario</mat-label>
                                <mat-select formControlName="collegeDepartmentId">
                                    <mat-option *ngFor="let CollegeDepartment of collegeDepartmentList" [value]="CollegeDepartment.id">
                                        {{CollegeDepartment.name}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="collegeDepartmentId.invalid && (collegeDepartmentId.dirty || collegeDepartmentId.touched)">
                                    Se debe seleccionar el departamento universitario
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <ng-template #external>
                    <h5>Responsable Externo</h5>
                    <div class="row">
                        <div class="col">
                            <mat-form-field class="example-full-width">
                                <mat-label>Institución Externa</mat-label>
                                <input formControlName="externalInstitution" matInput name="externalInstitution" type="text">
                                <mat-error *ngIf="externalInstitution.invalid && (externalInstitution.dirty || externalInstitution.touched)">
                                    La institución del responsable externo del proyecto es requerida
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </ng-template>
            </fieldset>
            <div class="clearfix">
                <button class="btn btn-danger pull-right" (click)='save(stepper)' [disabled]="!form.valid" mat-raised-button type="submit">Agregar Responsable del
                    Proyecto</button>
            </div>
        </form>
    </mat-step>
</mat-horizontal-stepper>