$brand-blue: $blue-500 !default;
$brand-danger: $red-500 !default;
$brand-info: $light-blue-800 !default;
$brand-inverse: $black-color !default;
$brand-primary: $blue-500 !default;
$brand-rose: $pink-900 !default;
$brand-success: $green-500 !default;
$brand-warning: $orange-500 !default;
