$card-border-color: $gray-lighter !default;
$card-bg: #fff !default;
$card-cap-bg: $card-bg !default;
$mdb-card-body-text: $mdb-text-color-primary !default;
$mdb-card-body-background: #fff !default;
$mdb-card-image-headline: #fff !default;

$text-disabled: #a8a8a8 !default;
$background-disabled: #eaeaea !default;
