$bmd-menu-line-height: 1 !default;
$bmd-menu-item-min-width: 7rem !default;
$bmd-menu-item-max-width: 17.5rem !default;
$bmd-menu-item-min-height: 3rem !default;

$bmd-menu-item-padding-right: 1rem !default;
$bmd-menu-item-padding-bottom: 0.8rem !default;
$bmd-menu-item-padding-left: 1rem !default;
$bmd-menu-item-padding-top: 0.8rem !default;

$bmd-menu-item-padding-right-md: 1.5rem !default;
$bmd-menu-item-padding-left-md: 1.5rem !default;

// Menu
$bmd-menu-expand-duration: 0.3s !default;
$bmd-menu-fade-duration: 0.2s !default;
