<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-blue">
            <h4 class="card-title">Aprobación Proyecto</h4>
            <p class="card-category">Módulo de Registro</p>
          </div>
          <div class="card-body">
            <form [formGroup]="getForm">
              <fieldset class="col-12 col-md-12 px-3">
                <legend class="text-success">Datos de la Evaluación:</legend>
                <div class="row">
                  <div class="col-md-12">
                    <mat-form-field class="example-full-width">
                      <mat-label>Evaluación</mat-label>
                      <mat-select formControlName="projectApprovalEvaluationEnum">
                        <mat-option *ngFor="let projectApprovalEvaluation of getProjectApprovalEvaluationStatus" [value]="projectApprovalEvaluation.value">
                          {{projectApprovalEvaluation.viewValue}}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="projectApprovalEvaluationEnum.invalid && (projectApprovalEvaluationEnum.dirty || projectApprovalEvaluationEnum.touched)">
                        Se debe seleccionar al menos un valor de evaluación
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-md-12">
                    <mat-form-field class="example-full-width">
                      <mat-label>Comentario</mat-label>
                      <textarea formControlName="comment" matInput name="comment" type="text">
                      </textarea>
                      <mat-error *ngIf="comment.invalid && (comment.dirty || comment.touched)">
                        El comentario es requerido
                      </mat-error>
                      <span matPrefix>$&nbsp;</span>
                    </mat-form-field>
                  </div>
                </div>
              </fieldset>
              <div class="clearfix">
                <button class="btn btn-danger pull-right" (click)='save()' [disabled]="!getForm.valid" mat-raised-button
                  type="submit">Guardar Cambios</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="delete-view loading" *ngIf="showSpiner">
    <div class="spinner">
      <mat-spinner color="primary"></mat-spinner>
      <mat-label>cargando ...</mat-label>
    </div>
  </div>
</div>
