<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-success">
            <div class="row">
              <div class="col-md-8">
                <h4 class="card-title">Planificación</h4>
                <p class="card-category">Módulo de Planificación</p>
              </div>
            </div>
          </div>
          <div class="card-body">
            <fieldset class="col-12 col-md-12 px-3">
              <div class="justify-content-md-center row">
                <div class="col-md-4">
                  <mat-card>
                    <mat-card-content>
                      <p>Planificación</p>
                      <img mat-card-image src="/assets/img/planificacion/planificaes.jpg"width="100" height="270" />
                    </mat-card-content>
                    <mat-card-actions>
                      <button class="btn btn-danger" mat-button [routerLink]="['planning']">
                        <mat-icon aria-hidden="false" class="btn-danger">check</mat-icon>
                        Seleccionar
                      </button>
                    </mat-card-actions>
                  </mat-card>
                </div>

                <div class="col-md-4">

                  <mat-card>
                    <mat-card-content>
                      <p>Libros</p>
                      <img mat-card-image src="/assets/img/planificacion/libro.jpg" />
                    </mat-card-content>
                    <mat-card-actions>
                      <div *ngIf="_numberBook>0">
                        <button class="btn btn-danger" mat-button [routerLink]="['books']">
                          <mat-icon aria-hidden="false" class="btn-danger">check</mat-icon>
                          Seleccionar
                        </button>
                      </div>
                    </mat-card-actions>
                  </mat-card>
                </div>


                <div class="col-md-4">

                  <mat-card>
                    <mat-card-content>
                      <p>Congresos</p>
                      <img mat-card-image src="/assets/img/planificacion/congreso.jpeg" width="100" height="270"/>
                     
                    </mat-card-content>
                    <mat-card-actions>
                      <div *ngIf="_numberCongress>0">
                        <button class="btn btn-danger" mat-button [routerLink]="['congress']">
                          <mat-icon aria-hidden="false" class="btn-danger">check</mat-icon>
                          Seleccionar
                        </button>
                      </div>
                    </mat-card-actions>
                  </mat-card>

                </div>
              </div>
              <div class="justify-content-md-center row">

                <div class="col-md-4">

                  <mat-card>
                    <mat-card-content>
                      <p>Capítulo de libro</p>
                      <img mat-card-image src="/assets/img/planificacion/caplibro.jpg" width="100" height="270"/>
                    </mat-card-content>
                    <mat-card-actions>
                      <div *ngIf="_numberChapterBook>0">
                        <button class="btn btn-danger" mat-button [routerLink]="['bookChapters']">
                          <mat-icon aria-hidden="false" class="btn-danger">check</mat-icon>
                          Seleccionar
                        </button>
                      </div>
                    </mat-card-actions>
                  </mat-card>

                </div>

                <div class="col">

                  <mat-card>
                    <mat-card-content>
                      <p>Publicaciones</p>
                      <img mat-card-image src="/assets/img/planificacion/publicacionesc.jpg"width="100" height="270" />
                    </mat-card-content>
                    <mat-card-actions>
                      <div *ngIf="_numberPublications>0">
                        <button class="btn btn-danger" mat-button [routerLink]="['publications']">
                          <mat-icon aria-hidden="false" class="btn-danger">check</mat-icon>
                          Seleccionar
                        </button>
                      </div>
                    </mat-card-actions>
                  </mat-card>
                </div>

                <div class="col-md-4">

                  <mat-card>
                    <mat-card-content>
                      <p>Otras Actividades</p>
                      <img mat-card-image src="/assets/img/planificacion/otrasact.jpg" width="100" height="270"/>
                    </mat-card-content>
                    <mat-card-actions>
                      <div *ngIf="_numberOtherActivities>0">
                        <button class="btn btn-danger" mat-button [routerLink]="['otherActivities']">
                          <mat-icon aria-hidden="false" class="btn-danger">check</mat-icon>
                          Seleccionar
                        </button>
                      </div>
                    </mat-card-actions>
                  </mat-card>
                </div>

              </div>
            </fieldset>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>