<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header card-header-blue">
                        <h4 class="card-title ">Evaluación de Proyecto</h4>
                        <p class="card-category">Módulo de Evaluacion</p>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="form">
                            <fieldset class="col-12 col-md-12 px-3">
                                <legend class="text-success">Datos de la Evaluación:</legend>
                                <div class="row">
                                    <div class="col-md-8">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Nombre</mat-label>
                                            <input matInput name="name" readonly [(value)]="evaluation.name">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-2">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Ponderación</mat-label>
                                            <input matInput name="name" readonly [(value)]="evaluation.grade">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-2">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Evaluación</mat-label>
                                            <input matInput name="name" readonly [(value)]="evaluation.score">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <br>
                                <legend class="text-success">Criterios de evaluación</legend>
                                <div class="col">
                                    <table class="mat-elevation-z4" [dataSource]="evaluation.evaluationCriteriaList" mat-table multiTemplateDataRows>
                                        <ng-container matColumnDef="name">
                                            <th mat-header-cell *matHeaderCellDef>Criterio</th>
                                            <td mat-cell *matCellDef="let evaluationCriteria">{{evaluationCriteria.criteria.name}}</td>
                                        </ng-container>
                                        <ng-container matColumnDef="grade">
                                            <th mat-header-cell *matHeaderCellDef>Ponderación</th>
                                            <td mat-cell *matCellDef="let evaluationCriteria">{{evaluationCriteria.grade}}</td>
                                        </ng-container>
                                        <ng-container matColumnDef="score">
                                            <th mat-header-cell *matHeaderCellDef>Evaluación</th>
                                            <td mat-cell *matCellDef="let evaluationCriteria">{{evaluationCriteria.score}}</td>
                                        </ng-container>
                                        <ng-container matColumnDef="expandedDetail">
                                            <td [attr.colspan]="displayedColumns.length" mat-cell *matCellDef="let evaluationCriteria">
                                                <div class="example-element-detail" [@detailExpand]="evaluationCriteria == expandedElement ? 'expanded' : 'collapsed'">
                                                    <table class="table-striped" [dataSource]="evaluationCriteria.evaluationCriteriaSubcriteriaList" mat-table>
                                                        <ng-container matColumnDef="name">
                                                            <th mat-header-cell *matHeaderCellDef>Subcriterio</th>
                                                            <td class="text-justify" mat-cell *matCellDef="let evaluationCriteriaSubcriteria">
                                                                {{evaluationCriteriaSubcriteria.subcriteria.name}}</td>
                                                        </ng-container>
                                                        <ng-container matColumnDef="grade">
                                                            <th class="text-center min-width" mat-header-cell *matHeaderCellDef>Ponderación</th>
                                                            <td class="text-center" mat-cell *matCellDef="let evaluationCriteriaSubcriteria">{{evaluationCriteriaSubcriteria.grade}}
                                                            </td>
                                                        </ng-container>
                                                        <ng-container matColumnDef="score">
                                                            <th mat-header-cell *matHeaderCellDef>Evaluación</th>
                                                            <td class="text-center min-width" mat-cell *matCellDef="let evaluationCriteriaSubcriteria">
                                                                <input formControlName="grade{{evaluationCriteriaSubcriteria.id}}" matInput
                                                                    name="grade{{evaluationCriteriaSubcriteria.id}}" placeholder="Evaluar" type="number">
                                                                <mat-error
                                                                    *ngIf="form.get('grade' + evaluationCriteriaSubcriteria.id).invalid && (form.get('grade' + evaluationCriteriaSubcriteria.id).dirty || form.get('grade' + evaluationCriteriaSubcriteria.id).touched)">
                                                                    <div *ngIf="form.get('grade' + evaluationCriteriaSubcriteria.id).errors.required else elseBlock">
                                                                        La evaluación para este subcriterio es requerida
                                                                    </div>
                                                                    <div *ngIf="form.get('grade' + evaluationCriteriaSubcriteria.id).errors.min else elseBlock">
                                                                        El valór es menor al mínimo permitido (1)
                                                                    </div>
                                                                    <div *ngIf="form.get('grade' + evaluationCriteriaSubcriteria.id).errors.max else elseBlock">
                                                                        El valór es mayor al máximo permitido ({{evaluationCriteriaSubcriteria.grade}})
                                                                    </div>
                                                                </mat-error>
                                                            </td>
                                                        </ng-container>
                                                        <ng-container matColumnDef="comment">
                                                            <th mat-header-cell *matHeaderCellDef>Comentario</th>
                                                            <td class="text-justify min-width-comment" mat-cell *matCellDef="let evaluationCriteriaSubcriteria">
                                                                <textarea formControlName="comment{{evaluationCriteriaSubcriteria.id}}" matInput
                                                                    name="comment{{evaluationCriteriaSubcriteria.id}}" placeholder="Comentar" type="text"></textarea>
                                                            </td>
                                                        </ng-container>
                                                        <tr mat-header-row *matHeaderRowDef="displayedEvaluationColumns"></tr>
                                                        <tr mat-row *matRowDef="let row; columns: displayedEvaluationColumns;"></tr>
                                                    </table>
                                                </div>
                                            </td>
                                        </ng-container>
                                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                        <tr class="example-element-row" [class.example-expanded-row]="expandedElement === evaluationCriteria"
                                            (click)="expandedElement = expandedElement === evaluationCriteria ? null : evaluationCriteria" mat-row
                                            *matRowDef="let evaluationCriteria; columns: displayedColumns;">
                                        </tr>
                                        <tr class="example-detail-row" mat-row *matRowDef="let evaluationCriteria; columns: ['expandedDetail']"></tr>
                                    </table>
                                </div>
                            </fieldset>
                            <br>
                            <div class="clearfix">
                                <button class="btn btn-danger pull-right" (click)='save()' [disabled]="!form.valid" mat-raised-button type="submit">Guardar Evaluación</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="delete-view loading" *ngIf="showSpiner">
        <div class="spinner">
            <mat-spinner color="primary"></mat-spinner>
            <mat-label>cargando ...</mat-label>
        </div>
    </div>
</div>