<div class="wrapper">
    <div class="sidebar" data-color="danger" data-background-color="white" data-image="./assets/img/sidebar-1.jpg">
        <app-sidebar></app-sidebar>
        <div class="sidebar-background" style="background-image: url(./assets/img/sidebar-4.jpg)"></div>
    </div>
    <div class="main-panel">
        <div class="content">
            <app-navbar></app-navbar>
            <router-outlet></router-outlet>
        </div>
        <div class="footer" *ngIf="isMaps('maps')">
            <app-footer></app-footer>
        </div>
    </div>
    <div class="fixed-plugin uptoDown" *ngIf="isAdmin">
        <div class="dropdown open show-dropdown">
            <a aria-label="config" aria-expanded="true" data-toggle="dropdown" href="#">
                <i class="fa fa-2x fa-cog"> </i>
            </a>
            <ul class="dropdown-menu tool" x-placement="bottom-start">
                <li class="header-title"> Filtros del Sidebar </li>
                <li class="adjustments-line">
                    <a href="javascript:void(0)" class="active-color switch-trigger">
                        <div class="ml-auto mr-auto">
                            <span class="badge badge-purple filter" data-color="purple"></span>
                            <span class="badge badge-azure filter" data-color="azure"></span>
                            <span class="badge badge-green filter" data-color="green"></span>
                            <span class="badge badge-orange filter" data-color="orange"></span>
                            <span class="active badge badge-danger filter" data-color="danger"></span>
                        </div>
                        <div class="clearfix"></div>
                        <div class="ripple-container"></div>
                    </a>
                </li>
                <li class="header-title">Imágenes</li>
                <li>
                    <a class="img-holder switch-trigger" href="javascript:void(0)">
                        <img alt="" src="./assets/img/sidebar-1.jpg">
                    </a>
                </li>
                <li>
                    <a class="img-holder switch-trigger" href="javascript:void(0)">
                        <img alt="" src="./assets/img/sidebar-2.jpg">
                        <div class="ripple-container"></div>
                    </a>
                </li>
                <li>
                    <a class="img-holder switch-trigger" href="javascript:void(0)">
                        <img alt="" src="./assets/img/sidebar-3.jpg">
                    </a>
                </li>
                <li class="active">
                    <a class="img-holder switch-trigger" href="javascript:void(0)">
                        <img alt="" src="./assets/img/sidebar-4.jpg">
                    </a>
                </li>
                <li class="button-container text-center" routerLinkActive="active">
                    <div>
                        <a class="btn btn-block btn-info" href="https://gitlab.espe.edu.ec/Tesis/Inventigacion/frontend/GestionInvestigacionFrontend">
                            Ver Documentación del Backend
                        </a>
                    </div>
                </li>
                <li class="button-container text-center" routerLinkActive="active">
                    <div>
                        <a class="btn btn-block btn-warning" href="https://gitlab.espe.edu.ec/Tesis/Inventigacion/backend/GestionInvestigacionBackend">
                            Ver Documentación del Frontend
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>