<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header" [class]="form.get('id').value ? 'card-header-warning' :'card-header-success'">
              <h4 class="card-title">{{title}}</h4>
              <p class="card-category">Módulo de Planificación</p>
            </div>
            <div class="card-body">
              <form [formGroup]="form">
                <fieldset class="col-12 col-md-12 px-3">
                  <legend class="text-success">Datos del Libro:</legend>
                  <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Código del libro</mat-label>
                        <input formControlName="id" matInput name="id" type="text" readonly>
                      </mat-form-field>
                    </div>
                  </div>
                  <!-- <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Código de la Planificación</mat-label>
                        <input formControlName="planning" matInput name="planning" type="text">
                      </mat-form-field>
                    </div>
                  </div> -->
                  <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Código IES</mat-label>
                        <input formControlName="codIES" matInput name="codIES" type="text">
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col">
                    <mat-form-field class="example-full-width">
                      <mat-label>Tipo de la publicación</mat-label>
                      <textarea formControlName="publicationType" matInput name="publicationType"></textarea>
                    </mat-form-field>
                  </div>
                  <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Código de la Publicación</mat-label>
                        <textarea formControlName="codPUB" matInput name="codPUB"></textarea>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Título del Libro</mat-label>
                        <input formControlName="bookTitle" matInput name="bookTitle" type="text">
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Identificador del Libro (ISBN)</mat-label>
                        <input formControlName="codISB" matInput name="codISB" type="text">
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Fecha de la Publicación</mat-label>
                        <input formControlName="publicationDate" [matDatepicker]="picker" matInput name="publicationDate"
                          readonly>
                        <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
                        <mat-datepicker #picker startView="multi-year"></mat-datepicker>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Detalle de la Publicación</mat-label>
                        <input formControlName="detailField" matInput name="detailField" type="text">
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Revisión por Pares</mat-label>
                        <mat-select [(ngModel)]="_peerReviewed" [ngModelOptions]="{standalone: true}" name="peerReviewed" >
                          <mat-option value="Si">Si</mat-option>
                          <mat-option value="No">No</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Filiación de la Publicación</mat-label>
                        <mat-select [(ngModel)]="_filiation" [ngModelOptions]="{standalone: true}" name="filiation" >
                          <mat-option *ngFor="let option of _optionFiliation" [value]="option">
                            {{option.name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Participación</mat-label>
                        <input formControlName="competitor" matInput name="competitor" type="text">
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Duración</mat-label>
                        <input formControlName="duration" matInput name="duration" type="text" readonly>
                      </mat-form-field>
                    </div>
                  </div>
                 <!--  <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Aprobación</mat-label>
                        <input formControlName="aprobation" matInput name="aprobation" type="text">
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Observaciones</mat-label>
                        <input formControlName="observations" matInput name="observations" type="text">
                      </mat-form-field>
                    </div>
                  </div> -->
                </fieldset>
                <div class="clearfix">
                  <button class="btn btn-danger pull-right" (click)='save()' [disabled]="!form.valid" mat-raised-button
                    type="submit">{{title}}</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="delete-view loading" *ngIf="showSpiner">
    <div class="spinner">
      <mat-spinner color="primary"></mat-spinner>
      <mat-label>cargando ...</mat-label>
    </div>
  </div>
  