<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header card-header-warning">
            <h4 class="card-title">Aprobación de la factura</h4>
            <p class="card-category">Módulo de Seguimiento</p>
          </div>
          <div class="card-body">
            <fieldset class="col-12 col-md-12 px-3">
              <legend class="text-success">Datos del Recurso:</legend>
              <div class="row">
                <div class="col">
                  <mat-form-field class="example-full-width">
                    <mat-label>Nombre Proyecto</mat-label>
                    <input matInput name="name" readonly [(value)]="project.nameSpanish">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field class="example-full-width">
                    <mat-label>Nombre Objetivo</mat-label>
                    <input matInput name="name" readonly [(value)]="activityResource.goalActivity.name">
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="example-full-width">
                    <mat-label>Nombre del Recurso</mat-label>
                    <input matInput name="name" readonly [(value)]="activityResource.resource.name">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field class="example-full-width">
                    <mat-label>Presupuesto actual estimado</mat-label>
                    <input matInput name="currentBudgetActivityResource" readonly
                      [(value)]="activityResource.currentBudget">
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="example-full-width">
                    <mat-label>Presupuesto de inversión estimado</mat-label>
                    <input matInput name="investmentBudgetActivityResource" readonly
                      [(value)]="activityResource.investmentBudget">
                  </mat-form-field>
                </div>
              </div>
              <legend class="text-success">Datos de la factura:</legend>
              <div class="row">
                <div class="col">
                  <mat-form-field class="example-full-width">
                    <mat-label>Presupuesto actual</mat-label>
                    <input matInput name="invoiceCurrentBudget" readonly
                      [(value)]="activityResource.invoiceCurrentBudget">
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="example-full-width">
                    <mat-label>Presupuesto de inversión</mat-label>
                    <input matInput name="invoiceInvestmentBudget" readonly
                      [(value)]="activityResource.invoiceInvestmentBudget">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field class="example-full-width">
                    <mat-label>Descripcion</mat-label>
                    <input matInput name="invoiceDescription" readonly [(value)]="activityResource.invoiceDescription">
                  </mat-form-field>
                </div>
                <div class="col">
                  <a href="{{urlEndpoint}}/{{activityResource.id}}" download>
                    <mat-icon aria-hidden="false" aria-label="Example home icon">sim_card_download</mat-icon>
                    Descargar documento
                  </a>
                </div>
              </div>
            </fieldset>
            <form [formGroup]="form">
              <fieldset class="col-12 col-md-12 px-3">
                <legend class="text-success">Datos de la aprobación:</legend>
                <div class="row">
                  <div class="col">
                    <mat-form-field class="example-full-width">
                      <mat-label>Comentario</mat-label>
                      <input formControlName="comment" matInput name="comment" type="text">
                    </mat-form-field>
                  </div>
                  <div class="col">
                    <mat-form-field class="example-full-width">
                      <mat-label>Evaluación</mat-label>
                      <mat-select formControlName="activityResourceApprovalEnum">
                        <mat-option *ngFor="let activityResourceApproval of activityResourceApprovalStatus"
                          [value]="activityResourceApproval.value">
                          {{activityResourceApproval.viewValue}}
                        </mat-option>
                      </mat-select>
                      <mat-error
                        *ngIf="activityResourceApprovalEnum.invalid && (activityResourceApprovalEnum.dirty || activityResourceApprovalEnum.touched)">
                        Se debe seleccionar al menos un valor de evaluación
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </fieldset>
              <div class="clearfix">
                <button class="btn btn-danger pull-right" (click)='invoiceApproval()' [disabled]="!form.valid"
                  mat-raised-button type="submit">Evaluar Factura</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="delete-view loading" *ngIf="showSpiner">
  <div class="spinner">
    <mat-spinner color="primary"></mat-spinner>
    <mat-label>cargando ...</mat-label>
  </div>
</div>
