<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header" [class]="form.get('id').value ? 'card-header-warning' :'card-header-success'">
              <h4 class="card-title">{{title}}</h4>
              <p class="card-category">Módulo de Planificación</p>
            </div>
            <div class="card-body">
              <form [formGroup]="form">
                <fieldset class="col-12 col-md-12 px-3">
                  <legend class="text-success">Datos de la Planificación:</legend>
                  
                  <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Fecha de Registro:</mat-label>
                        <textarea formControlName="registrationDate" matInput name="registrationDate" readonly></textarea>  
                      </mat-form-field>
                    </div>
                  </div>
                  
                  <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Evaluador</mat-label>
                        <input formControlName="evaluatorId" matInput name="evaluatorId" type="text" [readonly]="isReadonly">
                        <mat-error *ngIf="evaluatorId.invalid && (evaluatorId.dirty || evaluatorId.touched)">
                          El evaluador es requerido
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>     
                  <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Grado Academico</mat-label>
                        <mat-select class="readonly-block" [(ngModel)]="_selectedDegree" [ngModelOptions]="{standalone: true}" name="selectedDegree" required (ngModelChange)="durationOptions()" [disabled]="isReadonly">
                          <mat-option *ngFor="let academic of _academicDs" [value]="academic">
                            {{academic.name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col" *ngIf="_flag=='Master'">
                      <mat-form-field class="example-full-width">
                        <mat-label>Horas semanales de acuerdo a su grado academico</mat-label>
                        <mat-select [(ngModel)]="_selectedDuration" [ngModelOptions]="{standalone: true}" name="selectedDuration" required  (ngModelChange)="activitiesOptions()" [disabled]="isReadonly">
                          <mat-option *ngFor="let optionMaster of _optionMaster" [value]="optionMaster.value">
                            {{optionMaster.value}}
                          </mat-option>
                        </mat-select> 
                      </mat-form-field>
                    </div>
                    <div class="col" *ngIf="_flag=='PHD'">
                      <mat-form-field class="example-full-width">
                        <mat-label>Horas semanales de acuerdo a su grado academico</mat-label>
                        <mat-select [(ngModel)]="_selectedDuration" [ngModelOptions]="{standalone: true}" name="selectedDuration" required (ngModelChange)="activitiesOptions()" [disabled]="isReadonly">
                          <mat-option *ngFor="let optionPHD of _optionPHD" [value]="optionPHD.value">
                            {{optionPHD.value}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                    <div class="col">
                        <mat-label>Actividades Planificadas</mat-label>
                        <div class="table-responsive" *ngIf="listActivities?.length!=0 else ">
                          <table class="table" [dataSource]="dataSource" matSort mat-table>
                            <ng-container matColumnDef="name">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header>Actividad</th>
                              <td mat-cell *matCellDef="let activities">{{activities.name}}</td>
                            </ng-container>
                            <ng-container matColumnDef="duration">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header>Duración</th>
                              <td mat-cell *matCellDef="let activities">{{activities.duration}}</td>
                            </ng-container>
                            
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                          </table>
                          <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
                        </div>   
                    
                  </div>
                  <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Aprobar Planificación</mat-label>
                        <mat-select [(ngModel)]="_aprobation" [ngModelOptions]="{standalone: true}" name="aprobation" required>
                          <mat-option *ngFor="let option of _optionAprobation" [value]="option">
                            {{option.name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Observaciones</mat-label>
                        <input formControlName="observations" matInput name="observations" type="text" readonly required>
                      </mat-form-field>
                    </div>
                  </div>
                </fieldset>
                
                <div class="clearfix">
                  <button class="btn btn-danger pull-right" (click)='save()' [disabled]="!form.valid || _aprobation.name===undefined " mat-raised-button
                    type="submit">{{title}}</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="delete-view loading" *ngIf="showSpiner">
    <div class="spinner">
      <mat-spinner color="primary"></mat-spinner>
      <mat-label>cargando ...</mat-label>
    </div>
  </div>
  
