<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header" [class]="form.get('id').value ? 'card-header-warning' :'card-header-success'">
            <h4 class="card-title">{{title}}</h4>
            <p class="card-category">Módulo de Administración</p>
          </div>
          <div class="card-body">
            <form>
              <fieldset class="col-12 col-md-12 px-3">
                <legend class="text-success">Buscar Usuario:</legend>
                <div class="row">
                  <div class="col">
                    <mat-form-field class="example-full-width">
                      <mat-label>Usuario</mat-label>
                      <input [formControl]="username" matInput name="username" type="text">
                      <mat-error *ngIf="username.invalid && (username.dirty || username.touched)">
                        El username del Usuario es requerido
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col">
                    <button class="btn btn-danger pull-left" (click)='loadUserGeneral()' [disabled]="!username.valid" mat-raised-button type="submit">Buscar Usuario</button>
                  </div>
                </div>
              </fieldset>
            </form>
            <form [formGroup]="form">
              <fieldset class="col-12 col-md-12 px-3">
                <legend class="text-success">Datos de Notificación:</legend>
                <div class="row">
                  <div class="col">
                    <mat-form-field class="example-full-width">
                      <mat-label>Título</mat-label>
                      <input formControlName="title" matInput name="title" type="text">
                      <mat-error *ngIf="notificationTitle.invalid && (notificationTitle.dirty || notificationTitle.touched)">
                        El título de la notificación es requerido
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col">
                    <mat-form-field class="example-full-width">
                      <mat-label>Descripción</mat-label>
                      <input formControlName="description" matInput name="description" type="text">
                      <mat-error *ngIf="description.invalid && (description.dirty || description.touched)">
                        La descripción de la notificación es requerida
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <mat-label>Nombre de usuario</mat-label>
                      <input formControlName="user" matInput name="user" readonly type="text">
                      <mat-error *ngIf="user.invalid && (user.dirty || user.touched)">
                        El nombre del usuario es requerido
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <mat-label>Usuario</mat-label>
                      <input formControlName="name" matInput name="name" readonly type="text">
                    </mat-form-field>
                  </div>
                </div>
              </fieldset>
              <div class="clearfix">
                <button class="btn btn-danger pull-right" (click)='save()' [disabled]="!form.valid" mat-raised-button type="submit">{{title}}</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="delete-view loading" *ngIf="showSpiner">
  <div class="spinner">
    <mat-spinner color="primary"></mat-spinner>
    <mat-label>cargando ...</mat-label>
  </div>
</div>