<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header" [ngClass]="form.get('id').value ? 'card-header-warning' :'card-header-success'">
            <h4 class="card-title">{{title}}</h4>
            <p class="card-category">Módulo de Registro</p>
          </div>
          <div class="card-body">
            <form [formGroup]="form">
              <fieldset class="col-12 col-md-12 px-3">
                <legend class="text-success">Datos del área de conocimiento específico:</legend>
                <div class="row">
                  <div class="col">
                    <mat-form-field class="example-full-width">
                      <mat-label>Nombre</mat-label>
                      <input formControlName="name" matInput name="name" type="text">
                      <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">
                        El nombre del área de conocimiento específico es requerido
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </fieldset>
              <div class="clearfix">
                <button class="btn btn-danger pull-right" (click)='save()' [disabled]="!form.valid" mat-raised-button
                  type="submit">{{title}}</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="delete-view loading" *ngIf="showSpiner">
  <div class="spinner">
    <mat-spinner color="primary"></mat-spinner>
    <mat-label>cargando ...</mat-label>
  </div>
</div>
