<form [formGroup]="form">
    <mat-accordion class="example-headers-align">
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-description>
                    Ingresar la situación actual
                    <mat-icon>analytics</mat-icon>
                </mat-panel-description>
                <mat-panel-title>
                    Descripción de la situación actual del tema a investigar
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ckeditor [editor]="editor" formControlName="currentSituation" (ready)="onReady($event)"></ckeditor>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-description>
                    Ingresar diagnóstico de problema
                    <mat-icon>screen_search_desktop</mat-icon>
                </mat-panel-description>
                <mat-panel-title>
                    Identificación, descripción y diagnóstico del problema
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ckeditor [editor]="editor" formControlName="problemDiagnosis" (ready)="onReady($event)"></ckeditor>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-description>
                    Debe contener indicadores cuantificados, que permitirán medir el impacto, servirá para la construcción de metas e indicadores
                    <mat-icon>perm_data_setting </mat-icon>
                </mat-panel-description>
                <mat-panel-title>
                    Línea base del proyecto
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ckeditor [editor]="editor" formControlName="projectBase" (ready)="onReady($event)"></ckeditor>
        </mat-expansion-panel>
    </mat-accordion>
    <br>
    <h3>Identificación y caracterización de la población objetivo</h3>
    <h4>Beneficiarios</h4>
    <div class="row">
        <div class="col">
            <mat-form-field class="example-full-width">
                <mat-label>Número directo hombres</mat-label>
                <input formControlName="numberPopulationMale" (keypress)="onlyNumber($event)" matInput name="numberPopulationMale" type="number">
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field class="example-full-width">
                <mat-label>Número directo Mujeres</mat-label>
                <input formControlName="numberPopulationFemale" (keypress)="onlyNumber($event)" matInput name="numberPopulationFemale" type="number">
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field class="example-full-width">
                <mat-label>Total número inderecto</mat-label>
                <input formControlName="numberPopulationIndirect" (keypress)="onlyNumber($event)" matInput name="numberPopulationFemale" type="number">
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field class="example-full-width">
                <mat-label>Personas con capacidades especiales</mat-label>
                <input formControlName="numberPopulationDisabledPerson" (keypress)="onlyNumber($event)" matInput name="numberPopulationFemale" type="number">
            </mat-form-field>
        </div>
    </div>
    <h4>Participantes</h4>
    <div class="row">
        <div class="col">
            <mat-form-field class="example-full-width">
                <mat-label>Docentes participantes hombres</mat-label>
                <input formControlName="numberParticipantProfessorMale" (keypress)="onlyNumber($event)" matInput name="numberParticipantProfessorMale" type="number">
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field class="example-full-width">
                <mat-label>Docentes participantes mujeres</mat-label>
                <input formControlName="numberParticipantProfessorFemale" (keypress)="onlyNumber($event)" matInput name="numberParticipantProfessorFemale" type="number">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field class="example-full-width">
                <mat-label>Estudiantes participantes hombres</mat-label>
                <input formControlName="numberParticipantStudentMale" (keypress)="onlyNumber($event)" matInput name="numberParticipantStudentMale" type="number">
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field class="example-full-width">
                <mat-label>Estudiantes participantes mujeres</mat-label>
                <input formControlName="numberParticipantStudentFemale" (keypress)="onlyNumber($event)" matInput name="numberParticipantStudentFemale" type="number">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field class="example-full-width">
                <mat-label>Número total otros participantes</mat-label>
                <input formControlName="numberParticipantOther" (keypress)="onlyNumber($event)" matInput name="numberParticipantOther" type="number">
            </mat-form-field>
        </div>
    </div>
    <br>
    <mat-accordion class="example-headers-align">
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-description>
                    Ingresar Factores de éxito
                    <mat-icon> analytics</mat-icon>
                </mat-panel-description>
                <mat-panel-title>
                    Factores críticos de éxito:Matriz de riesgo
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ckeditor [editor]="editor" formControlName="criticalFactorSuccess" (ready)="onReady($event)"></ckeditor>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-description>
                    Ingresar restricciones o supuestos del proyecto
                    <mat-icon>web_asset_off</mat-icon>
                </mat-panel-description>
                <mat-panel-title>
                    Restricciones/Supuestos
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ckeditor [editor]="editor" formControlName="restrictionAssumption" (ready)="onReady($event)"></ckeditor>
        </mat-expansion-panel>
    </mat-accordion>
</form>