<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title ">Cambiar de Contraseña</h4>
                        <p class="card-category">Módulo de Seguridad</p>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="getForm">
                            <fieldset class="col-12 col-md-12 px-3">
                                <legend class="text-success">Datos de Contraseña:</legend>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <mat-form-field>
                                            <mat-label>Contraseña Antigua</mat-label>
                                            <input formControlName="oldPassword" id="oldPassword" matInput name="oldPassword" [type]="hideOldPwd ? 'password' : 'text'">
                                            <mat-icon (click)="hideOldPwd=!hideOldPwd" matSuffix>{{hideOldPwd ? 'visibility_off' : 'visibility'}}</mat-icon>
                                            <mat-error *ngIf="oldPassword.invalid && (oldPassword.dirty || oldPassword.touched)">
                                                <div *ngIf="oldPassword.errors.minlength">
                                                    La contraseña antigua debe contener al menos 6 caracteres
                                                </div>
                                                <div *ngIf="oldPassword.errors.required">
                                                    La contraseña antigua es requerida
                                                </div>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <mat-form-field>
                                            <mat-label>Nueva Contraseña</mat-label>
                                            <input formControlName="newPassword" id="newPassword" matInput name="newPassword" [type]="hideNewPwd ? 'password' : 'text'">
                                            <mat-icon (click)="hideNewPwd=!hideNewPwd" matSuffix>{{hideNewPwd ? 'visibility_off' : 'visibility'}}</mat-icon>
                                            <mat-error *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)">
                                                <div *ngIf="newPassword.errors.minlength">
                                                    La contraseña debe tener al menos 8 caracteres
                                                </div>
                                                <div *ngIf="newPassword.errors.password">
                                                    {{newPassword.errors.password.message}}
                                                </div>
                                                <div *ngIf="newPassword.errors.required">
                                                    La nueva contraseña es requerida
                                                </div>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-6">
                                        <mat-form-field>
                                            <mat-label>Verifique la Contraseña</mat-label>
                                            <input formControlName="newPassword2" id="newPassword2" matInput name="newPassword2" [type]="hideNewPwd2 ? 'password' : 'text'">
                                            <mat-icon (click)="hideNewPwd2=!hideNewPwd2" matSuffix>{{hideNewPwd2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                                            <mat-error *ngIf="newPassword2.invalid && (newPassword2.dirty || newPassword2.touched)">
                                                <div *ngIf="newPassword2.errors.minlength">
                                                    La contraseña debe tener al menos 8 caracteres
                                                </div>
                                                <div *ngIf="getForm.errors.passwords">
                                                    {{getForm.errors.passwords.message}}
                                                </div>
                                                <div *ngIf="newPassword2.errors.required">
                                                    La contraseña de verificación es requerida
                                                </div>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="clearfix">
                                <button class="fa-pull-right btn btn-danger" (click)='changePassword()' [disabled]="!getForm.valid" mat-raised-button type="submit">Cambiar
                                    Contraseña</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>