<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <div class="row">
              <div class="col-md-8">
                <h4 class="card-title ">Menú entegrables y facturas</h4>
                <p class="card-category">Módulo de Seguimiento</p>
              </div>
            </div>
          </div>
          <div class="card-body">
            <fieldset class="col-12 col-md-12 px-3">
              <div class="row justify-content-md-center">
                <div class="col-md-4">
                  <mat-card>
                    <mat-card-content>
                      <p>Registrar facturas y entregables del proyecto</p>
                      <img mat-card-image src="/assets/img/facturaProyecto.jpg" />
                    </mat-card-content>
                    <mat-card-actions>
                      <button class="btn btn-danger" mat-button [routerLink]="['projectDeliverableInvoice']">
                        <mat-icon aria-hidden="false" class="btn-danger">check</mat-icon>
                        Seleccionar
                      </button>
                    </mat-card-actions>
                  </mat-card>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
