<legend class="text-success">Objetivos del proyecto</legend>
<div class="col">
    <table [dataSource]="project.projectGoalList" mat-table multiTemplateDataRows>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Objetivo</th>
            <td mat-cell *matCellDef="let goal">{{goal.name}}</td>
        </ng-container>
        <ng-container matColumnDef="indicator">
            <th mat-header-cell *matHeaderCellDef>Indicador</th>
            <td mat-cell *matCellDef="let goal">{{goal.indicator}}</td>
        </ng-container>
        <ng-container matColumnDef="deliverable">
            <th mat-header-cell *matHeaderCellDef>Medio de verificación/Entregables</th>
            <td mat-cell *matCellDef="let goal">{{goal.deliverable}}</td>
        </ng-container>
        <ng-container matColumnDef="assumption">
            <th mat-header-cell *matHeaderCellDef>Supuestos</th>
            <td mat-cell *matCellDef="let goal">{{goal.assumption}}</td>
        </ng-container>
        <ng-container matColumnDef="general">
            <th mat-header-cell *matHeaderCellDef>Objetivo General</th>
            <td mat-cell *matCellDef="let goal">
                <div class="form-check">
                    <label class="form-check-label">
                        <input [checked]="goal.general" class="form-check-input" onclick="return false;" type="checkbox">
                        <span class="form-check-sign">
                            <span class="check"></span>
                        </span>
                    </label>
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="expandedActivity">
            <td [attr.colspan]="activityColumns.length" mat-cell *matCellDef="let goal">
                <div class="example-element-detail" [@detailExpand]="goal == expandedGoal ? 'expanded' : 'collapsed'" *ngIf="!goal.general">
                    <table class="table-striped" [dataSource]="goal.goalActivityList" mat-table multiTemplateDataRows>
                        <ng-container matColumnDef="startDate">
                            <th class="text-center" mat-header-cell *matHeaderCellDef>Fecha de inicio</th>
                            <td class="text-center" mat-cell *matCellDef="let activity">{{activity.startDate}}</td>
                        </ng-container>
                        <ng-container matColumnDef="endDate">
                            <th class="text-center" mat-header-cell *matHeaderCellDef>Fecha de fin</th>
                            <td class="text-center" mat-cell *matCellDef="let activity">{{activity.endDate}}</td>
                        </ng-container>
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef>Actividad</th>
                            <td class="text-sm-left" mat-cell *matCellDef="let activity">{{activity.name}}</td>
                        </ng-container>
                        <ng-container matColumnDef="deliverable">
                            <th mat-header-cell *matHeaderCellDef>Entregable</th>
                            <td class="text-sm-left" mat-cell *matCellDef="let activity">{{activity.deliverable}}</td>
                        </ng-container>
                        <ng-container matColumnDef="investmentBudget">
                            <th mat-header-cell *matHeaderCellDef>Presupuesto de inversión</th>
                            <td class="text-center" mat-cell *matCellDef="let activity">{{activity.investmentBudget}}</td>
                        </ng-container>
                        <ng-container matColumnDef="currentBudget">
                            <th mat-header-cell *matHeaderCellDef>Presupuesto corriente</th>
                            <td class="text-center" mat-cell *matCellDef="let activity">{{activity.currentBudget}}</td>
                        </ng-container>
                        <ng-container matColumnDef="total">
                            <th mat-header-cell *matHeaderCellDef>Total</th>
                            <td class="text-center" mat-cell *matCellDef="let activity">{{activity.investmentBudget + activity.currentBudget}}</td>
                        </ng-container>
                        <ng-container matColumnDef="expandedResource">
                            <td [attr.colspan]="activityColumns.length" mat-cell *matCellDef="let activity">
                                <div class="example-element-detail" [@detailExpand]="activity == expandedActivity ? 'expanded' : 'collapsed'">
                                    <table class="table-striped" [dataSource]="activity.activityResourceList" mat-table multiTemplateDataRows>
                                        <ng-container matColumnDef="name">
                                            <th class="text-center" mat-header-cell *matHeaderCellDef>Recurso</th>
                                            <td class="text-left" mat-cell *matCellDef="let activityResource">{{activityResource.resource.name}}</td>
                                        </ng-container>
                                        <ng-container matColumnDef="investmentBudget">
                                            <th class="text-center" mat-header-cell *matHeaderCellDef>Presupuesto de inversión</th>
                                            <td class="text-center" mat-cell *matCellDef="let activityResource">{{activityResource.investmentBudget}}</td>
                                        </ng-container>
                                        <ng-container matColumnDef="currentBudget">
                                            <th class="text-center" mat-header-cell *matHeaderCellDef>Presupuesto corriente</th>
                                            <td class="text-center" mat-cell *matCellDef="let activityResource">{{activityResource.currentBudget}}</td>
                                        </ng-container>
                                        <ng-container matColumnDef="total">
                                            <th class="text-center" mat-header-cell *matHeaderCellDef>Total</th>
                                            <td class="text-center" mat-cell *matCellDef="let activityResource">{{activityResource.investmentBudget +
                                                activityResource.currentBudget}}</td>
                                        </ng-container>
                                        <tr mat-header-row *matHeaderRowDef="resourceColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: resourceColumns;"></tr>
                                    </table>
                                </div>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="activityColumns"></tr>
                        <tr class="example-element-row" [class.example-expanded-row]="expandedActivity === activity"
                            (click)="expandedActivity = expandedActivity === activity ? null : activity" mat-row *matRowDef="let activity; columns: activityColumns;">
                        </tr>
                        <tr class="example-detail-row" mat-row *matRowDef="let row; columns: ['expandedResource']"></tr>
                    </table>
                </div>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="goalColumns"></tr>
        <tr class="example-element-row" [class.example-expanded-row]="expandedGoal === goal" (click)="expandedGoal = expandedGoal === goal ? null : goal" mat-row
            *matRowDef="let goal; columns: goalColumns;">
        </tr>
        <tr class="example-detail-row" mat-row *matRowDef="let row; columns: ['expandedActivity']"></tr>
    </table>
</div>