.example-element-detail {
  display: flex;
  overflow: hidden;
}
.example-element-symbol {
  font-size: 40px;
  font-weight: bold;
  line-height: normal;
}
.example-element-row td {
  border-bottom-width: 0;
}
.mat-cell .mat-header-cell {
  padding: 1em 1em 1em 0;
}
table {
  width: 100%;
}
tr.example-detail-row {
  height: 0;
}
tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}
tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}
