<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header card-header-info">
            <h4 class="card-title">Visualizar Noticia</h4>
            <p class="card-category">Módulo de Administración</p>
          </div>
          <div class="card-body">
            <fieldset class="col-12 col-md-12 px-3">
              <legend class="text-success">Datos de la Noticia:</legend>
              <div class="row">
                <div class="col">
                  <mat-form-field class="example-full-width">
                    <mat-label>Título</mat-label>
                    <input matInput name="title" readonly [(value)]="news.title">
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="example-full-width">
                    <mat-label>Subtítulo</mat-label>
                    <input matInput name="subtitle" readonly [(value)]="news.subtitle">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>Periodo de la Noticia</mat-label>
                    <mat-date-range-input [disabled]="true" [rangePicker]="picker">
                      <input matInput matStartDate name="startDate" placeholder="Fecha de inicio" [(value)]="news.startDate">
                      <input matEndDate matInput name="endDate" placeholder="Fecha de fin" [(value)]="news.endDate">
                    </mat-date-range-input>
                    <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
                    <mat-date-range-picker color="accent" #picker></mat-date-range-picker>
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="example-full-width">
                    <mat-label>Cuerpo de la Noticia</mat-label>
                    <textarea matInput name="body" readonly [(value)]="news.body"></textarea>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="custom-file inputContainer float-left" *ngIf="news.id">
                    <mat-label>Imagen actual</mat-label>
                    <div class="box">
                      <img class="rounded" src="{{urlEndpoint}}/{{news.id}}" />
                      <label>{{news.title}}</label>
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="delete-view loading" *ngIf="showSpiner">
  <div class="spinner">
    <mat-spinner color="primary"></mat-spinner>
    <mat-label>cargando ...</mat-label>
  </div>
</div>