<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">visualización de Notificaciones</h4>
                        <p class="card-category">Notificación por Usuario</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <fieldset class="col-12 col-md-12 px-3">
                                <legend class="text-success">Datos de Notificación:</legend>
                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Título</mat-label>
                                            <input type="text" matInput [(ngModel)]="getNotification.title" name="subtitle" required readonly>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Descripción</mat-label>
                                            <textarea matInput [(ngModel)]="getNotification.description" name="description" required readonly></textarea>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Fecha de la Notificación</mat-label>
                                            <input matInput [(ngModel)]="getNotification.date" name="date" required readonly>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Hora de la Notificación</mat-label>
                                            <input matInput [(ngModel)]="getNotification.hour" name="hour" required readonly>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>