<div class="row">
    <div class="col">
        <mat-form-field class="example-full-width">
            <mat-label>Convocatoria</mat-label>
            <input matInput name="nombre" readonly [(value)]="project.call.name">
        </mat-form-field>
    </div>
</div>
<div class="table-responsive">
    <table class="table" [dataSource]="dataSource" matSort mat-table>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Requisitos</th>
            <td mat-cell *matCellDef="let callRequirement">{{callRequirement.requirement.name}}</td>
        </ng-container>
        <ng-container matColumnDef="file">
            <th mat-header-cell *matHeaderCellDef>Archivo</th>
            <td mat-cell *matCellDef="let callRequirement">
                <div class="fileUploadInput">
                    <input id="file{{callRequirement.id}}" readonly [(value)]="files['file'+callRequirement.id]">
                    <button aria-label="Seleccionar archivo" disabled>
                        <mat-icon>attach_file</mat-icon>
                    </button>
                </div>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
<div class="delete-view loading" *ngIf="showSpiner">
    <div class="spinner">
        <mat-spinner color="primary"></mat-spinner>
        <mat-label>cargando ...</mat-label>
    </div>
</div>