.fileUploadInput {
  display: flex;
  position: relative;
}
.fileUploadInput input {
  border: 0.12em solid #000000;
  border-radius: 0.3em;
  display: -webkit-box;
  height: 2em;
  overflow: hidden;
  padding: 0.25em 2em 0 0;
  position: relative;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  width: 100%;
}
.fileUploadInput button {
  background-color: darkcyan;
  border-radius: 0.3em;
  color: white;
  font-size: 1em;
  height: 2em;
  padding: 0.3em 0 0 0;
  position: absolute;
  right: 0;
  width: 2em;
}
mat-icon {
  font-size: 1.2em;
}
table {
  align-items: center;
  width: 100%;
}
