<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Extensión de la Convocatoria</h4>
                        <p class="card-category">Módulo de Registro</p>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="form" (ngSubmit)="extend()">
                            <fieldset class="col-12 col-md-12 px-3">
                                <legend class="text-success">Datos de la Convocatoria:</legend>
                                <div class="row">
                                    <div class="col">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Nombre</mat-label>
                                            <input matInput name="name" readonly [(value)]="call.name">
                                        </mat-form-field>
                                    </div>
                                    <div class="col">
                                        <mat-form-field appearance="fill" class="example-full-width">
                                            <mat-label>Periodo de Convocatoria</mat-label>
                                            <mat-date-range-input [disabled]="true" [rangePicker]="picker">
                                                <input matInput matStartDate name="startDate" placeholder="Fecha de inicio" [(value)]="call.startDate">
                                                <input matEndDate matInput name="endDate" placeholder="Fecha de fin" [(value)]="call.endDate">
                                            </mat-date-range-input>
                                            <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
                                            <mat-date-range-picker color="accent" #picker></mat-date-range-picker>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <legend class="text-success">Datos de la Extensión de la Convocatoria:</legend>
                                <div class="row">
                                    <div class="col">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Respaldo</mat-label>
                                            <input formControlName="support" matInput name="support" type="text">
                                        </mat-form-field>
                                    </div>
                                    <div class="col">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Fecha de extensión de la Convocatoria</mat-label>
                                            <input formControlName="callExtension" [matDatepicker]="callExtension" matInput [min]="minDate" name="callExtension" readonly>
                                            <mat-error *ngIf="extension.invalid && (extension.dirty || extension.touched)">
                                                La fecha de la extensión de la convocatoria es requerida
                                            </mat-error>
                                            <mat-datepicker-toggle [for]="callExtension" matSuffix>
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #callExtension></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="clearfix">
                                <button class="btn btn-danger pull-right" [disabled]="!form.valid" mat-raised-button type="submit">Extensión de la Convocatoria</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="delete-view loading" *ngIf="showSpiner">
    <div class="spinner">
        <mat-spinner color="primary"></mat-spinner>
        <mat-label>cargando ...</mat-label>
    </div>
</div>