<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header card-header-info">
              <h4 class="card-title">Visualizar Planificación</h4>
              <p class="card-category">Módulo de Planificación</p>
            </div>
            <div class="card-body">
              <fieldset class="col-12 col-md-12 px-3">
                <legend class="text-success">Datos de la Planificación:</legend>
                <div class="row">
                  <div class="col">
                    <mat-form-field class="example-full-width">
                      <mat-label>Código de la Planificación</mat-label>
                      <input matInput name="name" readonly [(value)]="planning.id">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Fecha de Registro</mat-label>
                        <input matInput name="callArea" readonly [(value)]="planning.registrationDate">
                      </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="example-full-width">
                          <mat-label>Responsable de Aprobación</mat-label>
                          <input matInput name="callArea" readonly [(value)]="planning.responsibleId">
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field class="example-full-width">
                          <mat-label>Evaluador de la Planificación</mat-label>
                          <input matInput name="callArea" readonly [(value)]="planning.evaluatorId">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Duración máxima de la Planificación</mat-label>
                        <input matInput name="callArea" readonly  [(value)]="planning.maxDuration">
                      </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Estado de la Aprobación de la Planificación</mat-label>
                        <input matInput name="callArea" readonly>
                        <div *ngIf="planning.aprobation">
                          Aprobado
                        </div>
                        <div *ngIf="!planning.aprobation">
                          En espera de Aprobación
                        </div>
                      </mat-form-field>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Observaciones</mat-label>
                        <input matInput name="callArea" readonly  [(value)]="planning.observations">
                      </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Estado de la Planificación</mat-label>
                        <input matInput name="callArea" readonly>
                        <div *ngIf="planning.complete">
                          Completado
                        </div>
                        <div *ngIf="!planning.complete">
                          Incompleto
                        </div>
                      </mat-form-field>
                    </div>
                </div>
                <div class="row">
                <div class="col">
                  <mat-label>Actividades Planificadas</mat-label>
                  <div class="table-responsive" *ngIf="listActivities?.length!=0 else ">
                    <table class="table" [dataSource]="dataSource" matSort mat-table>
                      <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Actividad</th>
                        <td mat-cell *matCellDef="let activities">{{activities.name}}</td>
                      </ng-container>
                      <ng-container matColumnDef="duration">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Duración</th>
                        <td mat-cell *matCellDef="let activities">{{activities.duration}}</td>
                      </ng-container>
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
                  </div>   
                </div>
              </div>
              </fieldset>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="delete-view loading" *ngIf="showSpiner">
    <div class="spinner">
      <mat-spinner color="primary"></mat-spinner>
      <mat-label>cargando ...</mat-label>
    </div>
  </div>
