<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-success">
              <div class="row">
                <div class="col-md-8">
                  <h4 class="card-title">Planificación</h4>
                  <p class="card-category">Reportes</p>
                </div>
              </div>
            </div>
              <div class="card-body">
              <fieldset class="col-12 col-md-12 px-3">
                <div class="justify-content-md-center row">
                  <div class="col-md-4">
                    <mat-card>
                      <mat-card-content>
                        <p>Reportes</p>
                        <img mat-card-image src="/assets/img/planificacion/reportes.jpg" width="100" height="270"/>
                      </mat-card-content>
                      <mat-card-actions>
                         <button class="btn btn-danger" mat-button [routerLink]="['reports']">
                          <mat-icon aria-hidden="false" class="btn-danger">check</mat-icon>
                          Seleccionar
                        </button> 
                      </mat-card-actions>
                    </mat-card>
                  </div> 
                </div>
              </fieldset> 
            </div>
          </div>
        </div> 
      </div> 
    </div>
  </div>
  
