<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header card-header-success">
              <div class="row">
                <div class="col-md-8">
                  <h4 class="card-title">Tabla de Congreso</h4>
                  <p class="card-category">Módulo de Planificación</p>
                </div>
                <div class="col-md-4">
                  <mat-card>
                    <div class="example-button-row">
                      <div class="d-inline-block search-special">
                        <input aria-label="search" [(ngModel)]="search" placeholder="Buscar en la Tabla..." type="text">
                        <button aria-label="filter" class="btn btn-just-icon btn-round" (click)="filterDataTable()"
                          color="primary" mat-icon-button matTooltip="Buscar Congreso" type="submit">
                          <mat-icon>search</mat-icon>
                        </button>
                      </div>
                      <!-- <div class="d-inline-block create-update">
                        <button aria-label="create" class="btn btn-just-icon btn-round" color="primary" mat-icon-button
                          matTooltip="Crear Congreso" [routerLink]="['../congress/form']" type="submit">
                          <mat-icon>add</mat-icon>
                        </button>
                      </div> -->
                    </div>
                  </mat-card>
                </div>
              </div>
            </div>
            <div class="card-body col">
              <div class="table-responsive" *ngIf="congressList?.length!=0 else elseBlock">
                <table class="table" [dataSource]="dataSource" matSort mat-table>
                  <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Código del Congreso</th>
                    <td mat-cell *matCellDef="let congress">{{congress.id}}</td>
                  </ng-container>
                  <ng-container matColumnDef="planning">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Código de la Planificación</th>
                    <td mat-cell *matCellDef="let congress">{{congress.planning.id}}</td>
                  </ng-container>
                  <ng-container matColumnDef="codIES">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Código IES</th>
                    <td mat-cell *matCellDef="let congress">{{congress.codIES}}</td>
                  </ng-container>
                  <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo de Congreso</th>
                    <td mat-cell *matCellDef="let congress">{{congress.type}}</td>
                  </ng-container>
                  <ng-container matColumnDef="articleType">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo de Artículo</th>
                    <td mat-cell *matCellDef="let congress">{{congress.articleType}}</td>
                  </ng-container>
                  <ng-container matColumnDef="codPUB">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Código de la Publicación</th>
                    <td mat-cell *matCellDef="let congress">{{congress.codPUB}}</td>
                  </ng-container>
                  <ng-container matColumnDef="presentationName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre de Ponencia</th>
                    <td mat-cell *matCellDef="let congress">{{congress.presentationName}}</td>
                  </ng-container>
                  <ng-container matColumnDef="eventName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre del Evento</th>
                    <td mat-cell *matCellDef="let congress">{{congress.eventName}}</td>
                  </ng-container>
                  <ng-container matColumnDef="eventEdition">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Edición del Evento</th>
                    <td mat-cell *matCellDef="let congress">{{congress.eventEdition}}</td>
                  </ng-container>
                  <ng-container matColumnDef="eventOrganizer">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Organizador del Evento</th>
                    <td mat-cell *matCellDef="let congress">{{congress.eventOrganizer}}</td>
                  </ng-container>
                  <ng-container matColumnDef="organizingCommite">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Organizador del Evento</th>
                    <td mat-cell *matCellDef="let congress">{{congress.organizingCommite}}</td>
                  </ng-container>
                  <ng-container matColumnDef="country">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>País</th>
                    <td mat-cell *matCellDef="let congress">{{congress.country}}</td>
                  </ng-container>
                  <ng-container matColumnDef="city">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Ciudad</th>
                    <td mat-cell *matCellDef="let congress">{{congress.city}}</td>
                  </ng-container>
                  <ng-container matColumnDef="publicationDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de la Publicación</th>
                    <td mat-cell *matCellDef="let congress">{{congress.publicationDate}}</td>
                  </ng-container>
                  <ng-container matColumnDef="detailField">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Detalle de Publicación del Congreso</th>
                    <td mat-cell *matCellDef="let congress">{{congress.detailField}}</td>
                  </ng-container>
                  <ng-container matColumnDef="competitor">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Participación</th>
                    <td mat-cell *matCellDef="let congress">{{congress.competitor}}</td>
                  </ng-container>
                  <ng-container matColumnDef="duration">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Duración</th>
                    <td mat-cell *matCellDef="let congress">{{congress.duration}}</td>
                  </ng-container>
                  <ng-container matColumnDef="complete">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Completado</th>
                    <td mat-cell *matCellDef="let congress">
                      <div *ngIf="congress.complete">
                        Si
                      </div>
                      <div *ngIf="!congress.complete">
                        No
                      </div>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="aprobation">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Aprobación</th>
                    <td mat-cell *matCellDef="let congress">{{congress.aprobation}}</td>
                  </ng-container>
                  <ng-container matColumnDef="observations">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Observaciones</th>
                    <td mat-cell *matCellDef="let congress">{{congress.observations}}</td>
                  </ng-container>
                  <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Acciones</th>
                    <td mat-cell *matCellDef="let congress">
                      <div class="example-button-row">
                        <button aria-label="view" class="btn btn-just-icon btn-outline-info btn-round"
                          matTooltip="Visualizar Congreso" [routerLink]="['../econgressView',congress.id]">
                          <mat-icon>visibility</mat-icon>
                        </button>
                        <div *ngIf="congress.complete">
                        <button aria-label="update" class="btn btn-just-icon btn-outline-warning btn-round"
                          matTooltip="Modificar Congreso" [routerLink]="['../econgress/form',congress.id]">
                          <mat-icon>brush</mat-icon>
                        </button>
                      </div>
                      </div>
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
              </div>
              <ng-template class="alert alert-dark" #elseBlock>
                No existen registros en la base de datos
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="delete-view loading" *ngIf="showSpiner">
    <div class="spinner">
      <mat-spinner color="primary"></mat-spinner>
      <mat-label>cargando ...</mat-label>
    </div>
  </div>
  

