<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header" [class]="evaluationForm.get('evaluationId').value ? 'card-header-warning' :'card-header-success'">
                        <h4 class="card-title">Tabla de Evaluaciones</h4>
                        <p class="card-category">Módulo de Evaluación</p>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="evaluationForm">
                            <fieldset class="col-12 col-md-12 px-3">
                                <legend class="text-success">Datos de la Evaluación:</legend>
                                <div class="row">
                                    <div class="col-md-10">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Nombre de la evaluación</mat-label>
                                            <input formControlName="evaluationName" matInput name="evaluationName">
                                            <mat-error *ngIf="evaluationName.invalid && (evaluationName.dirty || evaluationName.touched)">
                                                El nombre de la evaluación es requerido
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-2">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Ponderación</mat-label>
                                            <input formControlName="evaluationGrade" matInput name="evaluationGrade" readonly>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <legend class="text-success">Criterios de evaluación</legend>
                                <mat-horizontal-stepper linear #stepper>
                                    <ng-template matStepperIcon="list">
                                        <mat-icon>list</mat-icon>
                                    </ng-template>
                                    <ng-template matStepperIcon="add">
                                        <mat-icon>plus_one</mat-icon>
                                    </ng-template>
                                    <mat-step label="Criterios de evaluación" *ngIf="stepCriteria" state="list">
                                        <div class="col table-responsive" *ngIf="evaluation.evaluationCriteriaList?.length!=0 else elseCriteria">
                                            <table class="table table-striped" [dataSource]="evaluationCriteriaDataSource" mat-table multiTemplateDataRows>
                                                <ng-container matColumnDef="name">
                                                    <th mat-header-cell *matHeaderCellDef>Nombre</th>
                                                    <td mat-cell *matCellDef="let evaluationCriteria">{{evaluationCriteria.criteria.name}}</td>
                                                </ng-container>
                                                <ng-container matColumnDef="grade">
                                                    <th class="text-center" mat-header-cell *matHeaderCellDef>Ponderación</th>
                                                    <td class="min-width" mat-cell *matCellDef="let evaluationCriteria">{{evaluationCriteria.grade}}</td>
                                                </ng-container>
                                                <ng-container matColumnDef="actions">
                                                    <th class="text-center" mat-header-cell *matHeaderCellDef>Acciones</th>
                                                    <td class="min-width" mat-cell *matCellDef="let evaluationCriteria">
                                                        <div class="example-button-row">
                                                            <button aria-label="create" class="btn btn-just-icon btn-outline-success btn-round"
                                                                (click)="setCriteriaSubcriteria(evaluationCriteria, stepper)" matTooltip="Agregar Subcriterio">
                                                                <mat-icon>add</mat-icon>
                                                            </button>
                                                            <button aria-label="update" class="btn btn-just-icon btn-outline-warning btn-round"
                                                                (click)="setCriteria(evaluationCriteria, stepper)" color="accent" matTooltip="Actualizar Criterio">
                                                                <mat-icon>brush</mat-icon>
                                                            </button>
                                                            <button aria-label="delete" class="btn btn-just-icon btn-outline-danger btn-round"
                                                                (click)="deleteCriteria(evaluationCriteria)" matTooltip="Eliminar Criterio">
                                                                <mat-icon>delete</mat-icon>
                                                            </button>
                                                        </div>
                                                    </td>
                                                </ng-container>
                                                <ng-container matColumnDef="expandedDetail">
                                                    <td [attr.colspan]="displayedColumns.length" mat-cell *matCellDef="let evaluationCriteria">
                                                        <div class="example-element-detail" [@detailExpand]="evaluationCriteria == expandedElement ? 'expanded' : 'collapsed'">
                                                            <table class="table-striped" [dataSource]="evaluationCriteria.evaluationCriteriaSubcriteriaList" mat-table>
                                                                <ng-container matColumnDef="name">
                                                                    <th mat-header-cell *matHeaderCellDef>Subcriterio</th>
                                                                    <td class="text-justify" mat-cell *matCellDef="let evaluationCriteriaSubcriteria">
                                                                        {{evaluationCriteriaSubcriteria.subcriteria.name}}</td>
                                                                </ng-container>
                                                                <ng-container matColumnDef="grade">
                                                                    <th class="text-center min-width" mat-header-cell *matHeaderCellDef>Ponderación</th>
                                                                    <td class="text-center" mat-cell *matCellDef="let evaluationCriteriaSubcriteria">
                                                                        {{evaluationCriteriaSubcriteria.grade}}</td>
                                                                </ng-container>
                                                                <ng-container matColumnDef="actions">
                                                                    <th mat-header-cell *matHeaderCellDef>Acciones</th>
                                                                    <td mat-cell *matCellDef="let evaluationCriteriaSubcriteria">
                                                                        <div class="example-button-row">
                                                                            <div class="d-inline-block create-update">
                                                                                <button aria-label="update" class="btn btn-just-icon btn-outline-warning btn-round"
                                                                                    (click)="setSubcriteria(evaluationCriteria, evaluationCriteriaSubcriteria, stepper)"
                                                                                    matTooltip="Actualizar Subcriterio">
                                                                                    <mat-icon>brush</mat-icon>
                                                                                </button>
                                                                            </div>
                                                                            <div class="d-inline-block delete-view">
                                                                                <button aria-label="delete" class="btn btn-just-icon btn-outline-danger btn-round"
                                                                                    (click)="deleteSubcriteria(evaluationCriteria, evaluationCriteriaSubcriteria)"
                                                                                    matTooltip="Eliminar Subcriterio">
                                                                                    <mat-icon>delete</mat-icon>
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </ng-container>
                                                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                                            </table>
                                                        </div>
                                                    </td>
                                                </ng-container>
                                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                                <tr class="example-element-row" [class.example-expanded-row]="expandedElement === evaluationCriteria"
                                                    (click)="expandedElement = expandedElement === evaluationCriteria ? null : evaluationCriteria" mat-row
                                                    *matRowDef="let evaluationCriteria; columns: displayedColumns;">
                                                </tr>
                                                <tr class="example-detail-row" mat-row *matRowDef="let row; columns: ['expandedDetail']"></tr>
                                            </table>
                                        </div>
                                        <ng-template class="alert alert-dark" #elseCriteria>
                                            No existen criterios para la evaluación
                                        </ng-template>
                                    </mat-step>
                                    <mat-step label="Agregar Criterio" *ngIf="stepCriteria" state="add">
                                        <form [formGroup]="criteriaForm">
                                            <fieldset>
                                                <legend class="text-success">Datos del Criterio:</legend>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <mat-form-field class="example-full-width">
                                                            <mat-label>Nombre del criterio</mat-label>
                                                            <input formControlName="criteriaName" [matAutocomplete]="auto" matInput name="criteriaName">
                                                            <mat-error *ngIf="criteriaName.invalid && (criteriaName.dirty || criteriaName.touched)">
                                                                El nombre del criterio es requerido
                                                            </mat-error>
                                                            <mat-autocomplete #auto="matAutocomplete">
                                                                <mat-option *ngFor="let criteria of filteredCriteriaList | async" [value]="criteria.name">
                                                                    {{criteria.name}}
                                                                </mat-option>
                                                            </mat-autocomplete>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <button class="btn btn-danger pull-right" (click)='addCriteria(stepper)' [disabled]="!criteriaForm.valid" mat-raised-button
                                                *ngIf="!evaluationCriteria else elseUpdateCriteria" type="button">Agregar Criterio</button>
                                            <ng-template #elseUpdateCriteria>
                                                <button class="btn btn-danger pull-right" (click)='cancelCriteria(stepper)' mat-raised-button type="button">Cancelar</button>
                                                <button class="btn btn-danger pull-right" (click)='updateCriteria(stepper)' [disabled]="!criteriaForm.valid" mat-raised-button
                                                    type="button">Actualizar Criterio</button>
                                            </ng-template>
                                        </form>
                                    </mat-step>
                                    <mat-step label="Agregar Subcriterio" *ngIf="stepSubcriteria" state="add">
                                        <form [formGroup]="subcriteriaForm">
                                            <fieldset>
                                                <legend class="text-success">Datos del Subcriterio:</legend>
                                                <div class="row">
                                                    <div class="col-md-10">
                                                        <mat-form-field class="example-full-width">
                                                            <mat-label>Nombre del subcriterio</mat-label>
                                                            <input formControlName="subcriteriaName" [matAutocomplete]="auto" matInput name="subcriteriaName">
                                                            <mat-error *ngIf="subcriteriaName.invalid && (subcriteriaName.dirty || subcriteriaName.touched)">
                                                                El nombre del subcriterio es requerido
                                                            </mat-error>
                                                            <mat-autocomplete #auto="matAutocomplete">
                                                                <mat-option *ngFor="let subcriteria of filteredSubcriteriaList | async" [value]="subcriteria.name">
                                                                    {{subcriteria.name}}
                                                                </mat-option>
                                                            </mat-autocomplete>
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <mat-form-field class="example-full-width">
                                                            <mat-label>Ponderación</mat-label>
                                                            <input formControlName="subcriteriaGrade" matInput name="subcriteriaGrade" type="number">
                                                            <mat-error *ngIf="subcriteriaGrade.invalid && (subcriteriaGrade.dirty || subcriteriaGrade.touched)">
                                                                La ponderación del subcriterio es requerida
                                                            </mat-error>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <button class="btn btn-danger pull-right" (click)='addSubcriteria(stepper)' [disabled]="!subcriteriaForm.valid" mat-raised-button
                                                *ngIf="!evaluationCriteriaSubcriteria else elseUpdateSubcriteria" type="button">Agregar Subcriterio</button>
                                            <ng-template #elseUpdateSubcriteria>
                                                <button class="btn btn-danger pull-right" (click)='cancelSubcriteria(stepper)' mat-raised-button type="button">Cancelar</button>
                                                <button class="btn btn-danger pull-right" (click)='updateSubcriteria(stepper)' [disabled]="!subcriteriaForm.valid" mat-raised-button
                                                    type="button">Actualizar Subcriterio</button>
                                            </ng-template>
                                        </form>
                                    </mat-step>
                                </mat-horizontal-stepper>
                            </fieldset>
                            <div class="clearfix">
                                <button class="btn btn-danger pull-right" (click)='save()' [disabled]="!evaluationForm.valid" mat-raised-button type="submit">Guardar
                                    Evaluación</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>