.example-element-description {
    padding: 16px;
}

.example-element-description-attribution {
    opacity: 0.5;
}

.example-element-detail {
    display: flex;
    overflow: hidden;
}

.example-element-diagram {
    border: 2px solid black;
    font-weight: lighter;
    height: 104px;
    margin: 8px 0;
    min-width: 80px;
    padding: 8px;
}

.example-element-symbol {
    font-size: 40px;
    font-weight: bold;
    line-height: normal;
}

.example-element-row td {
    border-bottom-width: 0;
}

.min-width {
    min-width: 11.5em;
}

@media (max-width: 991px) {
    .min-width {
        min-width: fit-content;
    }
}

table {
    width: 100%;
}

tr.example-detail-row {
    height: 0;
}

tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
}

tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
}
