<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Definir Roles del Usuario</h4>
                        <p class="card-category">Módulo de Seguridad</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <fieldset class="col-12 col-md-12 px-3">
                                <legend class="text-success">Datos de Usuario:</legend>
                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Id</mat-label>
                                            <input matInput name="id" [(ngModel)]="getUser.id" readonly>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Username</mat-label>
                                            <input matInput name="username" [(ngModel)]="getUser.username" readonly>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Nombre</mat-label>
                                            <input matInput name="name" [(ngModel)]="getUser.name" readonly>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Apellido</mat-label>
                                            <input matInput name="lastName" [(ngModel)]="getUser.lastName" readonly>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Roles Asignados</mat-label>
                                            <mat-select [formControl]="getRoleForm" multiple required>
                                                <mat-option *ngFor="let role of getRoleList" [value]="role.id">{{role.name}}</mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="getRoleForm.invalid && (getRoleForm.dirty || getRoleForm.touched)">
                                                Debes seleccionar al menos un rol para el usuario
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Email</mat-label>
                                            <input matInput name="email" [(ngModel)]="getUser.email" readonly>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <button class="btn btn-danger pull-right" (click)='roleAssign()' [disabled]="!getRoleForm.valid" mat-raised-button type="submit">Asignar
                                        Roles</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>