<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <div class="row">
                            <div class="col-md-8">
                                <h4 class="card-title ">Tabla de las Disciplinas Científicas</h4>
                                <p class="card-category">Módulo de Registro</p>
                            </div>
                            <div class="col-md-4">
                                <mat-card>
                                    <div class="example-button-row">
                                        <input aria-label="Search" [(ngModel)]="setSearch" placeholder="Buscar en la Tabla..." type="text">
                                        <button aria-label="filter" class="btn btn-just-icon btn-round" (click)="filterDataTable()" color="accent" mat-mini-fab
                                            matTooltip="Buscar Disciplina Científica" type="submit">
                                            <mat-icon>search</mat-icon>
                                        </button>
                                        <button aria-label="create" class="btn btn-just-icon btn-round" color="accent" mat-mini-fab matTooltip="Registrar Disciplina Científica"
                                            [routerLink]="['../scientificDiscipline/form']" type="submit">
                                            <mat-icon>create</mat-icon>
                                        </button>
                                    </div>
                                </mat-card>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="table-responsive" *ngIf="getScientificDisciplineList?.length!=0 else elseBlock">
                                <table class="table" [dataSource]="getDataSource" matSort mat-table>
                                    <ng-container matColumnDef="name">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
                                        <td mat-cell *matCellDef="let element">{{element.name}}</td>
                                    </ng-container>
                                    <ng-container matColumnDef="actions">
                                        <th mat-header-cell *matHeaderCellDef>Acciones</th>
                                        <td mat-cell *matCellDef="let element">
                                            <div class="example-button-row">
                                                <button aria-label="update" color="warn" mat-mini-fab matTooltip="Modificar Disciplina Científica"
                                                    [routerLink]="['../scientificDiscipline/form',element.id]">
                                                    <mat-icon>brush</mat-icon>
                                                </button>
                                                <button aria-label="delete" (click)="delete(element)" color="warn" mat-mini-fab matTooltip="Eliminar Disciplina Científica">
                                                    <mat-icon>delete</mat-icon>
                                                </button>
                                            </div>
                                        </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="getDisplayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: getDisplayedColumns;"></tr>
                                </table>
                                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                            </div>
                            <ng-template class="alert alert-dark" #elseBlock>
                                No existen registros en la base de datos
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>