<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header card-header-success">
              <div class="row">
                <div class="col-md-8">
                  <h4 class="card-title">Tabla de Planificación</h4>
                  <p class="card-category">Módulo de Reportes</p>
                </div>
                <div class="col-md-4">
                  <mat-card>
                    <div class="example-button-row">
                      <div class="d-inline-block search-special">
                        <input aria-label="search" [(ngModel)]="search" placeholder="Buscar en la Tabla..." type="text">
                        <button aria-label="filter" class="btn btn-just-icon btn-round" (click)="filterDataTable()"
                          color="primary" mat-icon-button matTooltip="Buscar Planificación" type="submit">
                          <mat-icon>search</mat-icon>
                        </button>
                      </div>
                    </div>
                  </mat-card>
                </div>
              </div>
            </div>
            <div class="card-body col">
              <div class="table-responsive" *ngIf="planningList?.length!=0 else elseBlock">
                <table class="table" [dataSource]="dataSource" matSort mat-table>
                  <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Código de Planificación</th>
                    <td mat-cell *matCellDef="let planning">{{planning.id}}</td>
                  </ng-container>
                  <ng-container matColumnDef="maxDuration">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Duración</th>
                    <td mat-cell *matCellDef="let planning">{{planning.maxDuration}}</td>
                  </ng-container>
                  <ng-container matColumnDef="registrationDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de Registro</th>
                    <td mat-cell *matCellDef="let planning">{{planning.registrationDate}}</td>
                  </ng-container>
                  <ng-container matColumnDef="responsibleId">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Responsable</th>
                    <td mat-cell *matCellDef="let planning">{{planning.responsibleId}}</td>
                  </ng-container>
                  <ng-container matColumnDef="aprobation">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Aprobación</th>
                    <td mat-cell *matCellDef="let planning">
                      <div *ngIf="planning.aprobation">
                        Aprobada
                    </div>
                    <div *ngIf="!planning.aprobation">
                      Pendiente
                  </div>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="complete">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Completado</th>
                    <td mat-cell *matCellDef="let planning">
                      <div *ngIf="planning.complete">
                          Completado
                      </div>
                      <div *ngIf="!planning.complete">
                        Incompleto
                    </div>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="evaluatorId">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Evaluador</th>
                    <td mat-cell *matCellDef="let planning">{{planning.evaluatorId}}</td>
                  </ng-container>
                  <ng-container matColumnDef="observations">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Observaciones</th>
                    <td mat-cell *matCellDef="let planning">{{planning.observations}}</td>
                  </ng-container>
                  <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Acciones</th>
                    <td mat-cell *matCellDef="let planning">
                      <div class="example-button-row">
                        <button aria-label="view" class="btn btn-just-icon btn-outline-info btn-round"
                          matTooltip="Visualizar Reporte" [routerLink]="['../reportsView',planning.id]">
                          <mat-icon>assessment</mat-icon>
                        </button>
                      </div>
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
              </div>
              <ng-template class="alert alert-dark" #elseBlock>
                No existen registros en la base de datos
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="delete-view loading" *ngIf="showSpiner">
    <div class="spinner">
      <mat-spinner color="primary"></mat-spinner>
      <mat-label>cargando ...</mat-label>
    </div>
  </div>
  
