<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <div class="row">
              <div class="col-md-8">
                <h4 class="card-title ">Tabla de Notificaciones del Proyecto</h4>
                <p class="card-category">Módulo de Evaluación</p>
              </div>
              <div class="col-md-4">
                <mat-card>
                  <div class="example-button-row">
                    <input aria-label="Search" [(ngModel)]="setSearch" placeholder="Buscar en la Tabla..." type="text">
                    <button aria-label="filter" class="btn btn-just-icon btn-round" (click)="filterDataTable()"
                      color="accent" mat-mini-fab matTooltip="Buscar el Proyecto" type="submit">
                      <mat-icon>search</mat-icon>
                    </button>
                  </div>
                </mat-card>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <div class="table-responsive" *ngIf="getProjectNotificationList?.length!=0 else elseBlock">
                <table class="table" [dataSource]="getDataSource" matSort mat-table>
                  <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Título </th>
                    <td mat-cell *matCellDef="let element">{{element.title}}</td>
                  </ng-container>
                  <ng-container matColumnDef="user">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario Responsable </th>
                    <td mat-cell *matCellDef="let element"> {{element.user}}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="commentary">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Comentario</th>
                    <td mat-cell *matCellDef="let element">{{element.commentary}}</td>
                  </ng-container>
                  <ng-container matColumnDef="creationDate">
                    <th mat-header-cell *matHeaderCellDef>Fecha</th>
                    <td mat-cell *matCellDef="let element">{{element.creationDate}}</td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="getDisplayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: getDisplayedColumns;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
              </div>
              <ng-template class="alert alert-dark" #elseBlock>
                No existen registros en la base de datos
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
