.example-button-row button,
.example-button-row a {
    margin-right: 8px;
}
.example-form {
    max-width: 500px;
    min-width: 150px;
    width: 100%;
}
.example-full-width {
    width: 100%;
}
input {
    border-color: transparent !important;
    box-shadow: none !important;
    outline: none !important;
    outline-style: none !important;
}
.mat-accent {
    background-color: rgb(255, 255, 255);
    color: rgb(200, 66, 58);
}
.mat-warn {
    background-color: rgb(200, 66, 58);
    color: rgb(255, 255, 255);
}
.table td th {
    text-align: center;
}
