<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header" [class]="form.get('id').value ? 'card-header-warning' :'card-header-success'">
                        <h4 class="card-title">{{title}}</h4>
                        <p class="card-category">Módulo de Registro</p>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="form">
                            <fieldset class="col-12 col-md-12 px-3">
                                <legend class="text-success">Datos de la Convocatoria:</legend>
                                <div class="row">
                                    <div class="col">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Nombre</mat-label>
                                            <input formControlName="name" matInput name="name" type="text">
                                            <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">
                                                El nombre de la convocatoria es requerido
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Área de Convocatoria</mat-label>
                                            <mat-select formControlName="callAreaId">
                                                <mat-option *ngFor="let callArea of callAreaList" [value]="callArea.id">
                                                    {{callArea.name}}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="callAreaId.invalid && (callAreaId.dirty || callAreaId.touched)">
                                                Se debe seleccionar un área de convocatoria
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Descripción</mat-label>
                                            <textarea formControlName="description" matInput name="description"></textarea>
                                            <mat-error *ngIf="description.invalid && (description.dirty || description.touched)">
                                                La descripción es requerida
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <mat-form-field appearance="fill" class="example-full-width">
                                            <mat-label>Periodo de Convocatoria</mat-label>
                                            <mat-date-range-input [rangePicker]="picker">
                                                <input formControlName="startDate" matInput matStartDate name="startDate" placeholder="Fecha de inicio" readonly>
                                                <input formControlName="endDate" matEndDate matInput name="endDate" placeholder="Fecha de fin" readonly>
                                            </mat-date-range-input>
                                            <mat-error *ngIf="startDate.invalid && (startDate.dirty || startDate.touched)">
                                                La fecha de inicio es requerida
                                            </mat-error>
                                            <mat-error *ngIf="endDate.invalid && (endDate.dirty || endDate.touched)">
                                                La fecha de fin es requerida
                                            </mat-error>
                                            <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
                                            <mat-date-range-picker color="accent" #picker startView="year"></mat-date-range-picker>
                                        </mat-form-field>
                                    </div>
                                    <div class="col">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Monto de financiamiento</mat-label>
                                            <input formControlName="finacingAmount" matInput name="finacingAmount" type="number">
                                            <mat-error *ngIf="finacingAmount.invalid && (finacingAmount.dirty || finacingAmount.touched)">
                                                El monto de financiamiento es requerido
                                            </mat-error>
                                            <span matPrefix>$&nbsp;</span>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Campo</mat-label>
                                            <mat-select formControlName="areaList" multiple>
                                                <mat-option *ngFor="let area of areaList" [value]="area.id">
                                                    {{area.name}}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="areas.invalid && (areas.dirty || areas.touched)">
                                                Se debe seleccionar al menos un campo
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Evaluación</mat-label>
                                            <mat-select formControlName="evaluationId">
                                                <mat-option *ngFor="let evaluation of evaluationList" [value]="evaluation.id">
                                                    {{evaluation.name}}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="evaluationId.invalid && (evaluationId.dirty || evaluationId.touched)">
                                                Se debe seleccionar una evaluación para la convocatoria
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <table class="table-striped" [dataSource]="dataSource" matSort mat-table>
                                            <ng-container matColumnDef="name">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Requisitos</th>
                                                <td mat-cell *matCellDef="let requirement">
                                                    <section class="example-section">
                                                        <mat-checkbox (change)="changeRequirement($event.checked,requirement)" [checked]="requirement.checked"
                                                            name="requirement.name">
                                                            {{requirement.name}}
                                                        </mat-checkbox>
                                                    </section>
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="documentation">
                                                <th mat-header-cell *matHeaderCellDef>Requiere Documentación!</th>
                                                <td mat-cell *matCellDef="let requirement">
                                                    <div class="slide">
                                                        <mat-slide-toggle (change)="changeDocumentation($event.checked,requirement)" [checked]="requirement.documentation"
                                                            *ngIf="requirement.checked else elseBlock">
                                                        </mat-slide-toggle>
                                                        <ng-template #elseBlock>
                                                            <br>
                                                        </ng-template>
                                                    </div>
                                                </td>
                                            </ng-container>
                                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                        </table>
                                        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="clearfix">
                                <button class="btn btn-danger pull-right" (click)='save()' [disabled]="!form.valid" mat-raised-button type="submit">{{title}}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="delete-view loading" *ngIf="showSpiner">
    <div class="spinner">
        <mat-spinner color="primary"></mat-spinner>
        <mat-label>cargando ...</mat-label>
    </div>
</div>