<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header" [class]="form.get('id').value ? 'card-header-warning' :'card-header-success'">
            <h4 class="card-title">{{title}}</h4>
            <p class="card-category">Módulo de Planificación</p>
          </div>
          <div class="card-body">
            <form [formGroup]="form">
              <fieldset class="col-12 col-md-12 px-3">
                <legend class="text-success">Datos del Libro:</legend>
                <div class="row">
                  <div class="col">
                    <mat-form-field class="example-full-width">
                      <mat-label>Codigo del libro</mat-label>
                      <input formControlName="codies" matInput name="codies" type="text">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <mat-form-field class="example-full-width">
                      <mat-label>Codigo de publicación</mat-label>
                      <textarea formControlName="publicationCode" matInput name="publicationCode"></textarea>
                      <mat-error *ngIf="publicationCode.invalid && (publicationCode.dirty || publicationCode.touched)">
                        El código de publicación es requerido
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col">
                    <mat-form-field class="example-full-width">
                      <mat-label>Tipo publicación</mat-label>
                      <textarea formControlName="publicationType" matInput name="publicationType"></textarea>
                      <mat-error *ngIf="publicationType.invalid && (publicationType.dirty || publicationType.touched)">
                        El tipo de publicación es requerido
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <mat-form-field class="example-full-width">
                      <mat-label>Fecha de publicación</mat-label>
                      <input formControlName="publicationDate" [matDatepicker]="picker" matInput name="publicationDate"
                        readonly>
                      <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
                      <mat-datepicker #picker startView="multi-year"></mat-datepicker>
                      <mat-error *ngIf="publicationDate.invalid && (publicationDate.dirty || publicationDate.touched)">
                        La fecha de publicación es requerida
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </fieldset>
              <div class="clearfix">
                <button class="btn btn-danger pull-right" (click)='save()' [disabled]="!form.valid" mat-raised-button
                  type="submit">{{title}}</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="delete-view loading" *ngIf="showSpiner">
  <div class="spinner">
    <mat-spinner color="primary"></mat-spinner>
    <mat-label>cargando ...</mat-label>
  </div>
</div>
