<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header card-header-info">
              <h4 class="card-title">Visualizar Capítulo de Libro</h4>
              <p class="card-category">Módulo de Publicación</p>
            </div>
            <div class="card-body">
              <fieldset class="col-12 col-md-12 px-3">
                <legend class="text-success">Datos del Capítulo de libro:</legend>
                <div class="row">
                  <div class="col">
                    <mat-form-field class="example-full-width">
                      <mat-label>Código del Capítulo de  libro</mat-label>
                      <input matInput name="name" readonly [(value)]="bookChapters.id">
                    </mat-form-field>
                  </div>
                </div>
                <!-- <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Código de la Planificación</mat-label>
                        <input matInput name="name" readonly [(value)]="bookChapters.planning.id">
                      </mat-form-field>
                    </div>
                </div> -->
                <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Código IES</mat-label>
                        <input matInput name="callArea" readonly [(value)]="bookChapters.codIES">
                      </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="example-full-width">
                          <mat-label>Tipo de Publicación</mat-label>
                          <input matInput name="callArea" readonly [(value)]="bookChapters.publicationType">
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field class="example-full-width">
                          <mat-label>Código del Capítulo del Libro</mat-label>
                          <input matInput name="callArea" readonly [(value)]="bookChapters.chapterCode">
                        </mat-form-field>
                    </div>
                  <div class="col">
                    <mat-form-field class="example-full-width">
                      <mat-label>Codigo de Publicación</mat-label>
                      <input matInput name="callArea" readonly [(value)]="bookChapters.codPUB">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Título del Capítulo del Libro</mat-label>
                        <input matInput name="callArea" readonly  [(value)]="bookChapters.capTitle">
                      </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Título del Libro</mat-label>
                        <input matInput name="callArea" readonly  [(value)]="bookChapters.bookTitle">
                      </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Identificador del Libro (ISBN)</mat-label>
                        <input matInput name="callArea" readonly  [(value)]="bookChapters.codISB">
                      </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Editores y Compiladores</mat-label>
                        <input matInput name="callArea" readonly  [(value)]="bookChapters.editor">
                      </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Número de Páginas</mat-label>
                        <input matInput name="callArea" readonly  [(value)]="bookChapters.numberPages">
                      </mat-form-field>
                    </div>
                </div>
                <div class="row">
                  <div class="col">
                    <mat-form-field class="example-full-width">
                      <mat-label>Fecha de la Publicación</mat-label>
                      <input matInput name="callArea" readonly  [(value)]="bookChapters.publicationDate">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Detalle de la Publicación</mat-label>
                        <input matInput name="callArea" readonly  [(value)]="bookChapters.detailField">
                      </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Filiación de la Publicación</mat-label>
                        <div *ngIf="bookChapters.filiation">
                          <input matInput name="callArea" readonly>Si
                        </div>
                        <div *ngIf="!bookChapters.filiation">
                          <input matInput name="callArea" readonly>No
                        </div>
                      </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Participación</mat-label>
                        <input matInput name="callArea" readonly [(value)]="bookChapters.competitor">
                      </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Duración</mat-label>
                        <input matInput name="callArea" readonly [(value)]="bookChapters.duration">
                      </mat-form-field>
                    </div>
                </div>
                <div class="row">
                  <div class="col">
                    <mat-form-field class="example-full-width">
                      <mat-label>Aprobación</mat-label>
                      <input matInput name="callArea" readonly [(value)]="bookChapters.aprobation">
                    </mat-form-field>
                  </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field class="example-full-width">
                    <mat-label>Observaciones</mat-label>
                    <input matInput name="callArea" readonly [(value)]="bookChapters.observations">
                  </mat-form-field>
                </div>
            </div>
              </fieldset>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="delete-view loading" *ngIf="showSpiner">
    <div class="spinner">
      <mat-spinner color="primary"></mat-spinner>
      <mat-label>cargando ...</mat-label>
    </div>
  </div>

