<form [formGroup]="form">
    <div class="row">
        <div class="col">
            <mat-form-field class="example-full-width">
                <mat-label>Viabilidad Técnica</mat-label>
                <textarea formControlName="technicalViability" matInput name="technicalViability"></textarea>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field class="example-full-width">
                <mat-label>Equipamiento tecnológico disponible</mat-label>
                <textarea formControlName="technologicalEquipment" matInput name="technologicalEquipment"></textarea>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field class="example-full-width">
                <mat-label>¿Qué perdería el país si el proyecto no se ejecuta en este periodo?</mat-label>
                <textarea formControlName="reasonProjectExecution" matInput name="reasonProjectExecution"></textarea>
            </mat-form-field>
        </div>
    </div>
    <br>
    <h3>Resultados o impactos esperados del proyecto</h3>
    <div class="row">
        <div class="col">
            <mat-form-field class="example-full-width">
                <mat-label>Impacto social</mat-label>
                <textarea formControlName="impactSocialResult" matInput name="impactSocialResult"></textarea>
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field class="example-full-width">
                <mat-label>Impacto científico</mat-label>
                <textarea formControlName="impactScientificResult" matInput name="impactScientificResult"></textarea>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field class="example-full-width">
                <mat-label>Impacto económico</mat-label>
                <textarea formControlName="impactEconomicResult" matInput name="impactEconomicResult"></textarea>
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field class="example-full-width">
                <mat-label>Impacto político</mat-label>
                <textarea formControlName="impactPoliticalResult" matInput name="impactPoliticalResult"></textarea>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field class="example-full-width">
                <mat-label>Otro impacto</mat-label>
                <textarea formControlName="impactOtherResult" matInput name="impactOtherResult"></textarea>
            </mat-form-field>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <mat-form-field class="example-full-width">
                <mat-label>Análisis de impacto ambiental</mat-label>
                <textarea formControlName="environmentalImpactAnalysis" matInput name="environmentalImpactAnalysis"></textarea>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field class="example-full-width">
                <mat-label>Sostenibilidad social: equidad, género, participación ciudadana</mat-label>
                <textarea formControlName="socialSustainability" matInput name="socialSustainability"></textarea>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field class="example-full-width">
                <mat-label>Difusión y transferencia tecnológica</mat-label>
                <textarea formControlName="technologyTransfer" matInput name="technologyTransfer"></textarea>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field class="example-full-width">
                <mat-label>Artículos científicos</mat-label>
                <textarea formControlName="scientificArticle" matInput name="scientificArticle"></textarea>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field class="example-full-width">
                <mat-label>Prototipos</mat-label>
                <textarea formControlName="prototype" matInput name="prototype"></textarea>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field class="example-full-width">
                <mat-label>Registro de propiedad intelectual</mat-label>
                <textarea formControlName="intellectualProperty" matInput name="intellectualProperty"></textarea>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field class="example-full-width">
                <mat-label>Empresas Spin Offs</mat-label>
                <textarea formControlName="spinOffs" matInput name="spinOffs"></textarea>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field class="example-full-width">
                <mat-label>Otros: Difisión</mat-label>
                <textarea formControlName="diffusion" matInput name="diffusion"></textarea>
            </mat-form-field>
        </div>
    </div>
</form>