.example-element-detail {
  display: flex;
  overflow: hidden;
}
.example-element-row td {
  border-bottom-width: 0;
}
.min-width {
  min-width: 8em;
}
@media (max-width: 991px) {
  .min-width {
    min-width: fit-content;
  }
}
table {
  width: 100%;
}
tr.example-detail-row {
  height: 0;
}
tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}
tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}
