<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header card-header-blue">
                        <h4 class="card-title ">Tabla de Evaluaciones</h4>
                        <p class="card-category">Módulo de Evaluacion</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <fieldset class="col-12 col-md-12 px-3">
                                <legend class="text-success">Datos de la Evaluación:</legend>
                                <div class="row">
                                    <div class="col-md-10">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Nombre</mat-label>
                                            <input matInput name="name" [(value)]="evaluation.name" readonly>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-2">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Ponderación</mat-label>
                                            <input matInput name="name" [(value)]="evaluation.grade" readonly>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <br>
                                <legend class="text-success">Criterios de evaluación</legend>
                                <div class="col">
                                    <table class="mat-elevation-z4" [dataSource]="evaluation.evaluationCriteriaList" mat-table multiTemplateDataRows>
                                        <ng-container matColumnDef="name">
                                            <th mat-header-cell *matHeaderCellDef>Criterio</th>
                                            <td mat-cell *matCellDef="let element">{{element.criteria.name}}</td>
                                        </ng-container>
                                        <ng-container matColumnDef="grade">
                                            <th mat-header-cell *matHeaderCellDef>Ponderación</th>
                                            <td mat-cell *matCellDef="let element">{{element.grade}}</td>
                                        </ng-container>
                                        <ng-container matColumnDef="expandedDetail">
                                            <td [attr.colspan]="displayedColumns.length" mat-cell *matCellDef="let element">
                                                <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                                                    <table class="table-striped" [dataSource]="element.evaluationCriteriaSubcriteriaList" mat-table>
                                                        <ng-container matColumnDef="name">
                                                            <th mat-header-cell *matHeaderCellDef>Subcriterio</th>
                                                            <td class="text-justify" mat-cell *matCellDef="let element">{{element.subcriteria.name}}</td>
                                                        </ng-container>
                                                        <ng-container matColumnDef="grade">
                                                            <th class="text-center min-width" mat-header-cell *matHeaderCellDef>Ponderación</th>
                                                            <td class="text-center" mat-cell *matCellDef="let element">{{element.grade}}</td>
                                                        </ng-container>
                                                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                                    </table>
                                                </div>
                                            </td>
                                        </ng-container>
                                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                        <tr class="example-element-row" [class.example-expanded-row]="expandedElement === element"
                                            (click)="expandedElement = expandedElement === element ? null : element" mat-row *matRowDef="let element; columns: displayedColumns;">
                                        </tr>
                                        <tr class="example-detail-row" mat-row *matRowDef="let row; columns: ['expandedDetail']"></tr>
                                    </table>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="delete-view loading" *ngIf="showSpiner">
        <div class="spinner">
            <mat-spinner color="primary"></mat-spinner>
            <mat-label>cargando ...</mat-label>
        </div>
    </div>
</div>