<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header card-header-info">
              <h4 class="card-title">Visualizar Congreso</h4>
              <p class="card-category">Módulo de Registro</p>
            </div>
            <div class="card-body">
              <fieldset class="col-12 col-md-12 px-3">
                <legend class="text-success">Datos del congreso:</legend>
                <div class="row">
                  <div class="col">
                    <mat-form-field class="example-full-width">
                      <mat-label>Código del congreso</mat-label>
                      <input matInput name="name" readonly [(value)]="congress.id">
                    </mat-form-field>
                  </div>
                </div>
                <!-- <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Código de la Planificación</mat-label>
                        <input matInput name="name" readonly [(value)]="congress.planning.id">
                      </mat-form-field>
                    </div>
                </div> -->
                <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Código IES</mat-label>
                        <input matInput name="callArea" readonly [(value)]="congress.codIES">
                      </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="example-full-width">
                          <mat-label>Tipo de Congreso</mat-label>
                          <input matInput name="callArea" readonly [(value)]="congress.type">
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field class="example-full-width">
                          <mat-label>Tipo de Artículo</mat-label>
                          <input matInput name="callArea" readonly [(value)]="congress.articleType">
                        </mat-form-field>
                    </div>
                  <div class="col">
                    <mat-form-field class="example-full-width">
                      <mat-label>Codigo de la Publicación</mat-label>
                      <input matInput name="callArea" readonly [(value)]="congress.codPUB">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Nombre de Ponencia</mat-label>
                        <input matInput name="callArea" readonly [(value)]="congress.presentationName">
                      </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Nombre del Evento</mat-label>
                        <input matInput name="callArea" readonly  [(value)]="congress.eventName">
                      </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Edición del Evento</mat-label>
                        <input matInput name="callArea" readonly  [(value)]="congress.eventEdition">
                      </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Organizador del Evento</mat-label>
                        <input matInput name="callArea" readonly  [(value)]="congress.eventEdition">
                      </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Comite Organizador</mat-label>
                        <input matInput name="callArea" readonly  [(value)]="congress.organizingCommite">
                      </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>País</mat-label>
                        <input matInput name="callArea" readonly  [(value)]="congress.country">
                      </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Ciudad</mat-label>
                        <input matInput name="callArea" readonly  [(value)]="congress.city">
                      </mat-form-field>
                    </div>
                </div>
                <div class="row">
                  <div class="col">
                    <mat-form-field class="example-full-width">
                      <mat-label>Fecha de la Publicación</mat-label>
                      <input matInput name="callArea" readonly [(value)]="congress.publicationDate">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Detalle de Publicación del Congreso</mat-label>
                        <input matInput name="callArea" readonly [(value)]="congress.detailField">
                      </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Participación</mat-label>
                        <input matInput name="callArea" readonly [(value)]="congress.competitor">
                      </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Duración</mat-label>
                        <input matInput name="callArea" readonly [(value)]="congress.duration">
                      </mat-form-field>
                    </div>
                </div>
                <div class="row">
                  <div class="col">
                    <mat-form-field class="example-full-width">
                      <mat-label>Aprobación</mat-label>
                      <input matInput name="callArea" readonly [(value)]="congress.aprobation">
                    </mat-form-field>
                  </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field class="example-full-width">
                    <mat-label>Observaciones</mat-label>
                    <input matInput name="callArea" readonly [(value)]="congress.observations">
                  </mat-form-field>
                </div>
            </div>
              </fieldset>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="delete-view loading" *ngIf="showSpiner">
    <div class="spinner">
      <mat-spinner color="primary"></mat-spinner>
      <mat-label>cargando ...</mat-label>
    </div>
  </div>

