<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <div class="row">
                            <div class="col-md-8">
                                <h4 class="card-title ">Investigación</h4>
                                <p class="card-category">Módulo de Registro</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <fieldset class="col-12 col-md-12 px-3">
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-card>
                                        <mat-card-content>
                                            <p>Linea de Investigación</p>
                                            <img mat-card-image src="/assets/img/lineaInvestigacion.jpg" />
                                        </mat-card-content>
                                        <mat-card-actions>
                                            <button class="btn btn-danger" mat-button [routerLink]="['lineResearch']">
                                                <mat-icon aria-hidden="false" class="btn-danger">check</mat-icon>
                                                Seleccionar
                                            </button>
                                        </mat-card-actions>
                                    </mat-card>
                                </div>
                                <div class="col-md-4">
                                    <mat-card>
                                        <mat-card-content>
                                            <p>Grupo de Investigación</p>
                                            <img mat-card-image src="/assets/img/grupoInvestigacion.jpg" />
                                        </mat-card-content>
                                        <mat-card-actions>
                                            <button class="btn btn-danger" mat-button [routerLink]="['researchGroup']">
                                                <mat-icon aria-hidden="false" class="btn-danger">check</mat-icon>
                                                Seleccionar
                                            </button>
                                        </mat-card-actions>
                                    </mat-card>
                                </div>
                                <div class="col-md-4">
                                    <mat-card>
                                        <mat-card-content>
                                            <p>Tipo de Investigación</p>
                                            <img mat-card-image src="/assets/img/tipoInvestigacion.jpg" />
                                        </mat-card-content>
                                        <mat-card-actions>
                                            <button class="btn btn-danger" mat-button [routerLink]="['researchType']">
                                                <mat-icon aria-hidden="false" class="btn-danger">check</mat-icon>
                                                Seleccionar
                                            </button>
                                        </mat-card-actions>
                                    </mat-card>
                                </div>
                            </div>
                            <div class="justify-content-md-center row">
                                <div class="col-md-4">
                                    <mat-card>
                                        <mat-card-content>
                                            <p>Disciplina Cientifica</p>
                                            <img mat-card-image src="/assets/img/discplinaCientifica.jpg" />
                                        </mat-card-content>
                                        <mat-card-actions>
                                            <button class="btn btn-danger" mat-button [routerLink]="['scientificDiscipline']">
                                                <mat-icon aria-hidden="false" class="btn-danger">check</mat-icon>
                                                Seleccionar
                                            </button>
                                        </mat-card-actions>
                                    </mat-card>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>