<mat-horizontal-stepper #stepper>
    <ng-template matStepperIcon="goal">
        <mat-icon>golf_course</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="activity">
        <mat-icon>timeline</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="resource">
        <mat-icon>apps</mat-icon>
    </ng-template>
    <mat-step label="Objetivos" *ngIf="goalStep" state="goal">
        <form [formGroup]="goalForm">
            <fieldset>
                <legend class="text-success">Datos del Objetivo:</legend>
                <div class="row">
                    <div [class]="showDeliverable ? 'col-md-8' : 'col-md-12'">
                        <mat-form-field class="example-full-width">
                            <mat-label>Objetivo</mat-label>
                            <input formControlName="name" matInput name="name" type="text">
                            <mat-error *ngIf="goalName.invalid && (goalName.dirty || goalName.touched)">
                                El nombre del objetivo es requerido
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <div class="form-check" *ngIf="showDeliverable">
                            <section class="example-section">
                                <mat-checkbox (change)="check($event.checked)" formControlName="general" name="general">Objetivo general</mat-checkbox>
                            </section>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="example-full-width">
                            <mat-label>Indicador</mat-label>
                            <input formControlName="indicator" matInput name="indicator" type="text">
                            <mat-error *ngIf="indicator.invalid && (indicator.dirty || indicator.touched)">
                                El indicador del objetivo del proyecto es requerido
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row" *ngIf="general.value">
                    <div class="col">
                        <mat-form-field class="example-full-width">
                            <mat-label>Medio de verificación/Entregables</mat-label>
                            <input formControlName="deliverable" matInput name="deliverable" type="text">
                            <mat-error *ngIf="generalDeliverable.invalid && (generalDeliverable.dirty || generalDeliverable.touched)">
                                El medio de verificación/entregable del objetivo del proyecto es requerido
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="example-full-width">
                            <mat-label>Supuestos</mat-label>
                            <input formControlName="assumption" matInput name="assumption" type="text">
                            <mat-error *ngIf="assumption.invalid && (assumption.dirty || assumption.touched)">
                                Los supuestos del objetivo del proyecto son requeridos
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </fieldset>
            <div class="clearfix">
                <button class="btn btn-danger pull-right" (click)='addGoal()' [disabled]="!goalForm.valid" mat-raised-button *ngIf="!projectGoal else elseGoal"
                    type="button">Agregar Objetivo</button>
                <ng-template #elseGoal>
                    <button class="btn btn-danger pull-right" (click)='cancelGoal()' mat-raised-button type="button">Cancelar</button>
                    <button class="btn btn-danger pull-right" (click)='updateGoal()' [disabled]="!goalForm.valid" mat-raised-button type="button">Actualizar Objetivo</button>
                </ng-template>
            </div>
        </form>
        <br>
        <legend class="text-success">Tabla de los Objetivos del proyecto:</legend>
        <div class="table-responsive" *ngIf="goalDataSource.data?.length!=0 else elseBlock">
            <table class="table table-striped" [dataSource]="goalDataSource" matSort mat-table>
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
                    <td mat-cell *matCellDef="let goal">{{goal.name}}</td>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Acciones</th>
                    <td mat-cell *matCellDef="let goal">
                        <button aria-label="update" class="btn btn-just-icon btn-outline-warning btn-round" (click)="setGoal(goal)" matTooltip="Modificar objetivo">
                            <mat-icon>brush</mat-icon>
                        </button>
                        <button aria-label="add" class="btn btn-just-icon btn-outline-info btn-round" (click)="setGoalActivity(goal, stepper)" matTooltip="Añadir actividad"
                            *ngIf="!goal.general">
                            <mat-icon>timeline</mat-icon>
                        </button>
                        <button aria-label="delete" class="btn btn-just-icon btn-outline-danger btn-round" (click)="deleteGoal(goal)" matTooltip="Eliminar objetivo">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="goalDisplayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: goalDisplayedColumns;"></tr>
            </table>
        </div>
        <ng-template class="alert alert-dark" #elseBlock>
            No se ha registrado ningún objetivo
        </ng-template>
    </mat-step>
    <mat-step label="Actividades" *ngIf="activityStep" state="activity">
        <form [formGroup]="activityForm">
            <fieldset>
                <legend class="text-success">Datos de la Actividad:</legend>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="example-full-width">
                            <mat-label>Actividad</mat-label>
                            <input formControlName="name" matInput name="name" type="text">
                            <mat-error *ngIf="activityName.invalid && (activityName.dirty || activityName.touched)">
                                El nombre de la actividad es requerido
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field appearance="fill" class="example-full-width">
                            <mat-label>Periodo de desarrollo de actividad</mat-label>
                            <mat-date-range-input [rangePicker]="picker">
                                <input formControlName="startDate" matInput matStartDate name="startDate" placeholder="Fecha de inicio" readonly>
                                <input formControlName="endDate" matEndDate matInput name="endDate" placeholder="Fecha de fin" readonly>
                            </mat-date-range-input>
                            <mat-error *ngIf="startDate.invalid && (startDate.dirty || startDate.touched)">
                                La fecha de inicio es requerida
                            </mat-error>
                            <mat-error *ngIf="endDate.invalid && (endDate.dirty || endDate.touched)">
                                La fecha de fin es requerida
                            </mat-error>
                            <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
                            <mat-date-range-picker color="accent" #picker startView="year"></mat-date-range-picker>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="example-full-width">
                            <mat-label>Medio de verificación/Entregables</mat-label>
                            <input formControlName="deliverable" matInput name="deliverable" type="text">
                            <mat-error *ngIf="deliverable.invalid && (deliverable.dirty || deliverable.touched)">
                                El medio de verificación/entregable de la actividad del objetivo es requerido
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </fieldset>
            <div class="clearfix">
                <button class="btn btn-danger pull-right" (click)='addActivity()' [disabled]="!activityForm.valid" mat-raised-button *ngIf="!goalActivity else elseActivity"
                    type="button">Agregar Actividad</button>
                <button (click)="backGoal(stepper)" color="primary" mat-raised-button rounded="true">
                    <mat-icon>arrow_back</mat-icon>Atrás
                </button>
                <ng-template #elseActivity>
                    <button class="btn btn-danger pull-right" (click)='cancelActivity()' mat-raised-button type="button">Cancelar</button>
                    <button class="btn btn-danger pull-right" (click)='updateActivity()' [disabled]="!activityForm.valid" mat-raised-button type="button">Actualizar
                        Actividad</button>
                </ng-template>
            </div>
        </form>
        <br>
        <legend class="text-success">Tabla de las actividades del objetivo:</legend>
        <div class="table-responsive" *ngIf="activityDataSource.data?.length!=0 else elseBlock">
            <table class="table table-striped" [dataSource]="activityDataSource" matSort mat-table>
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
                    <td mat-cell *matCellDef="let activity">{{activity.name}}</td>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Acciones</th>
                    <td mat-cell *matCellDef="let activity">
                        <div class="example-button-row">
                            <button aria-label="update" class="btn btn-just-icon btn-outline-warning btn-round" (click)="setActivity(activity)" matTooltip="Modificar actividad">
                                <mat-icon>brush</mat-icon>
                            </button>
                            <button aria-label="add" class="btn btn-just-icon btn-outline-info btn-round" (click)="setActivityResource(activity, stepper)"
                                matTooltip="Añadir Recurso">
                                <mat-icon>apps</mat-icon>
                            </button>
                            <button aria-label="delete" class="btn btn-just-icon btn-outline-danger btn-round" (click)="deleteActivity(activity)" matTooltip="Eliminar actividad">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="activityDisplayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: activityDisplayedColumns;"></tr>
            </table>
        </div>
        <ng-template class="alert alert-dark" #elseBlock>
            No se ha registrado ninguna actividad
        </ng-template>
    </mat-step>
    <mat-step label="Recursos" *ngIf="resourceStep" state="resource">
        <form [formGroup]="resourceForm">
            <fieldset>
                <legend class="text-success">Datos del Recurso:</legend>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="example-full-width">
                            <mat-label>Recurso</mat-label>
                            <mat-select formControlName="resourceId">
                                <mat-option *ngFor="let resource of filteredResourceList" [value]="resource.id">
                                    {{resource.name}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="resourceId.invalid && (resourceId.dirty || resourceId.touched)">
                                Se debe seleccionar un recurso
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="example-full-width">
                            <mat-label>Presupuesto de inversión</mat-label>
                            <input formControlName="investmentBudget" matInput name="investmentBudget" type="number">
                            <mat-error *ngIf="investmentBudget.invalid && (investmentBudget.dirty || investmentBudget.touched)">
                                El presupuesto de inversión de la actividad es requerido
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field class="example-full-width">
                            <mat-label>Presupuesto corriente</mat-label>
                            <input formControlName="currentBudget" matInput name="currentBudget" type="number">
                            <mat-error *ngIf="currentBudget.invalid && (currentBudget.dirty || currentBudget.touched)">
                                El presupuesto corriente de la actividad es requerido
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </fieldset>
            <div class="clearfix">
                <button class="btn btn-danger pull-right" (click)='addResource()' [disabled]="!resourceForm.valid" mat-raised-button *ngIf="!activityResource else elseResource"
                    type="button">Agregar recurso de actividad</button>
                <button (click)="backActivity(stepper)" color="primary" mat-raised-button rounded="true">
                    <mat-icon>arrow_back</mat-icon>Atrás
                </button>
                <ng-template #elseResource>
                    <button class="btn btn-danger pull-right" (click)='cancelResource()' mat-raised-button type="button">Cancelar</button>
                    <button class="btn btn-danger pull-right" (click)='updateResource()' [disabled]="!resourceForm.valid" mat-raised-button type="button">Actualizar recurso de
                        actividad</button>
                </ng-template>
            </div>
        </form>
        <br>
        <legend class="text-success">Tabla de los recursos de la actividad:</legend>
        <div class="table-responsive" *ngIf="resourceDataSource.data?.length!=0 else elseBlock">
            <table class="table table-striped" [dataSource]="resourceDataSource" matSort mat-table>
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
                    <td mat-cell *matCellDef="let resource">{{resource.resourceName}}</td>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Acciones</th>
                    <td mat-cell *matCellDef="let resource">
                        <div class="example-button-row">
                            <button aria-label="update" class="btn btn-just-icon btn-outline-warning btn-round" (click)="setResource(resource)" matTooltip="Modificar recurso">
                                <mat-icon>brush</mat-icon>
                            </button>
                            <button aria-label="delete" class="btn btn-just-icon btn-outline-danger btn-round" (click)="deleteResource(resource)" matTooltip="Eliminar recurso">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="resourceDisplayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: resourceDisplayedColumns;"></tr>
            </table>
        </div>
        <ng-template class="alert alert-dark" #elseBlock>
            No se ha registrado ninguna actividad
        </ng-template>
    </mat-step>
</mat-horizontal-stepper>