<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title">Asignacion de Evaluadores</h4>
                        <p class="card-category">Módulo de Evaluación</p>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="form">
                            <fieldset class="col-12 col-md-12 px-3">
                                <legend class="text-success">Buscar Evualuador Departamental:</legend>
                                <div class="row">
                                    <div class="col">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Usuario</mat-label>
                                            <input [formControl]="departamentalEvaluator" matInput name="departamentalEvaluator" type="text">
                                            <mat-error *ngIf="departamentalEvaluator.invalid && (departamentalEvaluator.dirty || departamentalEvaluator.touched)">
                                                El nombre de usuario del Evaluador Departamental es requerido
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col">
                                        <button class="btn btn-danger pull-left" (click)='loadDepartmentalEvaluator()' [disabled]="!departamentalEvaluator.valid" mat-raised-button
                                            type="submit">Buscar
                                            Evaluador Departamental</button>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset class="col-12 col-md-12 px-3">
                                <legend class="text-success">Buscar Evualuador:</legend>
                                <div class="row">
                                    <div class="col">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Usuario</mat-label>
                                            <input [formControl]="evaluator" matInput name="evaluator" type="text">
                                            <mat-error *ngIf="evaluator.invalid && (evaluator.dirty || evaluator.touched)">
                                                El nombre de usuario del Evaluador es requerido
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col">
                                        <button class="btn btn-danger pull-left" (click)='loadEvaluator()' [disabled]="!evaluator.valid" mat-raised-button type="submit">Buscar
                                            Evaluador</button>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset class="col-12 col-md-12 px-3">
                                <legend class="text-success">Datos:</legend>
                                <div class="row">
                                    <div class="col-md-12">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Nombre del Proyecto</mat-label>
                                            <input matInput name="projectName" readonly [(value)]="project.nameSpanish">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Username del Evaluador</mat-label>
                                            <input formControlName="evaluator" matInput name="evaluator" readonly type="text">
                                            <mat-error *ngIf="evaluator.invalid && (evaluator.dirty || evaluator.touched)">
                                                El username del evaluador es requerido
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Nombre del Evaluador</mat-label>
                                            <input formControlName="evaluatorName" matInput name="evaluatorName" readonly type="text">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Username del Evaluador Departamental</mat-label>
                                            <input formControlName="departamentalEvaluator" matInput name="departamentalEvaluator" readonly type="text">
                                            <mat-error *ngIf="departamentalEvaluator.invalid && (departamentalEvaluator.dirty || departamentalEvaluator.touched)">
                                                El username del evaluador departamental es requerido
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Nombre del Evaluador Departamental</mat-label>
                                            <input formControlName="departamentalEvaluatorName" matInput name="departamentalEvaluatorName" readonly type="text">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="clearfix">
                                <button class="btn btn-danger pull-right" (click)='save()' [disabled]="!form.valid" mat-raised-button type="submit">Asignar Evaluadores</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="delete-view loading" *ngIf="showSpiner">
    <div class="spinner">
        <mat-spinner color="primary"></mat-spinner>
        <mat-label>cargando ...</mat-label>
    </div>
</div>