<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">Visualizar Convocatoria</h4>
                        <p class="card-category">Módulo de Registro</p>
                    </div>
                    <div class="card-body">
                        <fieldset class="col-12 col-md-12 px-3">
                            <legend class="text-success">Datos de la Convocatoria:</legend>
                            <div class="row">
                                <div class="col">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Nombre</mat-label>
                                        <input matInput name="name" readonly [(value)]="call.name">
                                    </mat-form-field>
                                </div>
                                <div class="col">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Área de Convocatoria</mat-label>
                                        <input matInput name="callArea" readonly [(value)]="call.callArea.name">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Descripción</mat-label>
                                        <textarea matInput name="description" readonly [(value)]="call.description"></textarea>
                                    </mat-form-field>
                                </div>
                                <div class="col">
                                    <mat-form-field class="example-full-width" *ngIf="call.evaluation">
                                        <mat-label>Evaluación</mat-label>
                                        <textarea matInput name="evaluation" readonly [(value)]="call.evaluation.name"></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <mat-form-field appearance="fill" class="example-full-width">
                                        <mat-label>Periodo de Convocatoria</mat-label>
                                        <mat-date-range-input [disabled]="true" [rangePicker]="picker">
                                            <input matInput matStartDate name="startDate" placeholder="Fecha de inicio" [(value)]="call.startDate">
                                            <input matEndDate matInput name="endDate" placeholder="Fecha de Fin" [(value)]="call.endDate">
                                        </mat-date-range-input>
                                        <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
                                        <mat-date-range-picker color="accent" #picker></mat-date-range-picker>
                                    </mat-form-field>
                                </div>
                                <div class="col">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Monto de financiamiento</mat-label>
                                        <input matInput name="finacingAmount" readonly [(value)]="call.finacingAmount">
                                        <span matPrefix>$&nbsp;</span>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div *ngIf="call.extension==true else elseBlock">
                                <legend class="text-success">Datos de la Extensión de la Convocatoria:</legend>
                                <div class="row">
                                    <div class="col">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Respaldo</mat-label>
                                            <textarea matInput name="support" readonly [(value)]="call.support"></textarea>
                                        </mat-form-field>
                                    </div>
                                    <div class="col">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Fecha de la Extensión de la Convocatoria</mat-label>
                                            <input matInput name="callExtension" readonly [(value)]="call.callExtension">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <ng-template #elseBlock>
                                <legend class="text-success">Datos de la Extensión de la Convocatoria:</legend>
                                <h4>La convocatoría actual, no tiene una fecha de extensión</h4>
                            </ng-template>
                            <div class="row">
                                <div class="col">
                                    <mat-list>
                                        <mat-label>Requisitos de la convocatoria</mat-label>
                                        <mat-list-item *ngFor="let callRequirement of call.callRequirementList">
                                            <mat-icon mat-list-icon>remove</mat-icon>
                                            <mat-label>{{callRequirement.requirement.name}}</mat-label>
                                            <mat-divider></mat-divider>
                                        </mat-list-item>
                                    </mat-list>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="delete-view loading" *ngIf="showSpiner">
    <div class="spinner">
        <mat-spinner color="primary"></mat-spinner>
        <mat-label>cargando ...</mat-label>
    </div>
</div>