<footer class="footer">
    <div class="container-fluid">
        <nav class="left">
            <ul>
                <li>
                    <a href="https://www.espe.edu.ec">
                        ESPE
                    </a>
                </li>
                <li>
                    <a href="https://creative-tim.com/about-us">
                        About Us
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright right">
            Universidad de las Fuerzas Armadas-ESPE {{date | date: 'yyyy'}}, versión {{version}} &copy; Todos los derechos reservados.
        </div>
    </div>
</footer>