.footer {
  background-color: #447349;
  bottom: 0;
  color: white;
  height: 5em;
  position: fixed;
  width: 100%;
  z-index: inherit;
}
.left {
  margin: 0;
  text-align: left;
}
.right {
  margin: -3.4em;
  margin-right: 18em;
  text-align: end;
}

@media (max-width: 991px) {
  .right {
    margin: -3.4em;
    margin-right: 1em;
    text-align: end;
  }
}
