<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header" [class]="form.get('id').value ? 'card-header-warning' :'card-header-success'">
              <h4 class="card-title">{{title}}</h4>
              <p class="card-category">Módulo de Planificación</p>
            </div>
            <div class="card-body">
              <form [formGroup]="form">
                <fieldset class="col-12 col-md-12 px-3">
                  <legend class="text-success">Datos del Congreso:</legend>
                  <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Código del congreso</mat-label>
                        <input formControlName="id" matInput name="id" type="text" readonly>
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Código IES</mat-label>
                        <input formControlName="codIES" matInput name="codIES" type="text" readonly>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col">
                    <mat-form-field class="example-full-width">
                      <mat-label>Tipo de Congreso</mat-label>
                      <input formControlName="type" matInput name="type" type="text" readonly>
                    </mat-form-field>
                  </div>
                  <div class="col">
                    <mat-form-field class="example-full-width">
                      <mat-label>Tipo de Artículo</mat-label>
                      <input formControlName="articleType" matInput name="articleType" type="text" readonly>
                    </mat-form-field>
                  </div>
                  <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Código de la Publicación</mat-label>
                        <input formControlName="codPUB" matInput name="codPUB" type="text" readonly>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Nombre de Ponencia</mat-label>
                        <input formControlName="presentationName" matInput name="presentationName" type="text" readonly>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Nombre del Evento</mat-label>
                        <input formControlName="eventName" matInput name="eventName" type="text" readonly>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Edición del Evento</mat-label>
                        <input formControlName="eventEdition" matInput name="eventEdition" type="text" readonly>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Organizador del Evento</mat-label>
                        <input formControlName="eventOrganizer" matInput name="eventOrganizer" type="text" readonly>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Comite Organizador</mat-label>
                        <input formControlName="organizingCommite" matInput name="organizingCommite" type="text" readonly>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>País</mat-label>
                        <input formControlName="country" matInput name="country" type="text" readonly>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Ciudad</mat-label>
                        <input formControlName="city" matInput name="city" type="text" readonly>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Fecha de la Publicación</mat-label>
                        <input formControlName="publicationDate" matInput name="publicationDate"
                          readonly>
                       
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Detalle de Publicación del Congreso</mat-label>
                        <input formControlName="detailField" matInput name="detailField" type="text" readonly>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Participación</mat-label>
                        <input formControlName="competitor" matInput name="competitor" type="text" readonly>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Duración</mat-label>
                        <input formControlName="duration" matInput name="duration" type="text" readonly>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Aprobación</mat-label>
                        <mat-select [(ngModel)]="_aprobation" [ngModelOptions]="{standalone: true}" name="aprobation" required>
                          <mat-option value="Aprobada">Aprobada</mat-option>
                          <mat-option value="Pendiente">Pendiente</mat-option>
                          <mat-option value="No Aprobado">No Aprobado</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Observaciones</mat-label>
                        <input formControlName="observations" matInput name="observations" type="text">
                      </mat-form-field>
                    </div>
                  </div>
                </fieldset>
                <div class="clearfix">
                  <button class="btn btn-danger pull-right" (click)='save()' [disabled]="!form.valid || _aprobation===undefined || _aprobation===null" mat-raised-button
                    type="submit">{{title}}</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="delete-view loading" *ngIf="showSpiner">
    <div class="spinner">
      <mat-spinner color="primary"></mat-spinner>
      <mat-label>cargando ...</mat-label>
    </div>
  </div>
  

