<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" [ngClass]="getForm.get('id').value ? 'card-header-warning' :'card-header-rose'">
                        <h4 class="card-title">{{getTitle}}</h4>
                        <p class="card-category">Módulo de Seguridad</p>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="getForm">
                            <fieldset class="col-12 col-md-12 px-3">
                                <legend class="text-success">Datos de Usuario:</legend>
                                <div class="row">
                                    <div class="col-md-12" *ngIf="getUser.id">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Username</mat-label>
                                            <input formControlName="username" matInput name="username" readonly type="text">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Nombres</mat-label>
                                            <input formControlName="name" matInput name="name" type="text">
                                            <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">
                                                El nombre es requerido
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Apellidos</mat-label>
                                            <input formControlName="lastName" matInput name="lastName" type="text">
                                            <mat-error *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
                                                El apellido es requerido
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Email</mat-label>
                                            <input formControlName="email" matInput name="email" type="email">
                                            <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">
                                                <div *ngIf="email.errors.cemail">
                                                    {{email.errors.cemail.message}}
                                                </div>
                                                <div *ngIf="email.errors.email">
                                                    Email no válido
                                                </div>
                                                <div *ngIf="email.errors.required">
                                                    El email es requerido
                                                </div>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Fecha de nacimiento</mat-label>
                                            <input formControlName="birthDate" [matDatepicker]="picker" matInput name="birthDate" readonly>
                                            <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
                                            <mat-datepicker #picker startView="multi-year"></mat-datepicker>
                                            <mat-error *ngIf="birthDate.invalid && (birthDate.dirty || birthDate.touched)">
                                                La fecha de nacimiento es requerida
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="clearfix">
                                <button class="btn btn-danger pull-right" (click)='save()' [disabled]="!getForm.valid" mat-raised-button type="submit">{{getTitle}}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>