<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header card-header-info">
              <h4 class="card-title">Visualizar Actividad</h4>
              <p class="card-category">Módulo de Registro</p>
            </div>
            <div class="card-body">
              <fieldset class="col-12 col-md-12 px-3">
                <legend class="text-success">Datos de La Actividad:</legend>
                <div class="row">
                  <div class="col">
                    <mat-form-field class="example-full-width">
                      <mat-label>Codigo de la Actividad</mat-label>
                      <input matInput name="name" readonly [(value)]="activities.id">
                    </mat-form-field>
                  </div>
  
                </div>
                <div class="row">
                  <div class="col">
                    <mat-form-field class="example-full-width">
                      <mat-label>Nombre De la Actividad</mat-label>
                      <input matInput name="callArea" readonly publicationCode [(value)]="activities.name">
                    </mat-form-field>
                  </div>
                  <div class="col">
                    <mat-form-field class="example-full-width">
                      <mat-label>Duración en Horas de la Actividad</mat-label>
                      <input matInput name="callArea" readonly [(value)]="activities.duration">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <mat-form-field class="example-full-width">
                      <mat-label>Duración Máxima a la que Pertenece la Actividad</mat-label>
                      <input matInput name="callArea" readonly publicationCode [(value)]="activities.maxDuration">
                    </mat-form-field>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="delete-view loading" *ngIf="showSpiner">
    <div class="spinner">
      <mat-spinner color="primary"></mat-spinner>
      <mat-label>cargando ...</mat-label>
    </div>
  </div>
  