<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header card-header-success">
              <div class="row">
                <div class="col-md-8">
                  <h4 class="card-title">Tabla de Publicaciones</h4>
                  <p class="card-category">Módulo de Planificación</p>
                </div>
                <div class="col-md-4">
                  <mat-card>
                    <div class="example-button-row">
                      <div class="d-inline-block search-special">
                        <input aria-label="search" [(ngModel)]="search" placeholder="Buscar en la Tabla..." type="text">
                        <button aria-label="filter" class="btn btn-just-icon btn-round" (click)="filterDataTable()"
                          color="primary" mat-icon-button matTooltip="Buscar Publicación" type="submit">
                          <mat-icon>search</mat-icon>
                        </button>
                      </div>
                      <!-- <div class="d-inline-block create-update">
                        <button aria-label="create" class="btn btn-just-icon btn-round" color="primary" mat-icon-button
                          matTooltip="Crear Publicación" [routerLink]="['../publications/form']" type="submit">
                          <mat-icon>add</mat-icon>
                        </button>
                      </div> -->
                    </div>
                  </mat-card>
                </div>
              </div>
            </div>
            <div class="card-body col">
              <div class="table-responsive" *ngIf="publicationsList?.length!=0 else elseBlock">
                <table class="table" [dataSource]="dataSource" matSort mat-table>
                  <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Código de la Publicación</th>
                    <td mat-cell *matCellDef="let publications">{{publications.id}}</td>
                  </ng-container>
                  <ng-container matColumnDef="planning">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Código de la Planificación</th>
                    <td mat-cell *matCellDef="let publications">{{publications.planning.id}}</td>
                  </ng-container>
                  <ng-container matColumnDef="codIES">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Código IES</th>
                    <td mat-cell *matCellDef="let publications">{{publications.codIES}}</td>
                  </ng-container>
                  <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo de Publicación</th>
                    <td mat-cell *matCellDef="let publications">{{publications.type}}</td>
                  </ng-container>
                  <ng-container matColumnDef="articleType">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo de Artículo</th>
                    <td mat-cell *matCellDef="let publications">{{publications.articleType}}</td>
                  </ng-container>
                  <ng-container matColumnDef="codPUB">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Código de Publicación</th>
                    <td mat-cell *matCellDef="let publications">{{publications.codPUB}}</td>
                  </ng-container>
                  <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Título Publicación</th>
                    <td mat-cell *matCellDef="let publications">{{publications.title}}</td>
                  </ng-container>
                  <ng-container matColumnDef="indexBase">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Base de Datos Indexada</th>
                    <td mat-cell *matCellDef="let publications">{{publications.indexBase}}</td>
                  </ng-container>
                  <ng-container matColumnDef="codeISS">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Identificador de Publicación (ISSN)</th>
                    <td mat-cell *matCellDef="let publications">{{publications.codeISS}}</td>
                  </ng-container>
                  <ng-container matColumnDef="magazineName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre de la Revista</th>
                    <td mat-cell *matCellDef="let publications">{{publications.magazineName}}</td>
                  </ng-container>
                  <ng-container matColumnDef="quartile">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Cuartil</th>
                    <td mat-cell *matCellDef="let publications">{{publications.quartile}}</td>
                  </ng-container>
                  <ng-container matColumnDef="magazineNumber">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Número de Revista</th>
                    <td mat-cell *matCellDef="let publications">{{publications.magazineNumber}}</td>
                  </ng-container>
                  <ng-container matColumnDef="sjr">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>SJR</th>
                    <td mat-cell *matCellDef="let publications">{{publications.sjr}}</td>
                  </ng-container>
                  <ng-container matColumnDef="publicationDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de Publicación</th>
                    <td mat-cell *matCellDef="let publications">{{publications.publicationDate}}</td>
                  </ng-container>
                  <ng-container matColumnDef="detailField">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Detalle de Publicación</th>
                    <td mat-cell *matCellDef="let publications">{{publications.detailField}}</td>
                  </ng-container>
                  <ng-container matColumnDef="condition">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado de Publicación</th>
                    <td mat-cell *matCellDef="let publications">{{publications.condition}}</td>
                  </ng-container>
                  <ng-container matColumnDef="publicationLink">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Link de la Publicación</th>
                    <td mat-cell *matCellDef="let publications">{{publications.publicationLink}}</td>
                  </ng-container>
                  <ng-container matColumnDef="magazineLink">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Link de la Revista</th>
                    <td mat-cell *matCellDef="let publications">{{publications.magazineLink}}</td>
                  </ng-container>
                  <ng-container matColumnDef="filiation">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Filiación de la Publicación</th>
                    <td mat-cell *matCellDef="let publications">
                      <div *ngIf="publications.filiation">
                        Si
                      </div>
                      <div *ngIf="!publications.filiation">
                        No
                      </div>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="competitor">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Participación</th>
                    <td mat-cell *matCellDef="let publications">{{publications.competitor}}</td>
                  </ng-container>
                  <ng-container matColumnDef="observation">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Observaciones</th>
                    <td mat-cell *matCellDef="let publications">{{publications.observation}}</td>
                  </ng-container>
                  <ng-container matColumnDef="duration">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Duración</th>
                    <td mat-cell *matCellDef="let publications">{{publications.duration}}</td>
                  </ng-container>
                  <ng-container matColumnDef="complete">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Completado</th>
                    <td mat-cell *matCellDef="let publications">
                      <div *ngIf="publications.complete">
                        Si
                      </div>
                      <div *ngIf="!publications.complete">
                        No
                      </div>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="aprobation">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Aprobación</th>
                    <td mat-cell *matCellDef="let publications">{{publications.aprobation}}</td>
                  </ng-container>
                  <ng-container matColumnDef="observations">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Observaciones</th>
                    <td mat-cell *matCellDef="let publications">{{publications.observations}}</td>
                  </ng-container>
                  <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Acciones</th>
                    <td mat-cell *matCellDef="let publications">
                      <div class="example-button-row">
                        <button aria-label="view" class="btn btn-just-icon btn-outline-info btn-round"
                          matTooltip="Visualizar Capítulo de libro" [routerLink]="['../publicationsView',publications.id]">
                          <mat-icon>visibility</mat-icon>
                        </button>
                        <div *ngIf="publications.planning.aprobation">
                        <button aria-label="update" class="btn btn-just-icon btn-outline-warning btn-round"
                          matTooltip="Modificar Capítulo de libro" [routerLink]="['../publications/form',publications.id]">
                          <mat-icon>brush</mat-icon>
                        </button>
                        </div>
                        <!-- <button aria-label="delete" class="btn btn-just-icon btn-outline-danger btn-round"
                          (click)="delete(publications)" matTooltip="Eliminar Publicación">
                          <mat-icon>delete</mat-icon>
                        </button> -->
                      </div>
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
              </div>
              <ng-template class="alert alert-dark" #elseBlock>
                No existen registros en la base de datos
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="delete-view loading" *ngIf="showSpiner">
    <div class="spinner">
      <mat-spinner color="primary"></mat-spinner>
      <mat-label>cargando ...</mat-label>
    </div>
  </div>
  

