<nav class="fixed-top navbar navbar-absolute navbar-expand-lg navbar-transparent">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <a class="navbar-brand" href="javascript:void(0)">Sistema de gestión de proyectos de investigación</a>
    </div>
    <button class="navbar-toggler" (click)="sidebarToggle()" mat-raised-button type="button">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar navbar-toggler-icon"></span>
      <span class="icon-bar navbar-toggler-icon"></span>
      <span class="icon-bar navbar-toggler-icon"></span>
    </button>
    <div class="collapse justify-content-end navbar-collapse" id="navigation">
      <ul class="navbar-nav">
        <li class="dropdown nav-item" *ngIf="getNotificationList.length!=0 else elseBlock">
          <a aria-expanded="false" aria-haspopup="true" class="nav-link" data-toggle="dropdown"
            href="javascript:void(0)" id="navbarDropdownMenuLink">
            <i class="material-icons">stay_primary_portrait</i>
            <span class="notification">{{getNotificationList.length}}</span>
            <p>
              <span class="d-lg-none d-md-block">Some Actions</span>
            </p>
          </a>
          <div aria-labelledby="navbarDropdownMenuLink" class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" (click)="userNotificationView(notificationItem)" href="javascript:void(0)"
              *ngFor="let notificationItem of getNotificationList">
              <i class="icon-left material-icons">notifications_active</i>
              {{notificationItem.title}}
            </a>
          </div>
        </li>
        <ng-template #elseBlock>
          <li class="nav-item">
            <a class="nav-link">
              <i class="material-icons">phonelink_erase</i>
              <p>
                <span class="d-lg-none d-md-block">Notificaciones</span>
              </p>
            </a>
          </li>
        </ng-template>
        <li class="nav-item dropdown">
          <a aria-expanded="false" aria-haspopup="true" class="nav-link" data-toggle="dropdown"
            href="javascript:void(0)" id="navbarDropdownMenuLink">
            <i class="icon-left material-icons">person</i>
            {{getAuthService.getUserLogin.username}}
          </a>
          <div aria-labelledby="navbarDropdownMenuLink" class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" (click)="viewUser()" href="javascript:void(0)">
              <i class="icon-left material-icons">person_outline</i>
              Visualizar Información</a>
            <a *ngIf="getAuthService.getUserLogin.internalUSer==false" class="dropdown-item" (click)="changePassword()"
              href="javascript:void(0)">
              <i class="icon-left material-icons">update</i>
              Cambiar Contraseña
            </a>
            <a class="dropdown-item" (click)="userNotificationViewList()" href="javascript:void(0)">
              <i class="icon-left material-icons">notifications_none</i>
              Mis notificaciones
            </a>
            <a class="dropdown-item" (click)="logout()" href="javascript:void(0)">
              <i class="icon-left material-icons">highlight_off</i>
              Cerrar Sesión
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
