<div class="logo">
  <a class="simple-text" href="https://www.espe.edu.ec">
    <img alt="Logo Espe" src="/assets/img/Espe-logo.png" />
  </a>
</div>
<div class="sidebar-wrapper">
  <div *ngIf="isMobileMenu()">
    <ul class="nav nav-mobile-menu navbar-nav">
      <li class="dropdown nav-item" *ngIf="getNotificationList.length!=0 else elseBlock">
        <a aria-expanded="false" aria-haspopup="true" class="nav-link" data-toggle="dropdown" href="javascript:void(0)"
          id="navbarDropdownMenuLink">
          <i class="material-icons">notifications</i>
          <span class="notification">{{getNotificationList.length}}</span>
          <p>
            <span class="d-lg-none d-md-block">Notificaciones</span>
          </p>
        </a>
        <div aria-labelledby="navbarDropdownMenuLink" class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" (click)="userNotificationView(notificationItem)" href="javascript:void(0)"
            *ngFor="let notificationItem of getNotificationList">
            <i class="icon-left material-icons">notifications_active</i>
            {{notificationItem.title}}
          </a>
        </div>
      </li>
      <ng-template #elseBlock>
        <li class="nav-item">
          <a class="nav-link">
            <i class="material-icons">phonelink_erase</i>
            <p>
              <span class="d-lg-none d-md-block">Notificaciones</span>
            </p>
          </a>
        </li>
      </ng-template>
      <li class="nav-item dropdown">
        <a aria-expanded="false" aria-haspopup="true" class="nav-link" data-toggle="dropdown" href="javascript:void(0)"
          id="navbarDropdownMenuLink">
          <i class="icon-left material-icons">person</i>
          {{getAuthService.getUserLogin.username}}
        </a>
        <div aria-labelledby="navbarDropdownMenuLink" class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" (click)="viewUser()" href="javascript:void(0)">
            <i class="icon-left material-icons">person_outline</i>
            Visualizar Información</a>

          <a *ngIf="getAuthService.getUserLogin.internalUSer==false" class="dropdown-item" (click)="changePassword()"
            href="javascript:void(0)">
            <i class="icon-left material-icons">update</i>
            Cambiar Contraseña
          </a>
          <a class="dropdown-item" (click)="userNotificationViewList()" href="javascript:void(0)">
            <i class="icon-left material-icons">notifications_none</i>
            Mis notificaciones
          </a>
          <a class="dropdown-item" (click)="logout()" href="javascript:void(0)">
            <i class="icon-left material-icons">highlight_off</i>
            Cerrar Sesión
          </a>
        </div>
      </li>
    </ul>
  </div>
  <div class="nav-link sidebar-header">
    <h4 class="text-center">Sistema de Proyectos de Investigación</h4>
  </div>
  <ul class="nav">
    <li class="nav-item" *ngFor="let menuItem of getMenu" routerLinkActive="active">
      <a class="dropdown-toggle nav-link" data-toggle="collapse" href="#{{menuItem.identifier}}">
        <i class="material-icons">{{menuItem.icon}}</i>
        <p>{{menuItem.name}}</p>
      </a>
      <ul class="collapse list-unstyled" id="{{menuItem.identifier}}" *ngFor="let subMenuItem of menuItem.routeList">
        <li class="nav-item {{subMenuItem.routeClass}}" routerLinkActive="active">
          <a class="nav-link" [routerLink]="[subMenuItem.name]">
            <i class="material-icons">{{subMenuItem.icon}}</i>
            {{subMenuItem.title}}
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>
