<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <div class="row">
                            <div class="col-md-8">
                                <h4 class="card-title">Tabla de Notificación</h4>
                                <p class="card-category">Notificación por Usuario</p>
                            </div>
                            <div class="col-md-4">
                                <mat-card>
                                    <div class="example-button-row">
                                        <input aria-label="Search" [(ngModel)]="setSearch" placeholder="Buscar en la Tabla..." type="text">
                                        <button aria-label="filter" class="btn btn-just-icon btn-round" (click)="filterDataTable()" color="accent" mat-mini-fab
                                            matTooltip="Buscar Notificación" type="submit">
                                            <mat-icon>search</mat-icon>
                                        </button>
                                    </div>
                                </mat-card>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <fieldset class="col-12 col-md-12 px-3">
                            <div class="table-responsive" *ngIf="getNotificationList?.length!=0 else elseBlock">
                                <table class="table" [dataSource]="getDataSource" matSort mat-table>
                                    <ng-container matColumnDef="title">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Título</th>
                                        <td mat-cell *matCellDef="let element">{{element.title}}</td>
                                    </ng-container>
                                    <ng-container matColumnDef="recentState">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Recientemente</th>
                                        <td mat-cell *matCellDef="let element">
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input [checked]="element.recentState" class="form-check-input" onclick="return false;" type="checkbox">
                                                    <span class="form-check-sign">
                                                        <span class="check"></span>
                                                    </span>
                                                </label>
                                            </div>
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="date">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
                                        <td mat-cell *matCellDef="let element">{{element.date}}</td>
                                    </ng-container>
                                    <ng-container matColumnDef="hour">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Hora</th>
                                        <td mat-cell *matCellDef="let element">{{element.hour}}</td>
                                    </ng-container>
                                    <ng-container matColumnDef="actions">
                                        <th mat-header-cell *matHeaderCellDef>Acciones</th>
                                        <td mat-cell *matCellDef="let element">
                                            <div class="example-button-row">
                                                <button color="warn" mat-mini-fab matTooltip="Visualizar Notificación" [routerLink]="['../userNotificationView',element.id]">
                                                    <mat-icon>visibility</mat-icon>
                                                </button>
                                            </div>
                                        </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="getDisplayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: getDisplayedColumns;"></tr>
                                </table>
                                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                            </div>
                            <ng-template class="alert alert-dark" #elseBlock>
                                No existen registros en la base de datos
                            </ng-template>
                        </fieldset>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>