<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header card-header-success">
              <div class="row">
                <div class="col-md-8">
                  <h4 class="card-title">Tabla de Actividades Adicionales</h4>
                  <p class="card-category">Módulo de Planificación</p>
                </div>
                <div class="col-md-4">
                  <mat-card>
                    <div class="example-button-row">
                      <div class="d-inline-block search-special">
                        <input aria-label="search" [(ngModel)]="search" placeholder="Buscar en la Tabla..." type="text">
                        <button aria-label="filter" class="btn btn-just-icon btn-round" (click)="filterDataTable()"
                          color="primary" mat-icon-button matTooltip="Buscar Actividad" type="submit">
                          <mat-icon>search</mat-icon>
                        </button>
                      </div>
                      <!-- <div class="d-inline-block create-update">
                        <button aria-label="create" class="btn btn-just-icon btn-round" color="primary" mat-icon-button
                          matTooltip="Crear Actividad" [routerLink]="['../otherActivities/form']" type="submit">
                          <mat-icon>add</mat-icon>
                        </button>
                      </div> -->
                    </div>
                  </mat-card>
                </div>
              </div>
            </div>
            <div class="card-body col">
              <div class="table-responsive" *ngIf="otherActivitiesList?.length!=0 else elseBlock">
                <table class="table" [dataSource]="dataSource" matSort mat-table>
                  <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Código de la Actividad</th>
                    <td mat-cell *matCellDef="let otherActivities">{{otherActivities.id}}</td>
                  </ng-container>
                  <ng-container matColumnDef="planning">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Código de la Planificación</th>
                    <td mat-cell *matCellDef="let otherActivities">{{otherActivities.planning.id}}</td>
                  </ng-container>
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre de la Actividad</th>
                    <td mat-cell *matCellDef="let otherActivities">{{otherActivities.name}}</td>
                  </ng-container>
                  <ng-container matColumnDef="duration">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Duración</th>
                    <td mat-cell *matCellDef="let otherActivities">{{otherActivities.duration}}</td>
                  </ng-container>
                  <ng-container matColumnDef="link">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Link de la Actividad</th>
                    <td mat-cell *matCellDef="let otherActivities">{{otherActivities.link}}</td>
                  </ng-container>  
                  <ng-container matColumnDef="complete">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Completado</th>
                    <td mat-cell *matCellDef="let otherActivities">
                      <div *ngIf="otherActivities.complete">
                        Si
                      </div>
                      <div *ngIf="!otherActivities.complete">
                        No
                      </div>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="aprobation">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Aprobación</th>
                    <td mat-cell *matCellDef="let otherActivities">{{otherActivities.aprobation}}</td>
                  </ng-container>
                  <ng-container matColumnDef="observations">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Observaciones</th>
                    <td mat-cell *matCellDef="let otherActivities">{{otherActivities.observations}}</td>
                  </ng-container>
                  <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Acciones</th>
                    <td mat-cell *matCellDef="let otherActivities">
                      <div class="example-button-row">
                        <button aria-label="view" class="btn btn-just-icon btn-outline-info btn-round"
                          matTooltip="Visualizar Actividad" [routerLink]="['../eotherActivitiesView',otherActivities.id]">
                          <mat-icon>visibility</mat-icon>
                        </button>
                        <div *ngIf="otherActivities.complete">
                        <button aria-label="update" class="btn btn-just-icon btn-outline-warning btn-round"
                          matTooltip="Modificar Actividad" [routerLink]="['../eotherActivities/form',otherActivities.id]">
                          <mat-icon>brush</mat-icon>
                        </button>
                      </div>
                        
                      </div>
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
              </div>
              <ng-template class="alert alert-dark" #elseBlock>
                No existen registros en la base de datos
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="delete-view loading" *ngIf="showSpiner">
    <div class="spinner">
      <mat-spinner color="primary"></mat-spinner>
      <mat-label>cargando ...</mat-label>
    </div>
  </div>
  

