form {
  margin-bottom: ($bmd-help-size-ratio * $font-size-base) * $line-height-base;

  .card & {
    margin: 0;
  }
  .navbar & {
    margin-bottom: 0;

    .bmd-form-group {
      display: inline-block;
      padding-top: 0;
    }

    .btn {
      margin-bottom: 0;
    }
  }
}

.form-control {
  background: $bmd-form-control-bg-repeat-y $bmd-form-control-bg-position;
  background-size: $bmd-form-control-bg-size;
  border: 0;
  height: 36px;
  transition: background 0s ease-out;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
  font-size: $mdb-input-font-size-base;

  &:focus,
  .bmd-form-group.mat-focused & {
    background-size: $bmd-form-control-bg-size-active;
    transition-duration: 0.3s;
  }

  @include material-placeholder() {
    color: $mdb-input-placeholder-color;
    font-weight: 400;
    font-size: $mdb-input-font-size-base;
  }

  .has-white & {
    @include material-placeholder() {
      color: $white-color;
    }
  }
}
.bmd-help {
  position: absolute;
  display: none;
  font-size: 0.8rem;
  font-weight: normal;
  @extend .text-muted;

  .bmd-form-group.mat-focused & {
    display: block;
  }

  &:nth-of-type(2) {
    padding-top: 1rem;
  }
  + .bmd-help {
    position: relative;
    margin-bottom: 0;
  }
}

@include bmd-selection-color();
@include bmd-form-color($bmd-label-color, $bmd-label-color-focus, $input-border-color, $input-border-color);

.has-success {
  @include bmd-form-color($brand-success, $brand-success, $brand-success, $input-border-color);
}

.has-info {
  @include bmd-form-color($brand-info, $brand-info, $brand-info, $input-border-color);
}

.has-white {
  @include bmd-form-color($white-color, $white-color, $white-color, $input-border-color-white);

  .form-control {
    &:focus {
      color: $white-color;
    }
  }
}

.has-warning {
  @include bmd-form-color($brand-warning, $brand-warning, $brand-warning, $input-border-color);
}

.has-danger {
  @include bmd-form-color($brand-danger, $brand-danger, $brand-danger, $input-border-color);
}

.has-rose {
  @include bmd-form-color($brand-rose, $brand-rose, $brand-rose, $input-border-color);
}

.bmd-form-group {
  position: relative;
  &:not(.has-success):not(.has-danger) {
    [class^="bmd-label"],
    [class*=" bmd-label"] {
      &.bmd-label-floating {
        color: $mdb-input-placeholder-color;
      }
    }
  }
  [class^="bmd-label"],
  [class*=" bmd-label"] {
    position: absolute;
    pointer-events: none;
    transition: 0.3s ease all;

    &.bmd-label-floating {
      will-change: left, top, contents;
      margin: 0;
      line-height: 1.4;
      font-weight: 400;
    }
  }

  &.is-filled .bmd-label-placeholder {
    display: none;
  }

  &.bmd-collapse-inline {
    display: flex;
    align-items: center;
    padding: 0;
    min-height: 2.1em;

    .collapse {
      flex: 1;
      display: none;
      &.show {
        max-width: 1200px;
      }
    }

    .collapsing,
    .width:not(.collapse),
    .collapse.show {
      display: block;
    }

    .collapsing {
      @include material-animation-default();
    }
  }
  @include bmd-form-size-variant(
    $font-size-base,
    $bmd-label-top-margin-base,
    $input-padding-y,
    $bmd-form-line-height,
    "bmd-form-group default"
  );

  &.bmd-form-group-sm {
    @include bmd-form-size-variant(
      $font-size-sm,
      $bmd-label-top-margin-sm,
      $input-padding-y-sm,
      $bmd-form-line-height-sm,
      "bmd-form-group sm"
    );
  }

  &.bmd-form-group-lg {
    @include bmd-form-size-variant(
      $font-size-lg,
      $bmd-label-top-margin-lg,
      $input-padding-y-lg,
      $bmd-form-line-height-sm,
      "bmd-form-group lg"
    );
  }
}

@include bmd-form-size-variant($font-size-base, $bmd-label-top-margin-base, $input-padding-y, $bmd-form-line-height);

select {
  &,
  &.form-control {
    -moz-appearance: none;
    -webkit-appearance: none;
  }
}
.form-inline {
  @include media-breakpoint-up(sm) {
    .input-group {
      display: inline-flex;
      align-items: center;
    }
  }
}

.form-control-feedback {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  pointer-events: none;
  opacity: 0;

  .has-success & {
    color: $green;
    opacity: 1;
  }

  .has-danger & {
    color: $red;
    opacity: 1;
  }
}

.form-group {
  padding-bottom: 10px;
  position: relative;
  margin: 8px 0 0;
}

textarea {
  height: auto !important;
  resize: none;
  line-height: $bmd-line-height !important;
}

.form-group input[type="file"] {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.form-newsletter {
  .input-group,
  .form-group {
    float: left;
    width: 78%;
    margin-right: 2%;
    margin-top: 9px;
    padding-top: 5px;
  }

  .btn {
    float: left;
    width: 20%;
    margin: 9px 0 0;
  }
}

.form-file-upload {
  .input-group-btn:last-child > .btn-round {
    border-radius: 30px;
  }

  .input-group-btn .btn {
    margin: 0;
  }

  .input-group {
    width: 100%;
  }
}

.input-group .input-group-btn {
  padding: 0 12px;
}

.form-control[disabled],
fieldset[disabled] .form-control,
.form-group .form-control[disabled],
fieldset[disabled] .form-group .form-control {
  background-color: transparent;
  cursor: not-allowed;
  border-bottom: 1px dotted $input-border-color;
  background-repeat: no-repeat;
}

.mat-form-field {
  display: block !important;
}

.has-success {
  .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label,
  .mat-form-field-empty.mat-form-field-label {
    color: #4caf50;
  }
  &.mat-focused {
    .mat-input-underline {
      .mat-input-ripple {
        background-color: #4caf50;
      }
    }
  }
}

.has-danger {
  .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label,
  .mat-form-field-empty.mat-form-field-label {
    color: #f44336;
  }
  &.mat-focused {
    .mat-input-underline {
      .mat-input-ripple {
        background-color: #f44336;
      }
    }
  }
}
.ng-invalid {
  &.mat-focused .mat-form-field-label {
    color: #f44336;
  }
}
form .ng-valid {
  .mat-input-underline {
    height: 2px;
  }
}
.mat-input-placeholder {
  color: rgba(0, 0, 0, 0.38);
}
.mat-input-underline {
  background-color: rgba(0, 0, 0, 0.12);
}
.mat-focused .mat-input-placeholder {
  color: $brand-primary;
}
.mat-input-ripple {
  background-color: $brand-primary;
}
