<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">{{getTitle}}</h4>
                        <p class="card-category">Módulo de Registro</p>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="getForm">
                            <fieldset class="col-12 col-md-12 px-3">
                                <legend class="text-success">Datos de la Política del Plan de Desarrollo:</legend>
                                <div class="row">
                                    <div class="col-md-12">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Objetivo del Plan de Desarrollo Nacional Toda una vida</mat-label>
                                            <mat-select formControlName="goalPlanId">
                                                <mat-option *ngFor="let goalPlan of getGoalPlanList" [value]="goalPlan.id">
                                                    {{goalPlan.name}}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="goalPlanId.invalid && (goalPlanId.dirty || goalPlanId.touched)">
                                                Se debe seleccionar un Objetivo del Plan de Desarrollo Nacional Toda una vida
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Nombre</mat-label>
                                            <textarea formControlName="name" matInput name="name" type="text"></textarea>
                                            <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">
                                                El nombre para la Política del Plan de Desarrollo es requerido
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="clearfix">
                                <button class="btn btn-danger pull-right" (click)='save()' [disabled]="!getForm.valid" mat-raised-button type="submit">{{getTitle}}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>