.background {
    background-image: url("../../../../assets/img/Background.jpg");
    background-size: auto;
    height: 45em;
    width: 100%;
}
.center {
    padding: 5% 5%;
}
h2 {
    font-size: 1.4em;
}
.login-container {
    padding: 5% 0.5% 0 2%;
}
.login-logo {
    margin-left: 41.5%;
    position: relative;
}
.login-logo img {
    border-radius: 4.5rem;
    width: 25%;
}
