<div class="container-fluid login-container">
    <div class="row background justify-content-center align-items-center">
        <div class="col-lg-6 col-md-12">
            <app-news-login></app-news-login>
        </div>
        <div class="col-lg-6 col-md-12">
            <mat-card>
                <mat-card-content>
                    <div class="login-logo">
                        <img alt="Logo ESPE" src="../../../../assets/img/Logo.png">
                    </div>
                    <blockquote class="blockquote text-center">
                        <h2>SISTEMA DE GESTIÓN DE PROYECTOS</h2>
                    </blockquote>
                    <form class="center" [formGroup]="getForm" (ngSubmit)="login()">
                        <mat-form-field>
                            <mat-label>Usuario</mat-label>
                            <input formControlName="username" id="username" matInput name="username" type="text">
                            <mat-error *ngIf="username.invalid && (username.dirty || username.touched)">
                                El nombre de usuario es requerido
                            </mat-error>
                            <mat-icon matSuffix>face</mat-icon>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Contraseña</mat-label>
                            <input formControlName="password" id="password" matInput name="password" [type]="getHide ? 'password' : 'text'">
                            <mat-error *ngIf="password.invalid && (password.dirty || password.touched)">
                                La contraseña es requerida
                            </mat-error>
                            <mat-icon matSuffix>lock</mat-icon>
                            <mat-icon (click)="setHide=!getHide" matSuffix>{{getHide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </mat-form-field>
                        <button [disabled]="!getForm.valid" mat-raised-button color="primary" type="submit">Ingresar</button>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>