<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header card-header-info">
              <h4 class="card-title">Visualizar Actividades Adicionales</h4>
              <p class="card-category">Módulo de Registro</p>
            </div>
            <div class="card-body">
              <fieldset class="col-12 col-md-12 px-3">
                <legend class="text-success">Datos de la Actividad:</legend>
                <div class="row">
                  <div class="col">
                    <mat-form-field class="example-full-width">
                      <mat-label>Código de la Actividad</mat-label>
                      <input matInput name="name" readonly [(value)]="otherActivities.id">
                    </mat-form-field>
                  </div>
                </div>
                <!-- <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Código de la Planificación</mat-label>
                        <input matInput name="name" readonly [(value)]="otherActivities.planning.id">
                      </mat-form-field>
                    </div>
                </div> -->
                <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Nombre de la Actividad</mat-label>
                        <input matInput name="callArea" readonly [(value)]="otherActivities.name">
                      </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="example-full-width">
                          <mat-label>Duración</mat-label>
                          <input matInput name="callArea" readonly [(value)]="otherActivities.duration">
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field class="example-full-width">
                          <mat-label>Link de la Actividad</mat-label>
                          <input matInput name="callArea" readonly [(value)]="otherActivities.link">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                  <div class="col">
                    <mat-form-field class="example-full-width">
                      <mat-label>Aprobación</mat-label>
                      <input matInput name="callArea" readonly [(value)]="otherActivities.aprobation">
                    </mat-form-field>
                  </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field class="example-full-width">
                    <mat-label>Observaciones</mat-label>
                    <input matInput name="callArea" readonly [(value)]="otherActivities.observations">
                  </mat-form-field>
                </div>
            </div>
              </fieldset>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="delete-view loading" *ngIf="showSpiner">
    <div class="spinner">
      <mat-spinner color="primary"></mat-spinner>
      <mat-label>cargando ...</mat-label>
    </div>
  </div>


