<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header" [class]="form.get('id').value ? 'card-header-warning' :'card-header-success'">
              <h4 class="card-title">{{title}}</h4>
              <p class="card-category">Módulo de Planificación</p>
            </div>
            <div class="card-body">
              <form [formGroup]="form">
                <fieldset class="col-12 col-md-12 px-3">
                  <legend class="text-success">Datos de la Publicación:</legend>
                  <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Código de la Publicación</mat-label>
                        <input formControlName="id" matInput name="id" type="text" readonly>
                      </mat-form-field>
                    </div>
                  </div>
                  <!-- <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Código de la Planificación</mat-label>
                        <input formControlName="planning" matInput name="planning" type="text">
                      </mat-form-field>
                    </div>
                  </div> -->
                  <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Código IES</mat-label>
                        <input formControlName="codIES" matInput name="codIES" type="text">
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col">
                    <mat-form-field class="example-full-width">
                      <mat-label>Tipo de la Publicación</mat-label>
                      <input formControlName="type" matInput name="type" type="text">
                    </mat-form-field>
                  </div>
                  <div class="col">
                    <mat-form-field class="example-full-width">
                      <mat-label>Tipo de Artículo</mat-label>
                      <input formControlName="articleType" matInput name="articleType" type="text">
                    </mat-form-field>
                  </div>
                  <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Código de la Publicación</mat-label>
                        <input formControlName="codPUB" matInput name="codPUB" type="text">
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Título de la Publicación</mat-label>
                        <input formControlName="title" matInput name="title" type="text">
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Base de Datos Indexada</mat-label>
                        <input formControlName="indexBase" matInput name="indexBase" type="text">
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Identificador de la Publicación (ISSN)</mat-label>
                        <input formControlName="codeISS" matInput name="codeISS" type="text">
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Nombre de la Revista</mat-label>
                        <input formControlName="magazineName" matInput name="magazineName" type="text">
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Cuartil</mat-label>
                        <input formControlName="quartile" matInput name="quartile" type="text">
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Número de la Revista</mat-label>
                        <input formControlName="magazineNumber" matInput name="magazineNumber" type="text">
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>SJR</mat-label>
                        <input formControlName="sjr" matInput name="sjr" type="text">
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Fecha de la publicación</mat-label>
                        <input formControlName="publicationDate" [matDatepicker]="picker" matInput name="publicationDate"
                          readonly>
                        <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
                        <mat-datepicker #picker startView="multi-year"></mat-datepicker>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Detalle de la Publicación</mat-label>
                        <input formControlName="detailField" matInput name="detailField" type="text">
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Estado de la Publicación</mat-label>
                        <input formControlName="condition" matInput name="condition" type="text">
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Link de la Publicación</mat-label>
                        <input formControlName="publicationLink" matInput name="publicationLink" type="text">
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Link de la Revista</mat-label>
                        <input formControlName="magazineLink" matInput name="magazineLink" type="text">
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Filiación de la Publicación</mat-label>
                        <mat-select [(ngModel)]="_filiation" [ngModelOptions]="{standalone: true}" name="filiation" >
                          <mat-option *ngFor="let option of _optionFiliation" [value]="option">
                            {{option.name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Participación</mat-label>
                        <input formControlName="competitor" matInput name="competitor" type="text">
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Observación</mat-label>
                        <input formControlName="observation" matInput name="observation" type="text">
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Duración</mat-label>
                        <input formControlName="duration" matInput name="duration" type="text" readonly>
                      </mat-form-field>
                    </div>
                  </div>
                  
                </fieldset>
                <div class="clearfix">
                  <button class="btn btn-danger pull-right" (click)='save()' [disabled]="!form.valid" mat-raised-button
                    type="submit">{{titles}}</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="delete-view loading" *ngIf="showSpiner">
    <div class="spinner">
      <mat-spinner color="primary"></mat-spinner>
      <mat-label>cargando ...</mat-label>
    </div>
  </div>
  
