<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header card-header-info">
              <h4 class="card-title">Visualizar Reporte</h4>
              <p class="card-category">Módulo de Reportes</p>
            </div>
            <div class="card-body">
              <fieldset class="col-12 col-md-12 px-3">
                <legend class="text-success">Datos de la Planificación:</legend>
                <div class="row">
                  <div class="col">
                    <mat-form-field class="example-full-width">
                      <mat-label>Código de la Planificación</mat-label>
                      <input matInput name="name"  readonly [(value)]="planning.id"/>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <mat-form-field class="example-full-width">
                      <mat-label>Fecha de Registro</mat-label>
                      <input
                        matInput
                        name="callArea"
                        readonly
                        [(value)]="planning.registrationDate"
                      />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <mat-form-field class="example-full-width">
                      <mat-label>Numero de Horas Planificadas</mat-label>
                      <input
                        matInput
                        name="callArea"
                        readonly
                        [(value)]="planning.maxDuration"
                      />
                    </mat-form-field>
                  </div>
                  <div class="col">
                    <mat-form-field class="example-full-width">
                      <mat-label>Numero de Horas Planificadas Completadas</mat-label>
                      <input
                        matInput
                        name="callArea"
                        readonly
                        [(value)]="_numberHoursComplete"
                      />
                    </mat-form-field>
                  </div>
                  <div class="col">
                    <mat-form-field class="example-full-width">
                      <mat-label>Numero de Horas Planificadas Incompletas</mat-label>
                      <input
                        matInput
                        name="callArea"
                        readonly
                        [(value)]="_numberHoursIncomplete"
                      />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <mat-form-field class="example-full-width">
                      <mat-label>Cantidad de Actividades Planificadas</mat-label>
                      <input
                        matInput
                        name="callArea"
                        readonly
                        [(value)]="_numberActivities"
                      />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <mat-label>Actividades Planificadas</mat-label>
                    <div class="table-responsive" *ngIf="listActivities?.length!=0 else ">
                      <table class="table" [dataSource]="dataSource" matSort mat-table>
                        <ng-container matColumnDef="name">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Actividad</th>
                          <td mat-cell *matCellDef="let activities">{{activities.name}}</td>
                        </ng-container>
                        <ng-container matColumnDef="duration">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Duración</th>
                          <td mat-cell *matCellDef="let activities">{{activities.duration}}</td>
                        </ng-container>
                        <ng-container matColumnDef="complete">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado de Desarollo</th>
                          <td mat-cell *matCellDef="let activities">
                          <div *ngIf="activities.complete">
                            Completa
                          </div>
                          <div *ngIf="!activities.complete">
                            Incompleta
                          </div>
                          </td>
                        </ng-container>
                        <ng-container matColumnDef="aprobation">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado de Aprobación</th>
                          <td mat-cell *matCellDef="let activities">{{activities.aprobation}}</td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      </table>
                      <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
                    </div>   
                  </div>
                </div>
                <div class="container mt -5 pt - 5">
                      <div class="col-7">
                          <h3>Reporte</h3>
                        <div class="chart-wrapper">
                          <canvas baseChart
                              [data]="pieChartData"
                              [labels]="pieChartLabels"
                              [chartType]="pieChartType"
                              [options]="pieChartOptions"
                              [plugins]="pieChartPlugins"
                              [colors]="pieChartColors"
                              [legend]="pieChartLegend">
                          </canvas>
                        </div>
                      </div>
                    </div>          
              </fieldset>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  