<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header card-header-success">
            <div class="row">
              <div class="col-md-8">
                <h4 class="card-title ">Tabla de Proyectos</h4>
                <p class="card-category">Módulo de Seguimiento</p>
              </div>
              <div class="col-md-4">
                <mat-card>
                  <div class="example-button-row">
                    <div class="d-inline-block search-special">
                      <input aria-label="search" [(ngModel)]="setSearch" placeholder="Buscar en la Tabla..."
                        type="text">
                      <button aria-label="filter" class="btn btn-just-icon btn-round" (click)="filterDataTable()"
                        color="primary" mat-icon-button matTooltip="Buscar Proyecto" type="submit">
                        <mat-icon>search</mat-icon>
                      </button>
                    </div>
                  </div>
                </mat-card>
              </div>
            </div>
          </div>
          <div class="card-body col">
            <div class="table-responsive" *ngIf="projectList?.length!=0 else elseBlock">
              <table class="table" [dataSource]="dataSource" matSort mat-table>
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Título</th>
                  <td mat-cell *matCellDef="let project">{{project.nameSpanish}}</td>
                </ng-container>
                <ng-container matColumnDef="callName">
                  <th mat-header-cell *matHeaderCellDef>Convocatoria</th>
                  <td mat-cell *matCellDef="let project">{{project.call.name}}</td>
                </ng-container>
                <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef>Acciones</th>
                  <td mat-cell *matCellDef="let project">
                    <div class="example-button-row">
                      <button aria-label="view" class="btn btn-just-icon btn-outline-info btn-round"
                        matTooltip="Aprobación factura" [routerLink]="['../projectInvoice',project.id]">
                        <mat-icon>attach_money</mat-icon>
                      </button>
                    </div>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
            <ng-template class="alert alert-dark" #elseBlock>
              No existen registros en la base de datos
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="delete-view loading" *ngIf="showSpiner">
  <div class="spinner">
    <mat-spinner color="primary"></mat-spinner>
    <mat-label>cargando ...</mat-label>
  </div>
</div>
