/* You can add global styles to this file, and also import other style files */
@use '~@angular/material' as mat;
@import "assets/scss/custom-material-theming.scss";

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.create-update {
  @include mat.all-component-colors($create-update);
}

.delete-view {
  @include mat.all-component-colors($delete-view);
}

html,
body {
  height: 100%;
}

.loading {
  align-items: center;
  background: rgba(0, 0, 0, 0.15);
  bottom: 0;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.search-special {
  @include mat.all-component-colors($search-special);
}

.specials {
  @include mat.all-component-colors($specials);
}

.spinner {
  left: 45%;
  position: absolute;
  top: 50%;
}
