<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-success">
            <div class="row">
              <div class="col-md-8">
                <h4 class="card-title ">Tabla de los Proyectos</h4>
                <p class="card-category">Módulo de Registro</p>
              </div>
              <div class="col-md-4">
                <mat-card>
                  <div class="example-button-row">
                    <div class="d-inline-block search-special">
                      <button aria-label="filter" class="btn btn-just-icon btn-round" (click)="filterDataTable()" color="primary" mat-icon-button matTooltip="Buscar Proyecto"
                        type="submit">
                        <mat-icon>search</mat-icon>
                      </button>
                    </div>
                    <div class="d-inline-block create-update">
                      <button aria-label="create" class="btn btn-just-icon btn-round" color="primary" mat-icon-button matTooltip="Crear Proyecto" [routerLink]="['../project/form']"
                        type="submit">
                        <mat-icon>add</mat-icon>
                      </button>
                    </div>
                  </div>
                </mat-card>
              </div>
            </div>
          </div>
          <div class="card-body col">
            <div class="table-responsive" *ngIf="projectList?.length!=0 else elseBlock">
              <table class="table" [dataSource]="dataSource" matSort mat-table>
                <ng-container matColumnDef="nameSpanish">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Título</th>
                  <td mat-cell *matCellDef="let project">{{project.nameSpanish}}</td>
                </ng-container>
                <ng-container matColumnDef="callName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Convocatoria</th>
                  <td mat-cell *matCellDef="let project">{{project.call.name}}</td>
                </ng-container>
                <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef>Acciones</th>
                  <td mat-cell *matCellDef="let project">
                    <div class="example-button-row">
                      <button aria-label="view" class="btn btn-just-icon btn-outline-info btn-round" matTooltip="Visualizar Proyecto" [routerLink]="['../projectView',project.id]">
                        <mat-icon>visibility</mat-icon>
                      </button>
                      <button aria-label="update" class="btn btn-just-icon btn-outline-warning btn-round" matTooltip="Modificar Proyecto"
                        *ngIf="project.state == 'REGISTERED' || project.state == 'MODIFICATION' || project.state == 'REJECTED'" [routerLink]="['../project/form',project.id]">
                        <mat-icon>brush</mat-icon>
                      </button>
                      <button aria-label="delete" class="btn btn-just-icon btn-outline-danger btn-round" (click)="delete(project)" matTooltip="Eliminar Proyecto">
                        <mat-icon>delete</mat-icon>
                      </button>
                      <button aria-label="projectNotification" class="btn btn-just-icon btn-outline-primary btn-round" matTooltip="Visualizar Notificaciones del Proyecto"
                        *ngIf="project.state != 'REGISTERED' && project.state != 'APPROVING'" [routerLink]="['../projectNotification',project.id]">
                        <mat-icon>notifications</mat-icon>
                      </button>
                    </div>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
            <ng-template class="alert alert-dark" #elseBlock>
              No existen registros en la base de datos
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="delete-view loading" *ngIf="showSpiner">
  <div class="spinner">
    <mat-spinner color="primary"></mat-spinner>
    <mat-label>cargando ...</mat-label>
  </div>
</div>