<form [formGroup]="form">
    <h3>Datos Generales</h3>
    <div class="row">
        <div class="col">
            <mat-form-field class="example-full-width">
                <mat-label>Título del Proyecto en Español</mat-label>
                <input formControlName="nameSpanish" matInput name="nameSpanish" type="text">
                <mat-error *ngIf="nameSpanish.invalid && (nameSpanish.dirty || nameSpanish.touched)">
                    El título del proyecto en español es requerido
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field class="example-full-width">
                <mat-label>Título del Proyecto en Inglés</mat-label>
                <input formControlName="nameEnglish" matInput name="nameEnglish" type="text">
                <mat-error *ngIf="nameEnglish.invalid && (nameEnglish.dirty || nameEnglish.touched)">
                    El título del proyeto en inglés es requerido
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field class="example-full-width">
                <mat-label>Nombre del Departamento/Centro</mat-label>
                <mat-select formControlName="collegeDepartmentId">
                    <mat-option *ngFor="let collegeDepartment of collegeDepartmentList" [value]="collegeDepartment.id">
                        {{collegeDepartment.name}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="collegeDepartmentId.invalid && (collegeDepartmentId.dirty || collegeDepartmentId.touched)">
                    Se debe seleccionar departamento/centro
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field class="example-full-width">
                <mat-label>Carrera</mat-label>
                <mat-select formControlName="collegeCareerId">
                    <mat-option *ngFor="let collegeCareer of collegeCareerList" [value]="collegeCareer.id">
                        {{collegeCareer.name}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="collegeCareerId.invalid && (collegeCareerId.dirty || collegeCareerId.touched)">
                    Se debe seleccionar una carrera
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field class="example-full-width">
                <mat-label>Programa de Posgrado</mat-label>
                <mat-select formControlName="postgraduateProgramId">
                    <mat-option *ngFor="let postgraduateProgram of postgraduateProgramList" [value]="postgraduateProgram.id">
                        {{postgraduateProgram.name}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="postgraduateProgramId.invalid && (postgraduateProgramId.dirty || postgraduateProgramId.touched)">
                    Se debe seleccionar un programa de posgrado
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field class="example-full-width">
                <mat-label>Nombre del Programa (Dominios Académicos)</mat-label>
                <mat-select formControlName="programId">
                    <mat-option *ngFor="let program of programList" [value]="program.id">
                        {{program.name}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="programId.invalid && (programId.dirty || programId.touched)">
                    Se debe seleccionar un programa
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field class="example-full-width">
                <mat-label>Línea de Investigación</mat-label>
                <mat-select formControlName="lineResearchId">
                    <mat-option *ngFor="let lineResearch of lineResearchList" [value]="lineResearch.id">
                        {{lineResearch.name}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="lineResearchId.invalid && (lineResearchId.dirty || lineResearchId.touched)">
                    Se debe seleccionar una línea de investigación
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field class="example-full-width">
                <mat-label>Grupo de Investigación Asociado</mat-label>
                <mat-select formControlName="researchGroupId">
                    <mat-option *ngFor="let researchGroup of researchGroupList" [value]="researchGroup.id">
                        {{researchGroup.name}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="researchGroupId.invalid && (researchGroupId.dirty || researchGroupId.touched)">
                    Se debe seleccionar un grupo de investigación asociado
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field class="example-full-width">
                <mat-label>Tipo de Investigación</mat-label>
                <mat-select formControlName="researchTypeId">
                    <mat-option *ngFor="let researchType of researchTypeList" [value]="researchType.id">
                        {{researchType.name}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="researchTypeId.invalid && (researchTypeId.dirty || researchTypeId.touched)">
                    Se debe seleccionar un tipo de investigación
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field class="example-full-width">
                <mat-label>Disciplina Científica</mat-label>
                <mat-select formControlName="scientificDisciplineId">
                    <mat-option *ngFor="let scientificDiscipline of scientificDisciplineList" [value]="scientificDiscipline.id">
                        {{scientificDiscipline.name}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="scientificDisciplineId.invalid && (scientificDisciplineId.dirty || scientificDisciplineId.touched)">
                    Se debe seleccionar una disciplina científica
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field class="example-full-width">
                <mat-label>Objetivo Socio Económico</mat-label>
                <mat-select formControlName="economicPartnerGoalId">
                    <mat-option *ngFor="let economicPartnerGoal of economicPartnerGoalList" [value]="economicPartnerGoal.id">
                        {{economicPartnerGoal.name}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="economicPartnerGoalId.invalid && (economicPartnerGoalId.dirty || economicPartnerGoalId.touched)">
                    Se debe seleccionar un objetivo socio económico
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <br>
    <h3>Cobertura y Localización</h3>
    <app-coverage [formGroup]="form"></app-coverage>
    <h3>Objetivos Plan de Desarrollo Nacional Toda una Vida</h3>
    <div class="row">
        <div class="col">
            <mat-form-field class="example-full-width">
                <mat-label>Objetivos</mat-label>
                <mat-select [formControl]="goalPlanForm" (selectionChange)="changePolicy()">
                    <mat-option [matTooltip]="goalPlan.name" *ngFor="let goalPlan of goalPlanList" [value]="goalPlan.id">
                        {{goalPlan.name}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="goalPlanForm.invalid && (goalPlanForm.dirty || goalPlanForm.touched)">
                    Se debe seleccionar una Objetivo del Plan de Desarrollo Nacional Toda una vida
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field class="example-full-width">
                <mat-label>Políticas</mat-label>
                <mat-select formControlName="policyPlanList" multiple>
                    <mat-option *ngFor="let policyPlan of policyPlanList" [value]="policyPlan.id">
                        {{policyPlan.name}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="policies.invalid && (policies.dirty || policies.touched)">
                    Se debe seleccionar al menos una Política
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <br>
    <h3>Área de Conocimiento</h3>
    <div class="row">
        <div class="col">
            <mat-form-field class="example-full-width">
                <mat-label>Área de Conocimiento ESPE</mat-label>
                <mat-select formControlName="espeAreaKnowledgeId">
                    <mat-option *ngFor="let espeAreaKnowledge of espeAreaKnowledgeList" [value]="espeAreaKnowledge.id">
                        {{espeAreaKnowledge.name}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="espeAreaKnowledgeId.invalid && (espeAreaKnowledgeId.dirty || espeAreaKnowledgeId.touched)">
                    Se debe seleccionar un área de conocimiento ESPE
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field class="example-full-width">
                <mat-label>Área de Conocimiento Unesco</mat-label>
                <mat-select [formControl]="unescoAreaKnowledgeForm" (selectionChange)="changeUnesco()">
                    <mat-option *ngFor="let unescoAreaKnowledge of unescoAreaKnowledgeList" [value]="unescoAreaKnowledge.id">
                        {{unescoAreaKnowledge.name}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="unescoAreaKnowledgeForm.invalid && (unescoAreaKnowledgeForm.dirty || unescoAreaKnowledgeForm.touched)">
                    Se debe seleccionar un área de conocimiento Unesco
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field class="example-full-width">
                <mat-label>Sub Área de Conocimiento Unesco</mat-label>
                <mat-select formControlName="subUnescoAreaKnowledgeId">
                    <mat-option *ngFor="let subUnescoAreaKnowledge of subUnescoAreaKnowledgeList" [value]="subUnescoAreaKnowledge.id">
                        {{subUnescoAreaKnowledge.name}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="subUnescoAreaKnowledgeId.invalid && (subUnescoAreaKnowledgeId.dirty || subUnescoAreaKnowledgeId.touched)">
                    Se debe seleccionar un subárea de conocimiento Unesco
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field class="example-full-width">
                <mat-label>Campo Amplio</mat-label>
                <mat-select formControlName="ampleAreaKnowledgeId">
                    <mat-option *ngFor="let ampleAreaKnowledge of ampleAreaKnowledgeList" [value]="ampleAreaKnowledge.id" [matTooltip]="ampleAreaKnowledge.name">
                        {{ampleAreaKnowledge.name}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="ampleAreaKnowledgeId.invalid && (ampleAreaKnowledgeId.dirty || ampleAreaKnowledgeId.touched)">
                    Se debe seleccionar un campo amplio
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field class="example-full-width">
                <mat-label>Campo Específico</mat-label>
                <mat-select formControlName="specificAreaKnowledgeId">
                    <mat-option *ngFor="let specificAreaKnowledge of specificAreaKnowledgeList" [value]="specificAreaKnowledge.id" [matTooltip]="specificAreaKnowledge.name">
                        {{specificAreaKnowledge.name}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="specificAreaKnowledgeId.invalid && (specificAreaKnowledgeId.dirty || specificAreaKnowledgeId.touched)">
                    Se debe seleccionar un campo específico
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field class="example-full-width">
                <mat-label>Campo Detallado</mat-label>
                <mat-select formControlName="detailedAreaKnowledgeId">
                    <mat-option *ngFor="let detailedAreaKnowledge of detailedAreaKnowledgeList" [value]="detailedAreaKnowledge.id">
                        {{detailedAreaKnowledge.name}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="detailedAreaKnowledgeId.invalid && (detailedAreaKnowledgeId.dirty || detailedAreaKnowledgeId.touched)">
                    Se debe seleccionar un campo detallado
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <br>
    <h3>Instituciones Involucradas en el Proyecto</h3>
    <app-institution-involved [formGroup]="form"></app-institution-involved>
    <br>
    <h3>Monto(Presupuesto de Riesgos)</h3>
    <div class="row">
        <div class="col">
            <mat-form-field class="example-full-width">
                <mat-label>Presupuesto Inversión Aporte ESPE</mat-label>
                <input formControlName="espeInvestmentRiskBudget" matInput name="espeInvestmentRiskBudget" type="number">
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field class="example-full-width">
                <mat-label>Presupuesto Corriente Aporte ESPE</mat-label>
                <input formControlName="espeCurrentRiskBudget" matInput name="espeCurrentRiskBudget" type="number">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field class="example-full-width">
                <mat-label>Presupuesto Inversión Aporte Entidad Auspiciantes/Beneficiaria</mat-label>
                <input formControlName="sponsorInvestmentRiskBudget" matInput name="sponsorInvestmentRiskBudget" type="number">
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field class="example-full-width">
                <mat-label>Presupuesto Corriente Aporte Entidad Auspiciantes/Beneficiaria</mat-label>
                <input formControlName="sponsorCurrentRiskBudget" matInput name="sponsorCurrentRiskBudget" type="number">
            </mat-form-field>
        </div>
    </div>
    <br>
    <h3>Plazo de ejecución</h3>
    <div class="row">
        <div class="col">
            <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Plazo de ejecución</mat-label>
                <mat-date-range-input [rangePicker]="picker" [required]="true">
                    <input formControlName="startDate" matInput matStartDate name="startDate" placeholder="Fecha de inicio" readonly>
                    <input formControlName="endDate" matEndDate matInput name="endDate" placeholder="Fecha de finalización" readonly>
                </mat-date-range-input>
                <mat-error *ngIf="startDate.invalid && (startDate.dirty || startDate.touched)">
                    La fecha de inicio es requerida
                </mat-error>
                <mat-error *ngIf="endDate.invalid && (endDate.dirty || endDate.touched)">
                    La fecha de fin es requerida
                </mat-error>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker color="accent" #picker startView="year"></mat-date-range-picker>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field class="example-full-width">
                <mat-label>Estado</mat-label>
                <mat-select formControlName="projectStatusId">
                    <mat-option *ngFor="let projectStatus of projectStatusList" [value]="projectStatus.id" [matTooltip]="projectStatus.name">
                        {{projectStatus.name}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="projectStatusId.invalid && (projectStatusId.dirty || projectStatusId.touched)">
                    Se debe seleccionar un estado para el proyecto
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <br>
    <h3>Personal responsable del proyecto</h3>
    <app-project-responsible [formGroup]="form"></app-project-responsible>
    <mat-accordion class="example-headers-align">
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-description>
                    Registrar conocimiento ancestral
                    <mat-icon>cottage</mat-icon>
                </mat-panel-description>
                <mat-panel-title>
                    Consideraciones de género y conocimiento ancestral
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ckeditor [editor]="editor" formControlName="ancestralKnowledge" (ready)="onReady($event)"></ckeditor>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-description>
                    Registrar consecuencias no intencionales
                    <mat-icon>healing</mat-icon>
                </mat-panel-description>
                <mat-panel-title>
                    Consecuencias no intencionales
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ckeditor [editor]="editor" formControlName="unintentionalConsequences" (ready)="onReady($event)"></ckeditor>
        </mat-expansion-panel>
    </mat-accordion>
</form>
<div class="delete-view loading" *ngIf="showSpiner">
    <div class="spinner">
        <mat-spinner color="primary"></mat-spinner>
        <mat-label>cargando ...</mat-label>
    </div>
</div>