<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header card-header-info">
            <h4 class="card-title">Visualizar Notificación</h4>
            <p class="card-category">Módulo de Administración</p>
          </div>
          <div class="card-body">
            <fieldset class="col-12 col-md-12 px-3">
              <legend class="text-success">Datos de la Notificación:</legend>
              <div class="row">
                <div class="col">
                  <mat-form-field class="example-full-width">
                    <mat-label>Título</mat-label>
                    <input matInput name="subtitle" readonly [(value)]="notification.title">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field class="example-full-width">
                    <mat-label>Username Usuario</mat-label>
                    <input matInput name="username" readonly [(value)]="notification.user">
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="example-full-width">
                    <mat-label>Nombre Usuario</mat-label>
                    <input matInput name="nameUser" readonly [(value)]="userGeneral.name">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <mat-label>Fecha de la Notificación</mat-label>
                    <input matInput name="date" readonly [(value)]="notification.date">
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <mat-label>Hora de la Notificación</mat-label>
                    <input matInput name="hour" readonly [(value)]="notification.hour">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <mat-label>Descripción</mat-label>
                    <textarea matInput name="description" readonly [(value)]="notification.description"></textarea>
                  </mat-form-field>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="delete-view loading" *ngIf="showSpiner">
  <div class="spinner">
    <mat-spinner color="primary"></mat-spinner>
    <mat-label>cargando ...</mat-label>
  </div>
</div>