<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header card-header-success">
              <div class="row">
                <div class="col-md-8">
                  <h4 class="card-title">Tabla de Capítulo de libro</h4>
                  <p class="card-category">Módulo de Planificación</p>
                </div>
                <div class="col-md-4">
                  <mat-card>
                    <div class="example-button-row">
                      <div class="d-inline-block search-special">
                        <input aria-label="search" [(ngModel)]="search" placeholder="Buscar en la Tabla..." type="text">
                        <button aria-label="filter" class="btn btn-just-icon btn-round" (click)="filterDataTable()"
                          color="primary" mat-icon-button matTooltip="Buscar Capítulo de libro" type="submit">
                          <mat-icon>search</mat-icon>
                        </button>
                      </div>
                     <!--  <div class="d-inline-block create-update">
                        <button aria-label="create" class="btn btn-just-icon btn-round" color="primary" mat-icon-button
                          matTooltip="Crear Capítulo de libro" [routerLink]="['../bookChapters/form']" type="submit">
                          <mat-icon>add</mat-icon>
                        </button>
                      </div> -->
                    </div>
                  </mat-card>
                </div>
              </div>
            </div>
            <div class="card-body col">
              <div class="table-responsive" *ngIf="bookChaptersList?.length!=0 else elseBlock">
                <table class="table" [dataSource]="dataSource" matSort mat-table>
                  <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Código del capítulo del libro</th>
                    <td mat-cell *matCellDef="let bookChapters">{{bookChapters.id}}</td>
                  </ng-container>
                  <ng-container matColumnDef="planning">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Código de la Planificación</th>
                    <td mat-cell *matCellDef="let bookChapters">{{bookChapters.planning.id}}</td>
                  </ng-container>
                  <ng-container matColumnDef="codIES">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Código IES</th>
                    <td mat-cell *matCellDef="let bookChapters">{{bookChapters.codIES}}</td>
                  </ng-container>
                  <ng-container matColumnDef="publicationType">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo de la Publicación</th>
                    <td mat-cell *matCellDef="let bookChapters">{{bookChapters.publicationType}}</td>
                  </ng-container>
                  <ng-container matColumnDef="chapterCode">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Código Capítulo de la Publicación</th>
                    <td mat-cell *matCellDef="let bookChapters">{{bookChapters.chapterCode}}</td>
                  </ng-container>
                  <ng-container matColumnDef="codPUB">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Código de la Publicación</th>
                    <td mat-cell *matCellDef="let bookChapters">{{bookChapters.codPUB}}</td>
                  </ng-container>
                  <ng-container matColumnDef="capTitle">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre Capítulo de libro</th>
                    <td mat-cell *matCellDef="let bookChapters">{{bookChapters.capTitle}}</td>
                  </ng-container>
                  <ng-container matColumnDef="bookTitle">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre del libro</th>
                    <td mat-cell *matCellDef="let bookChapters">{{bookChapters.bookTitle}}</td>
                  </ng-container>
                  <ng-container matColumnDef="codISB">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Identificador del Libro (ISBN)</th>
                    <td mat-cell *matCellDef="let bookChapters">{{bookChapters.codISB}}</td>
                  </ng-container>
                  <ng-container matColumnDef="editor">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Editores y Compiladores</th>
                    <td mat-cell *matCellDef="let bookChapters">{{bookChapters.editor}}</td>
                  </ng-container>
                  <ng-container matColumnDef="numberPages">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Número de Páginas</th>
                    <td mat-cell *matCellDef="let bookChapters">{{bookChapters.numberPages}}</td>
                  </ng-container>
                  <ng-container matColumnDef="publicationDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de la Publicación</th>
                    <td mat-cell *matCellDef="let bookChapters">{{bookChapters.publicationDate}}</td>
                  </ng-container>
                  <ng-container matColumnDef="detailField">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Detalle de la Publicación</th>
                    <td mat-cell *matCellDef="let bookChapters">{{bookChapters.detailField}}</td>
                  </ng-container>
                  <ng-container matColumnDef="filiation">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Filiación de la Publicación</th>
                    <td mat-cell *matCellDef="let bookChapters">
                      <div *ngIf="bookChapters.filiation">
                        Si
                      </div>
                      <div *ngIf="!bookChapters.filiation">
                        No
                      </div>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="competitor">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Participación</th>
                    <td mat-cell *matCellDef="let bookChapters">{{bookChapters.competitor}}</td>
                  </ng-container>
                  <ng-container matColumnDef="duration">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Duración</th>
                    <td mat-cell *matCellDef="let bookChapters">{{bookChapters.duration}}</td>
                  </ng-container>
                  <ng-container matColumnDef="complete">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Completado</th>
                    <td mat-cell *matCellDef="let bookChapters">
                      <div *ngIf="bookChapters.complete">
                        Si
                      </div>
                      <div *ngIf="!bookChapters.complete">
                        No
                      </div>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="aprobation">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Aprobación</th>
                    <td mat-cell *matCellDef="let bookChapters">{{bookChapters.aprobation}}</td>
                  </ng-container>
                  <ng-container matColumnDef="observations">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Observaciones</th>
                    <td mat-cell *matCellDef="let bookChapters">{{bookChapters.observations}}</td>
                  </ng-container>
                  <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Acciones</th>
                    <td mat-cell *matCellDef="let bookChapters">
                      <div class="example-button-row">
                        <button aria-label="view" class="btn btn-just-icon btn-outline-info btn-round"
                          matTooltip="Visualizar Capítulo de libro" [routerLink]="['../bookChaptersView',bookChapters.id]">
                          <mat-icon>visibility</mat-icon>
                        </button>
                        <div *ngIf="bookChapters.planning.aprobation">
                        <button aria-label="update" class="btn btn-just-icon btn-outline-warning btn-round"
                          matTooltip="Modificar Capítulo de libro" [routerLink]="['../bookChapters/form',bookChapters.id]">
                          <mat-icon>brush</mat-icon>
                        </button>
                        </div>
                        <!-- <button aria-label="delete" class="btn btn-just-icon btn-outline-danger btn-round"
                          (click)="delete(bookChapters)" matTooltip="Eliminar Capítulo de libro">
                          <mat-icon>delete</mat-icon>
                        </button> -->
                      </div>
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
              </div>
              <ng-template class="alert alert-dark" #elseBlock>
                No existen registros en la base de datos
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="delete-view loading" *ngIf="showSpiner">
    <div class="spinner">
      <mat-spinner color="primary"></mat-spinner>
      <mat-label>cargando ...</mat-label>
    </div>
  </div>
  
