.fileInput {
  display: flex;
  position: relative;
  z-index: 0;

  & button {
    background-color: darkcyan;
    border-radius: 0.3em;
    color: white;
    font-size: 1em;
    height: 2em;
    padding: 0.3em 0 0 0;
    position: absolute;
    right: 0;
    width: 2em;
    z-index: -1;
  }

  & input {
    display: none;
    height: 2em;
  }

  & label {
    border: 0.12em solid gray;
    border-radius: 0.3em;
    display: -webkit-box;
    height: 2em;
    hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -ms-word-break: break-all;
    overflow: hidden;
    padding: 0.25em 2em 0 0;
    position: relative;
    -webkit-hyphens: auto;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    width: 100%;
    word-break: break-all;
    word-break: break-word;
  }
}
mat-icon {
  font-size: 1.2em;
}
table {
  align-items: center;
  width: 100%;
}
