<form [formGroup]="form">
    <div class="row">
        <div class="col">
            <mat-form-field class="example-full-width">
                <mat-label>Convocatoria</mat-label>
                <mat-select formControlName="callId" (selectionChange)="loadRequirements()">
                    <mat-option *ngFor="let call of callList" [value]="call.id">
                        {{call.name}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="callId.invalid && (callId.dirty || callId.touched)">
                    Se debe seleccionar una convocatoria activa
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="table-responsive" *ngIf="callRequirementList?.length!=0 else elseBlock">
        <table class="table" [dataSource]="dataSource" matSort mat-table>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Requisitos</th>
                <td mat-cell *matCellDef="let callRequirement">{{callRequirement.requirement.name}}</td>
            </ng-container>
            <ng-container matColumnDef="file">
                <th mat-header-cell *matHeaderCellDef>Archivo</th>
                <td mat-cell *matCellDef="let callRequirement">
                    <div class="fileInput">
                        <label for="requirementFile{{callRequirement.requirement.id}}">{{files["requirementFile"+callRequirement.requirement.id]}}</label>
                        <input accept="application/pdf, .doc,.docx,.xml,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                            (change)="setFile($event,callRequirement)" id="requirementFile{{callRequirement.requirement.id}}" type="file">
                        <button aria-label="Seleccionar archivo">
                            <mat-icon>attach_file</mat-icon>
                        </button>
                    </div>
                    <mat-error *ngIf="form.get('requirementFile' + callRequirement.id).invalid">
                        <div>
                            El documento para {{callRequirement.requirement.name}} es requerido
                        </div>
                    </mat-error>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <ng-template class="alert alert-dark" #elseBlock>
        Seleccione una Convocatoria
    </ng-template>
</form>
<div class="delete-view loading" *ngIf="showSpiner">
    <div class="spinner">
        <mat-spinner color="primary"></mat-spinner>
        <mat-label>cargando ...</mat-label>
    </div>
</div>