<mat-accordion class="example-headers-align">
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-description>
                Visualizar la situación actual
                <mat-icon>analytics</mat-icon>
            </mat-panel-description>
            <mat-panel-title>
                Descripción de la situación actual del tema a investigar
            </mat-panel-title>
        </mat-expansion-panel-header>
        <ckeditor data="{{project.currentSituation}}" [editor]="editor" (ready)="onReady($event)"></ckeditor>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-description>
                Visualizar diagnóstico de problema
                <mat-icon>screen_search_desktop</mat-icon>
            </mat-panel-description>
            <mat-panel-title>
                Identificación, descripción y diagnóstico del problema
            </mat-panel-title>
        </mat-expansion-panel-header>
        <ckeditor data="{{project.problemDiagnosis}}" [editor]="editor" (ready)="onReady($event)"></ckeditor>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-description>
                Debe contener indicadores cuantificados, que permitirán medir el impacto, servirá para la construcción de metas e indicadores
                <mat-icon>perm_data_setting </mat-icon>
            </mat-panel-description>
            <mat-panel-title>
                Línea base del proyecto
            </mat-panel-title>
        </mat-expansion-panel-header>
        <ckeditor data="{{project.projectBase}}" [editor]="editor" (ready)="onReady($event)"></ckeditor>
    </mat-expansion-panel>
</mat-accordion>
<br>
<h3>Identificación y caracterización de la población objetivo</h3>
<h4>Beneficiarios</h4>
<div class="row">
    <div class="col">
        <mat-form-field class="example-full-width">
            <mat-label>Número directo hombres</mat-label>
            <input matInput name="numberPopulationMale" [(value)]="project.numberPopulationMale">
        </mat-form-field>
    </div>
    <div class="col">
        <mat-form-field class="example-full-width">
            <mat-label>Número directo Mujeres</mat-label>
            <input matInput name="numberPopulationFemale" [(value)]="project.numberPopulationFemale">
        </mat-form-field>
    </div>
    <div class="col">
        <mat-form-field class="example-full-width">
            <mat-label>Total número inderecto</mat-label>
            <input matInput name="numberPopulationFemale" [(value)]="project.numberPopulationIndirect">
        </mat-form-field>
    </div>
    <div class="col">
        <mat-form-field class="example-full-width">
            <mat-label>Personas con capacidades especiales</mat-label>
            <input matInput name="numberPopulationFemale" [(value)]="project.numberPopulationIndirect">
        </mat-form-field>
    </div>
</div>
<h4>Participantes</h4>
<div class="row">
    <div class="col">
        <mat-form-field class="example-full-width">
            <mat-label>Docentes participantes hombres</mat-label>
            <input matInput name="numberParticipantProfessorMale" [(value)]="project.numberParticipantProfessorMale">
        </mat-form-field>
    </div>
    <div class="col">
        <mat-form-field class="example-full-width">
            <mat-label>Docentes participantes mujeres</mat-label>
            <input matInput name="numberParticipantProfessorFemale" [(value)]="project.numberParticipantProfessorFemale">
        </mat-form-field>
    </div>
</div>
<div class="row">
    <div class="col">
        <mat-form-field class="example-full-width">
            <mat-label>Estudiantes participantes hombres</mat-label>
            <input matInput name="numberParticipantStudentMale" [(value)]="project.numberParticipantStudentMale">
        </mat-form-field>
    </div>
    <div class="col">
        <mat-form-field class="example-full-width">
            <mat-label>Estudiantes participantes mujeres</mat-label>
            <input matInput name="numberParticipantStudentFemale" [(value)]="project.numberParticipantStudentFemale">
        </mat-form-field>
    </div>
</div>
<div class="row">
    <div class="col">
        <mat-form-field class="example-full-width">
            <mat-label>Número total otros participantes</mat-label>
            <input matInput name="numberParticipantOther" [(value)]="project.numberParticipantOther">
        </mat-form-field>
    </div>
</div>
<br>
<mat-accordion class="example-headers-align">
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-description>
                Ingresar Factores de éxito
                <mat-icon> analytics</mat-icon>
            </mat-panel-description>
            <mat-panel-title>
                Factores críticos de éxito:Matriz de riesgo
            </mat-panel-title>
        </mat-expansion-panel-header>
        <ckeditor data="{{project.criticalFactorSuccess}}" [editor]="editor" (ready)="onReady($event)"></ckeditor>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-description>
                Ingresar restricciones o supuestos del proyecto
                <mat-icon>web_asset_off</mat-icon>
            </mat-panel-description>
            <mat-panel-title>
                Restricciones/Supuestos
            </mat-panel-title>
        </mat-expansion-panel-header>
        <ckeditor data="{{project.restrictionAssumption}}" [editor]="editor" (ready)="onReady($event)"></ckeditor>
    </mat-expansion-panel>
</mat-accordion>