<div class="main-content">
    <div class="container-fluid">
        <div class="col">
            <div class="card">
                <div [class]="form.get('id').value ? 'card-header-warning' :'card-header-success'">
                    <h4 class="card-title">{{title}}</h4>
                    <p class="card-category">Modulo de Registro</p>
                </div>
                <div class="card-body">
                    <form class="example-form" [formGroup]="form">
                        <fieldset class="col px-3">
                            <mat-horizontal-stepper labelPosition="bottom" linear *ngIf="!showSpiner" #stepper>
                                <ng-template matStepperIcon="call">
                                    <mat-icon>record_voice_over</mat-icon>
                                </ng-template>
                                <ng-template matStepperIcon="registry">
                                    <mat-icon>app_registration</mat-icon>
                                </ng-template>
                                <mat-step label="Selección de convocatoria" state="call" [stepControl]="callId">
                                    <app-project-requirement [formGroup]="form" [fullForm]="fullForm"></app-project-requirement>
                                </mat-step>
                                <mat-step label="Registro de proyecto" state="registry">
                                    <mat-stepper labelPosition="bottom" *ngIf="!showSpiner" [orientation]="(stepperOrientation | async)!">
                                        <ng-template matStepperIcon="data">
                                            <mat-icon>all_inbox</mat-icon>
                                        </ng-template>
                                        <ng-template matStepperIcon="problem">
                                            <mat-icon>disc_full</mat-icon>
                                        </ng-template>
                                        <ng-template matStepperIcon="goal">
                                            <mat-icon>golf_course</mat-icon>
                                        </ng-template>
                                        <ng-template matStepperIcon="methodology">
                                            <mat-icon>timeline</mat-icon>
                                        </ng-template>
                                        <ng-template matStepperIcon="viability">
                                            <mat-icon>flaky</mat-icon>
                                        </ng-template>
                                        <ng-template matStepperIcon="bibliography">
                                            <mat-icon>bookmarks</mat-icon>
                                        </ng-template>
                                        <ng-template matStepperIcon="annex">
                                            <mat-icon>file_present</mat-icon>
                                        </ng-template>
                                        <mat-step label="Datos Generales" state="data">
                                            <app-general-data [formGroup]="form" [subUnescoAreaKnowledge]="subUnescoAreaKnowledge"></app-general-data>
                                        </mat-step>
                                        <mat-step label="Diagnóstico y Problema" state="problem">
                                            <app-diagnosis-and-problem [formGroup]="form"> </app-diagnosis-and-problem>
                                        </mat-step>
                                        <mat-step label="Objetivos" state="goal">
                                            <app-goal [formGroup]="form"> </app-goal>
                                        </mat-step>
                                        <mat-step label="Metodología para la investigación" state="methodology">
                                            <ckeditor [editor]="editor" formControlName="researchMethodology" (ready)="onReady($event)"></ckeditor>
                                        </mat-step>
                                        <mat-step label="Viabilidad y plan de sostenibilidad" state="viability">
                                            <app-viability [formGroup]="form"></app-viability>
                                        </mat-step>
                                        <mat-step label="Bibliografía" state="bibliography">
                                            <app-bibliography [formGroup]="form"></app-bibliography>
                                        </mat-step>
                                        <mat-step label="Anexos" state="annex">
                                            <app-annex [formGroup]="form" [fullForm]="fullForm"></app-annex>
                                        </mat-step>
                                    </mat-stepper>
                                </mat-step>
                            </mat-horizontal-stepper>
                            <hr>
                        </fieldset>
                        <div class="clearfix">
                            <button class="btn btn-danger pull-right" (click)='save()' [disabled]="!form.valid" mat-raised-button type="submit">{{title}}</button>
                        </div>
                        <div class="clearfix">
                            <button class="btn btn-danger pull-right" (click)="send()" [disabled]="!fullForm.valid" mat-raised-button type="submit">Enviar proyecto a
                                evaluación</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="delete-view loading" *ngIf="showSpiner">
    <div class="spinner">
        <mat-spinner color="primary"></mat-spinner>
        <mat-label>cargando ...</mat-label>
    </div>
</div>