<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header card-header-info">
              <h4 class="card-title">Visualizar Libro</h4>
              <p class="card-category">Módulo de Registro</p>
            </div>
            <div class="card-body">
              <fieldset class="col-12 col-md-12 px-3">
                <legend class="text-success">Datos del libro:</legend>
                <div class="row">
                  <div class="col">
                    <mat-form-field class="example-full-width">
                      <mat-label>Código del libro</mat-label>
                      <input matInput name="name" readonly [(value)]="books.id">
                    </mat-form-field>
                  </div>
                </div>
                <!-- <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Código de la Planificación</mat-label>
                        <input matInput name="name" readonly [(value)]="books.planning.id">
                      </mat-form-field>
                    </div>
                </div> -->
                <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Código IES</mat-label>
                        <input matInput name="callArea" readonly [(value)]="books.codIES">
                      </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="example-full-width">
                          <mat-label>Tipo de la Publicación</mat-label>
                          <input matInput name="callArea" readonly [(value)]="books.publicationType">
                        </mat-form-field>
                    </div>
                  <div class="col">
                    <mat-form-field class="example-full-width">
                      <mat-label>Código de la Publicación</mat-label>
                      <input matInput name="callArea" readonly [(value)]="books.codPUB">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Título del Libro</mat-label>
                        <input matInput name="callArea" readonly publicationCode [(value)]="books.bookTitle">
                      </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Identificador del Libro (ISBN)</mat-label>
                        <input matInput name="callArea" readonly publicationCode [(value)]="books.codISB">
                      </mat-form-field>
                    </div>
                </div>
                <div class="row">
                  <div class="col">
                    <mat-form-field class="example-full-width">
                      <mat-label>Fecha de la Publicación</mat-label>
                      <input matInput name="callArea" readonly publicationCode [(value)]="books.publicationDate">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Detalle del Libro</mat-label>
                        <input matInput name="callArea" readonly publicationCode [(value)]="books.detailField">
                      </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Revisón por pares</mat-label>
                        <input matInput name="callArea" readonly publicationCode [(value)]="books.peerReviewed">
                      </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Filiación de la Publicación</mat-label>
                        <div *ngIf="books.filiation">
                          <input matInput name="callArea" readonly>Si
                        </div>
                        <div *ngIf="!books.filiation">
                          <input matInput name="callArea" readonly>No
                        </div>
                      </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Participación</mat-label>
                        <input matInput name="callArea" readonly publicationCode [(value)]="books.competitor">
                      </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Duración</mat-label>
                        <input matInput name="callArea" readonly publicationCode [(value)]="books.duration">
                      </mat-form-field>
                    </div>
                </div>
                <div class="row">
                  <div class="col">
                    <mat-form-field class="example-full-width">
                      <mat-label>Aprobación</mat-label>
                      <input matInput name="callArea" readonly [(value)]="books.aprobation">
                    </mat-form-field>
                  </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field class="example-full-width">
                    <mat-label>Observaciones</mat-label>
                    <input matInput name="callArea" readonly [(value)]="books.observations">
                  </mat-form-field>
                </div>
            </div>
              </fieldset>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="delete-view loading" *ngIf="showSpiner">
    <div class="spinner">
      <mat-spinner color="primary"></mat-spinner>
      <mat-label>cargando ...</mat-label>
    </div>
  </div>
